-
	const SliderInfoCardNews = {
		includeSection: 'SliderInfoCard',
		cn: {
			margin: 'mt-200 mt-80@xs',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs'
				}
			},
			Heading: {
				data: {
					tag: "h3",
					text: "Публикации, репортажи и интервью",
					footnoteText: 'сми о нас'
				},
				cn: {
					size: "h3",
					margin: 'mb-40 mb-20@md',
				},
			},
			Slider: {
				data: {
					dataSlideEffect: 'slide',
					dataSlidesPerView: 'auto'
				},
				opt: {
					isSliderNavigation: true,
					isSliderBorderBottom: true
				}
			},
			ColCardSlider: {
				cn:{
					cols: 'col-10 offset-2 offset-0@xs col-4@xs',
				}
			},
			PageLink: {
				data: {
					href: '#!',
					text: 'Все публикации'
				},
				opt: {
					icon: true,
				}
			},
			SliderInfoArr: [
				{
					elem: {
						CardInfo: {
							data: {
								img: require('IMAGES/sections/press-center-news-icons/RGRU.png'),
							},
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								TextDate: {
									data: {
										text: '09.03.2023'
									},
									cn: {
										style: 'cap',
									}
								},
								Text: {
									data: {
										text: 'Новые химические производства появятся в Кемерово'
									},
									cn: {
										margin: 'mb-20 mb-16@xs lh-01 lh-03@xs',
										size: 'bigger',
									},
								},
							},
							cn: {
								cols: 'col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
								isDefaultWidth: true,
								isFixedHeight: true,
								isw90: 'w-90',
							},
							opt: {
								isNewsIcon: true,
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							data: {
								img: require('IMAGES/sections/press-center-news-icons/RBG.png'),
							},
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								TextDate: {
									data: {
										text: '12.11.2022'
									},
									cn: {
										style: 'cap',
									}
								},
								Text: {
									data: {
										text: 'Стабильная поддержка сельского хозяйства'
									},
									cn: {
										margin: 'mb-20 mb-16@xs lh-01 lh-03@xs',
										size: 'bigger',
									},
								},
							},
							cn: {
								cols: 'col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
								isDefaultWidth: true,
								isFixedHeight: true,
								isw90: 'w-90',
							},
							opt: {
								isNewsIcon: true,
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							data: {
								img: require('IMAGES/sections/press-center-news-icons/R1.png'),
							},
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								TextDate: {
									data: {
										text: '24.11.2022'
									},
									cn: {
										style: 'cap',
									}
								},
								Text: {
									data: {
										text: 'Репортаж о станции УФ обеззараживания сточных вод в г. Кемерово'
									},
									cn: {
										margin: 'mb-20 mb-16@xs lh-01 lh-03@xs',
										size: 'bigger'
									},
								},
							},
							cn: {
								cols: 'col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
								isDefaultWidth: true,
								isFixedHeight: true,
								isw90: 'w-90',
							},
							opt: {
								isNewsIcon: true,
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							data: {
								img: require('IMAGES/sections/press-center-news-icons/AIF.png'),
							},
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								TextDate: {
									data: {
										text: '01.11.2022'
									},
									cn: {
										tag: 'span',
										style: 'cap',
									}
								},
								Text: {
									data: {
										text: 'Объединяющее творчество'
									},
									cn: {
										margin: 'mb-20 mb-16@xs lh-01 lh-03@xs',
										size: 'bigger'
									},
								},
							},
							cn: {
								cols: 'col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
								isDefaultWidth: true,
								isFixedHeight: true,
								isw90: 'w-90',
							},
							opt: {
								isNewsIcon: true,
							}
						}
					}
				},
			],
		}
	}
