-
	function classes(cn) {
		const BLOCK = CN('accordion');

		return {
			accordion: BLOCK({}),
			accordionController: BLOCK('controller'),
			accordionTitleWrap: BLOCK('title-wrap'),
			accordionTitle: BLOCK('title'),
			accordionBody: BLOCK('body'),
			accordionText: BLOCK('text'),
		}
	}
