-
	function classes(cn) {

		const BLOCK = CN('story-card')

		return {
			storyCard: BLOCK({}),
			storyCardImage: BLOCK('image'),
			storyCardText: BLOCK('card-text'),
			storyCardTextStory: BLOCK('text-story'),
			storyCardVideoStory: BLOCK('video-story'),
			storyCardVideoPlayer: BLOCK('video-player'),
			storyCardTextCreator: BLOCK('text-creator'),
			storyCardArrow: BLOCK('arrow'),
		}
	}
