-
	const PageLinks = {
		includeSection: 'PageLinks',
		elem: {
			Col2: {
				cn: {
					cols: 'col-2 col-6@md col-4@xs'
				}
			},
			Col10: {
				cn: {
					cols: 'col-10 col-6@md col-4@xs'
				}
			},
			PageLinkArr: [
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'водитель категории «С», «Е»'
							},
							cn: {
								size: 'bigger',
								textTransform: 'text-transform-none',
							},
						},
						TextDateBottom: {
							data: {
								text: '12.03.2023'
							},
							cn: {
								style: 'cap'
							}
						},
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'слесарь по сборке металлоконструкций',
							},
							cn: {
								size: 'bigger',
							},
						},
						TextDateBottom: {
							data: {
								text: '12.03.2023'
							},
							cn: {
								style: 'cap'
							}
						},
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'электросварщик ручной сварки',
							},
							cn: {
								size: 'bigger'
							},
						},
						TextDateBottom: {
							data: {
								text: '12.03.2023'
							},
							cn: {
								style: 'cap'
							}
						},
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'бетонщик',
							},
							cn: {
								size: 'bigger',
							},
						},
						TextDateBottom: {
							data: {
								text: '12.03.2023'
							},
							cn: {
								style: 'cap'
							}
						},
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'изолировщик на термоизоляцию',
							},
							cn: {
								size: 'bigger',
							},
						},
						TextDateBottom: {
							data: {
								text: '12.03.2023'
							},
							cn: {
								style: 'cap'
							}
						},
					},
					opt: {
						icon: true
					},
				},
			],
			FootNote: {
				data: {text: 'вакансии'},
				cn: {style: 'cap', textTransform: 'upper'}
			},
			Button: {
				data: {
					href: '#!',
					text: 'все вакансии'
				},
				cn: {
					size: 'large',
					margin: 'ml-auto'
				},
				opt: {
					icon: true
				}
			}
		}
	}
