-
	const VideoFacts = {
		includeSection: 'VideoFacts',
		cn: {
			margin: 'mt-200 mt-80@xs'
		},
		elem: {
			Video: {
				data: {
					videoMp4: '/public/static-files/video/sample-30s.mp4'
				},
			},
		}
	}
