-
	const HeadingDetailedVideo = {
		includeSection: 'HeadingDetailed',
		elem: {
			Col: {
				cn: {
					cols: 'col-5 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h4',
					text: '«Азот» — входит в ТОП-100 работодателей России 2022 года по версии hh.ru',
				},
				cn: {
					size: 'h4',
					margin: 'mt-20',
					textIndent: true
				},
			}
		}
	}
