-
	const ImageFacts = {
		includeSection: 'ImageFacts',
		data: {
			img: require('IMAGES/sections/image-heading/image-heading-company-programs-list.jpg'),
			imgXs: require('IMAGES/sections/image-heading/image-heading-company-programs-list-xs.jpg')
		},
		cn: {
			margin: 'mt-40 mt-20@xs',
			isReverse: true,
		},
		elem: {
			Facts: {
				elem: {
					Row: {
						cn: {
							gap: 'rg-24@xs',
							margin: 'mt-40 mt-20@xs',
						}
					},
					TitleTextArr: [
						{
							data: {
								title: '154',
								text: 'человека воспользовалось нашими<br>программами',
							},
							elem: {
								Col: {
									cn: {
										offset: 'offset-2 offset-0@xs',
										gap: 'rg-16 rg-4@xs',
										cols: 'col-3 col-4xs',
									}
								}
							}
						},
						{
							data: {
								title: '34 200',
								text: 'рублей заработная плата<br>на стажировке',
							},
							elem: {
								Col: {
									cn: {
										gap: 'rg-16 rg-4@xs',
										cols: 'col-3 col-4@xs',
									}
								}
							}
						},
					],
				},
			}
		},
	}
