// # !!! IMPORTANT !!! ALARM !!! DANGEROUS !!! # //
// Компонент сделан в соответствие с дизайн-системой. Размеры по системе, которая согласована с дизайнером!
// Все несоответствия по размерам в новом дизайн-макете требуют переделки со стороны дизайна и приведения макета в соответствие с дизайн-системой!
.text {
	letter-spacing: -0.01em;

	color: $black;

	line-height: 1.35;
	@include font-size-responsive(1.6, 2);

	// # MEDIA QUERY 360 # //
	@include media(xs) {
		line-height: 1.3;
	}

	// # STYLE MODIFIER # //
	// stylelint-disable-next-line order/order
	&_cap {
		letter-spacing: 0.1em;

		font-family: $font-helvetica;
		font-weight: 550;
		line-height: 1.4;
		@include font-size-responsive(1);
	}

	&_cap-small {
		letter-spacing: 0.06em;

		font-family: $font-helvetica;
		font-weight: 550;
		line-height: 1.2;
		@include font-size-responsive(0.8);
	}

	// # SIZE MODIFIER # //
	&_small {
		line-height: 1.2;
		@include font-size-responsive(1.6);

		// # MEDIA QUERY 360 # //
		@include media(xs) {
			line-height: 1.3;
		}
	}

	&_big {
		line-height: 1;
		@include font-size-responsive(2, 2.4);
	}

	&_bigger {
		line-height: 1.1;

		@include font-size-responsive(2.2, 4);

		@include media(xs) {
			line-height: 1.1;
		}
	}

	&_biggest {
		letter-spacing: -0.04em;

		line-height: 1;

		@include font-size-responsive(2.8, 6.4);

		@include media(xs) {
			line-height: 1;
		}
	}

	&_smaller {
		@include font-size-responsive(1);
	}

	// # TEXT TRANSFORM MODIFIER # //
	&_upper {
		text-transform: uppercase;
	}

	&_lower {
		text-transform: lowercase;
	}
}
