mixin TabsPageLinks(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include TabsPageLinks.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	section(class=styles.tabsPageLinks)
		+Container
			div(class=styles.tabsPageLinksWrapper)
				+Row
					+Col({ cn: { cols: 'col-9 col-4@xs' } })
						+Heading(ELEM('Heading'))
				+Row
					+Col
						+Tabs(ELEM('Tabs'))
							+TabsButtons(ELEM('TabsButtons'))(class=styles.tabsPageLinksButtons)
							+TabsBody
								for item in ELEM_ARR('TabsContentArr')
									//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК I_DATA, I_OPT, I_ELEM # -//
									include ../../shared/helpers/pug/shortcut-check-store
									- const stylesItem = classes(item && item.cn);

									//- # ВЕРСТКА # -//
									+TabsContent(item)(class=styles.tabsPageLinksContent)
										for item in I_ELEM_ARR('PageLinksArr')
											include ../../shared/helpers/pug/shortcut-check-store
											+I('PageLink', item)
