-
	const ArrowedSection = {
		includeSection: 'ArrowedSection',
		cn: {
			margin: 'mt-200 mt-80@xs',
			firstLineMargin: 'description-medium',
		},
		elem: {
			Heading: {
				data: {
					tag: 'h3',
					text: 'Как стать частью команды?',
					footnoteText: 'этапы трудоустройства',
				},
				cn: {
					margin: 'mb-40 mb-8@xs',
					size: 'h3',
				},
			},
			ArrowedFactsArr: [
				{
					data: {
						text: '1',
						description: 'выберите нужный товар.<br>много или мало — решать<br>вам, а мы поможем',
					},
					cn: {
						textLine: 'line',
						textSize: 'medium',
						textColor: 'selection-color',
						descriptionMargin: 'mt-20 mt-8@xs'
					}
				},
				{
					data: {
						text: '2',
						description: 'заполните форму заказа.<br>укажите все данные в полях<br>ввода',
					},
					cn: {
						textLine: 'line',
						textSize: 'medium',
						textColor: 'selection-color',
						descriptionMargin: 'mt-20 mt-8@xs',
					}
				},
				{
					data: {
						text: '3',
						description: 'дождитесь звонка. наши<br>операторы свяжутся<br>для уточнения деталей',
					},
					cn: {
						textLine: 'arrow',
						textSize: 'medium',
						textColor: 'selection-color',
						descriptionMargin: 'mt-20 mt-8@xs',
					}
				},
				{
					data: {
						text: '4',
						description: 'ожидайте продукцию.<br>свободное время для вас,<br>а доставка для нас',
					},
					cn: {
						textSize: 'medium',
						textColor: 'selection-color',
						descriptionMargin: 'mt-20 mt-8@xs',
					}
				},
			],
		}
	}
