-
	const FilterPageLinks = {
		includeSection: 'FilterPageLinks',
		cn: {
			margin: 'mt-80 mt-48@xs',
		},
		elem: {
			Advert: {
				elem: {
					Row: {
						cn: {
							margin: 'mt-120 mb-120 mt-80@xs mb-80@xs'
						}
					},
					Heading: {
						data: {
							tag: "h3",
							text: 'Получайте ежемесячные стипендии на предприятии «Азот»',
							footnoteText: "образование"
						},
						cn: {
							size: 'h3',
							textIndent: true
						},
					},
					Button: {
						data: {
							text: 'Подробнее',
							href: '#!'
						},
						cn: {
							size: 'large',
							margin: 'mt-0 mt-20@xs',
							width: 'auto'
						},
						opt: {
							icon: true,
						}
					}
				}
			},
			FilterSearch: {
				data: {
					action: '/vacancies'
				}
			},
			FiltersSelectControl: {
				cn: {
					marginSelectControl: 'ml-auto'
				},
				elem: {
					SelectFilterArr: [
						{
							data: {
								text: 'Специальность',
								nameSelect: 'speciality'
							},
							dataArr: {
								optionArr: [
									{
										data: {
											text: 'Специальность 1'
										}
									},
									{
										data: {
											text: 'Специальность 2'
										}
									},
									{
										data: {
											text: 'Специальность 3'
										}
									},
									{
										data: {
											text: 'Специальность 4'
										}
									}
								]
							},
						},
						{
							data: {
								text: 'Опыт',
								nameSelect: 'experience'
							},
							dataArr: {
								optionArr: [
									{
										data: {
											text: '1 год'
										}
									},
									{
										data: {
											text: '2 года'
										}
									},
									{
										data: {
											text: '3 года'
										}
									},
								]
							},
						},
					],
				},
				cn: {
					marginSelectControl: 'ml-auto'
				}
			},
			PageLinkArr: [
				{
					data: {
						href: '#!',
					},
					elem: {
						ColLink: {
							cn: {
								cols: 'col-6 col-3@xs',
								display: 'd-flex',
								direction: 'flex-direction-column@xs',
								alignItems: 'align-items-start'
							}
						},
						Text: {
							data: {
								text: 'мастер (ремонтно-механический участок по изготовлению оборудования)'
							},
							cn: {
								size: 'bigger'
							},
						},
						TextSalary: {
							data: {
								text: 'от 34 500₽'
							},
							cn: {
								size: 'big'
							}
						},
						TextExperience: {
							data: {
								text: 'от 1–3 лет'
							},
							cn: {
								size: 'big'
							}
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						ColLink: {
							cn: {
								cols: 'col-6 col-3@xs',
								display: 'd-flex',
								direction: 'flex-direction-column@xs',
								alignItems: 'align-items-start'
							}
						},
						Text: {
							data: {
								text: 'слесарь по сборке металлоконструкций зданиях',
							},
							cn: {
								size: 'bigger',
							},
						},
						TextSalary: {
							data: {
								text: 'от 34 500₽'
							},
							cn: {
								size: 'big'
							}
						},
						TextExperience: {
							data: {
								text: 'от 1–3 лет'
							},
							cn: {
								size: 'big'
							}
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						ColLink: {
							cn: {
								cols: 'col-6 col-3@xs',
								display: 'd-flex',
								direction: 'flex-direction-column@xs',
								alignItems: 'align-items-start'
							}
						},
						Text: {
							data: {
								text: 'электросварщик ручной сварки для зданий',
							},
							cn: {
								size: 'bigger',
							},
						},
						TextSalary: {
							data: {
								text: 'от 34 500₽'
							},
							cn: {
								size: 'big'
							}
						},
						TextExperience: {
							data: {
								text: 'от 1–3 лет'
							},
							cn: {
								size: 'big'
							}
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						ColLink: {
							cn: {
								cols: 'col-6 col-3@xs',
								display: 'd-flex',
								direction: 'flex-direction-column@xs',
								alignItems: 'align-items-start'
							}
						},
						Text: {
							data: {
								text: 'мастер (ремонтно-механический участок по изготовлению оборудования)'
							},
							cn: {
								size: 'bigger'
							},
						},
						TextSalary: {
							data: {
								text: 'от 34 500₽'
							},
							cn: {
								size: 'big'
							}
						},
						TextExperience: {
							data: {
								text: 'от 1–3 лет'
							},
							cn: {
								size: 'big'
							}
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						ColLink: {
							cn: {
								cols: 'col-6 col-3@xs',
								display: 'd-flex',
								direction: 'flex-direction-column@xs',
								alignItems: 'align-items-start'
							}
						},
						Text: {
							data: {
								text: 'слесарь по сборке металлоконструкций зданиях',
							},
							cn: {
								size: 'bigger',
							},
						},
						TextSalary: {
							data: {
								text: 'от 34 500₽'
							},
							cn: {
								size: 'big'
							}
						},
						TextExperience: {
							data: {
								text: 'от 1–3 лет'
							},
							cn: {
								size: 'big'
							}
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						ColLink: {
							cn: {
								cols: 'col-6 col-3@xs',
								display: 'd-flex',
								direction: 'flex-direction-column@xs',
								alignItems: 'align-items-start'
							}
						},
						Text: {
							data: {
								text: 'электросварщик ручной сварки для зданий',
							},
							cn: {
								size: 'bigger',
							},
						},
						TextSalary: {
							data: {
								text: 'от 34 500₽'
							},
							cn: {
								size: 'big'
							}
						},
						TextExperience: {
							data: {
								text: 'от 1–3 лет'
							},
							cn: {
								size: 'big'
							}
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						ColLink: {
							cn: {
								cols: 'col-6 col-3@xs',
								display: 'd-flex',
								direction: 'flex-direction-column@xs',
								alignItems: 'align-items-start'
							}
						},
						Text: {
							data: {
								text: 'мастер (ремонтно-механический участок по изготовлению оборудования)'
							},
							cn: {
								size: 'bigger'
							},
						},
						TextSalary: {
							data: {
								text: 'от 34 500₽'
							},
							cn: {
								size: 'big'
							}
						},
						TextExperience: {
							data: {
								text: 'от 1–3 лет'
							},
							cn: {
								size: 'big'
							}
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						ColLink: {
							cn: {
								cols: 'col-6 col-3@xs',
								display: 'd-flex',
								direction: 'flex-direction-column@xs',
								alignItems: 'align-items-start'
							}
						},
						Text: {
							data: {
								text: 'слесарь по сборке металлоконструкций зданиях',
							},
							cn: {
								size: 'bigger',
							},
						},
						TextSalary: {
							data: {
								text: 'от 34 500₽'
							},
							cn: {
								size: 'big'
							}
						},
						TextExperience: {
							data: {
								text: 'от 1–3 лет'
							},
							cn: {
								size: 'big'
							}
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						ColLink: {
							cn: {
								cols: 'col-6 col-3@xs',
								display: 'd-flex',
								direction: 'flex-direction-column@xs',
								alignItems: 'align-items-start'
							}
						},
						Text: {
							data: {
								text: 'электросварщик ручной сварки для зданий',
							},
							cn: {
								size: 'bigger',
							},
						},
						TextSalary: {
							data: {
								text: 'от 34 500₽'
							},
							cn: {
								size: 'big'
							}
						},
						TextExperience: {
							data: {
								text: 'от 1–3 лет'
							},
							cn: {
								size: 'big'
							}
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						ColLink: {
							cn: {
								cols: 'col-6 col-3@xs',
								display: 'd-flex',
								direction: 'flex-direction-column@xs',
								alignItems: 'align-items-start'
							}
						},
						Text: {
							data: {
								text: 'мастер (ремонтно-механический участок по изготовлению оборудования)'
							},
							cn: {
								size: 'bigger'
							},
						},
						TextSalary: {
							data: {
								text: 'от 34 500₽'
							},
							cn: {
								size: 'big'
							}
						},
						TextExperience: {
							data: {
								text: 'от 1–3 лет'
							},
							cn: {
								size: 'big'
							}
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						ColLink: {
							cn: {
								cols: 'col-6 col-3@xs',
								display: 'd-flex',
								direction: 'flex-direction-column@xs',
								alignItems: 'align-items-start'
							}
						},
						Text: {
							data: {
								text: 'слесарь по сборке металлоконструкций зданиях',
							},
							cn: {
								size: 'bigger',
							},
						},
						TextSalary: {
							data: {
								text: 'от 34 500₽'
							},
							cn: {
								size: 'big'
							}
						},
						TextExperience: {
							data: {
								text: 'от 1–3 лет'
							},
							cn: {
								size: 'big'
							}
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						ColLink: {
							cn: {
								cols: 'col-6 col-3@xs',
								display: 'd-flex',
								direction: 'flex-direction-column@xs',
								alignItems: 'align-items-start'
							}
						},
						Text: {
							data: {
								text: 'электросварщик ручной сварки для зданий',
							},
							cn: {
								size: 'bigger',
							},
						},
						TextSalary: {
							data: {
								text: 'от 34 500₽'
							},
							cn: {
								size: 'big'
							}
						},
						TextExperience: {
							data: {
								text: 'от 1–3 лет'
							},
							cn: {
								size: 'big'
							}
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						ColLink: {
							cn: {
								cols: 'col-6 col-3@xs',
								display: 'd-flex',
								direction: 'flex-direction-column@xs',
								alignItems: 'align-items-start'
							}
						},
						Text: {
							data: {
								text: 'мастер (ремонтно-механический участок по изготовлению оборудования)'
							},
							cn: {
								size: 'bigger'
							},
						},
						TextSalary: {
							data: {
								text: 'от 34 500₽'
							},
							cn: {
								size: 'big'
							}
						},
						TextExperience: {
							data: {
								text: 'от 1–3 лет'
							},
							cn: {
								size: 'big'
							}
						}
					},
					opt: {
						icon: true
					},
				},
			],
			LoadMoreButton: {
				data: {
					href: '/vacancies-list',
					text: 'Показать еще',
				},
				cn: {
					margin: 'mt-40 mt-20@xs mr-auto ml-auto',
					size: 'large',
					isMoreButton: 'js-load-more-button',
				},
			}
		}
	}
