-
	const ResumeForm = {
		includeSection: 'ResumeForm',
		cn: {
			margin: 'mt-200 mt-80@xs',
		},
		elem: {
			Form: {
				data: {
					action: '/api/forms/callback',
					init: 'false'
				},
				elem: {
					FromFieldsArr: [
						{
							elem: {
								Field: {
									elem: {
										Col: {
											cn: {
												cols: 'col-12 col-4@xs',
											}
										},
										Input: {
											data: {
												name: 'name'
											},
										},
										Label: {
											data: {
												tag: 'span',
												text: "имя",
												textTransform: 'upper'
											},
										}
									}
								}
							}
						},
						{
							elem: {
								Field: {
									elem: {
										Col: {
											cn: {
												cols: 'col-12 col-4@xs',
											}
										},
										Input: {
											data: {
												name: 'phone'
											},
										},
										Label: {
											data: {
												tag: 'span',
												text: "номер телефона",
												textTransform: 'upper'
											},
										}
									}
								}
							}
						},
						{
							elem: {
								Field: {
									elem: {
										Col: {
											cn: {
												cols: 'col-12 col-4@xs',
											}
										},
										Input: {
											data: {
												type: 'text',
												name: 'email'
											},
										},
										Label: {
											data: {
												tag: 'span',
												text: "ваш email",
												textTransform: 'upper'
											},
										}
									}
								},
							}
						},
						{
							elem: {
								Field: {
									elem: {
										Col: {
											cn: {
												cols: 'col-12 col-4@xs',
											}
										},
										Input: {
											data: {
												name: 'file',
												type: 'file',
												required: 'required'
											},
										},
										Label: {
											data: {
												tag: 'span',
												text: "прикрепите файл",
												textTransform: 'upper'
											},
										}
									}
								}
							}
						},
					],
					Agreement: {
						data: {
							text: 'Нажимая «отправить», вы даёте согласие на <a href="#" class="link light-grey">обработку персональных данных</a>'
						}
					},
					SubmitButton: {
						data: {
							text: 'Отправить',
							type: 'submit',
						}
					}
				}
			}
		}
	}
