svg(class=styles.linkArrow viewBox="0 0 9 9" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
	path(d="M9.54688 1.10547L3.82782 1.89651L7.37241 6.45384L9.54688 1.10547ZM0.853845 8.50014L6.30176 4.26288L5.68782 3.47353L0.239905 7.71079L0.853845 8.50014Z")
