svg(fill="none" viewBox="0 0 64 59")&attributes(attributes)
	g(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd")
		path(fill="currentColor" d="M9.849 0 .211 25.984l14.382.01L24.218.005 9.849 0ZM27.957.004 6.375 59l10.245-.004 12.353-32.99 24.4-.011L63.21.005 27.957.003Z")
		path(fill="currentColor" d="m61.055 29.623-29.433.013-10.895 29.355 29.766.004 10.562-29.372ZM47.236 39.742l-9.241.003-3.408 9.181 9.319.078 3.33-9.262Z")
