svg(fill="none" viewBox="0 0 79 69")&attributes(attributes)
	path(fill="currentColor" d="M52.259 68.317 26.227 42.356l.015 25.969 26.017-.008ZM.21 68.344h14.706l.111-25.95L.211 68.344ZM78.215 68.293H63.509l-.11-25.95 14.816 25.95ZM34.233 34.474H52.25l.001-8.029H26.21l8.023 8.029ZM26.25 22.749l25.99-.003-4.666-8.183-16.64.002-4.684 8.184ZM52.251 52.479V38.047H37.813L52.25 52.479ZM32.555 11.677l13.379-.013L39.248 0l-6.693 11.677Z")
