svg(fill="none" viewBox="0 0 47 65")&attributes(attributes)
	path(fill="currentColor" fill-rule="evenodd" d="M36.094 17.074 25.18 32.318l10.914 15.245 10.914-15.245-10.914-15.244ZM11.125 17.074.211 32.318l10.914 15.245L22.04 32.318 11.125 17.075ZM23.617 34.512 12.703 49.756 23.617 65l10.915-15.244-10.915-15.244ZM23.618 0l10.914 15.244-10.914 15.245-10.915-15.245L23.618 0Zm0 7.622 5.457 7.623-5.457 7.621-5.458-7.621 5.458-7.623Z" clip-rule="evenodd")
