-
	const TitleTextWrap = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-200 mt-40@xs',
		},
		data: {
			footnote: 'ответственность',
		},
		elem: {
			TitleText: {
				data: {
					title: 'мы бережно относимся к нашим сотрудникам и делаем все возможное, чтобы они имели комфортные условия работы и отдыха. Наша главная цель — улучшение вашего благополучия, сохранение здоровья и создание комфортной рабочей атмосферы. Мы всегда заботимся о людях, которые работают вместе с нами',
				},
				elem: {
					HeadingTitleTextTitle: {
						cn: {
							size: 'h4',
						}
					},
				},
				cn: {
					margin: 'mt-12@xs'
				}
			},
		}
	}
