-
	const SliderNews = {
		includeSection: 'SliderNews',
		cn: {
			margin: 'mt-200 mt-80@xs'
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs'
				}
			},
			Heading: {
				data: {
					tag: "h3",
					text: "Дайджест новостей. Обзор событий и достижений",
					footnoteText: "новости"
				},
				cn: {
					size: "h3",
					margin: 'mt-20 mb-40 mb-20@md',
					textIndent: true,
					cols: 'col-9 col-4@xs'
				},
			},
			Slider: {
				data: {
					dataSlideEffect: 'slide',
					dataSlidesPerView: 'auto'
				},
				opt: {
					isSliderNavigation: true,
				},
			},
			ColNewsSlider: {
				cn: {
					cols: 'col-10 col-4@xs',
					offset: 'offset-2 offset-0@xs',
					margin: 'pb-40 pb-0@xs'
				}
			},
			SliderNewsArr: [
				{
					elem: {
						NewsCard: {
							data: {
								image: require('IMAGES/sections/news/news-slide1.jpg'),
								imageXs: require('IMAGES/sections/news/news-slide1xs.jpg'),
							},
							elem: {
								Button: {
									data: {
										text: 'Читать'
									},
									opt: {
										icon: true
									}
								},
								TextDate: {
									data: {
										text: '09.07.2023'
									},
									cn: {
										style: 'cap',
										margin: 'mb-8'
									}
								},
								Text: {
									data: {
										text: 'Кемеровский «Азот» информирует о пусковых операциях в цехе гидроксиламинсульфата'
									},
								}
							},
							cn: {
								marginTextBlock: 'mt-24 mb-24',
							}
						},
					},
				},
				{
					elem: {
						NewsCard: {
							data: {
								image: require('IMAGES/sections/news/news-slide2.jpg'),
							},
							elem: {
								Button: {
									data: {
										text: 'Читать'
									},
									opt: {
										icon: true
									}
								},
								TextDate: {
									data: {
										text: '12.03.2023'
									},
									cn: {
										style: 'cap',
										margin: 'mb-8'
									}
								},
								Text: {
									data: {
										text: 'На «Азоте» впервые прошёл региональный этап Всероссийского конкурса «Лучший газоспасатель»'
									},
								}
							},
							cn: {
								marginTextBlock: 'mt-24 mb-24',
							}
						},
					},
				},
				{
					elem: {
						NewsCard: {
							data: {
								image: require('IMAGES/sections/news/news-slide3.png'),
							},
							elem: {
								Button: {
									data: {
										text: 'Читать'
									},
									opt: {
										icon: true
									}
								},
								TextDate: {
									data: {
										text: '12.03.2023'
									},
									cn: {
										style: 'cap',
										margin: 'mb-8'
									}
								},
								Text: {
									data: {
										text: 'Повышение энергетической эффективности является одним из ключевых приоритетов глобальной и долгосрочной энергетической политики КАО «Азот»'
									},
								}
							},
							cn: {
								marginTextBlock: 'mt-24 mb-24',
							}
						},
					}
				}
			],
			PageLink: {
				data: {
					href: '#!',
					text: 'все публикации'
				},
				opt: {
					icon: true
				}
			}
		}
	}
