-
	const SliderAbout = {
		includeSection: 'SliderAbout',
		cn: {
			margin: 'mt-200 mt-80@xs'
		},
		elem: {
			Heading: {
				data: {
					tag: "h3",
					text: "Поддержка, предлагаемая предприятием для наших сотрудников и их семей",
					footnoteText: "программы"
				},
				cn: {
					size: "h3",
					margin: "mb-40 mb-20@xs",
				}
			},
			Slider: {
				data: {
					dataSlideEffect: 'slide',
					dataSlidesPerView: 'auto',
					dataSlidesResizeable: 'true',
					id: 'slider-about',
					dataSliderSpeed: 800,
				},
				opt: {
					isSliderNavigation: true,
				}
			},
			SliderSlideArr: [
				{
					data: {
						image: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about1.png'),
						imageXs: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about1xs.png'),
					},
					Title: {
						data: {
							text: 'транспорт'
						},
						cn: {
							style: 'cap',
							margin: 'mb-8'
						}
					},
					Text: {
						data: {
							text: 'Мы предлагаем удобную и надежную доставку до места работы и обратно для наших сотрудников'
						},
					},
					Button: {
						data: {
							text: 'подробнее',
							href: '#'
						},
						opt: {
							icon: true
						},
						cn: {
							margin: 'mt-20'
						}
					}
				},
				{
					data: {
						image: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about2.png'),
						imageXs: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about2xs.png'),
					},
					Title: {
						data: {
							text: 'здоровье'
						},
						cn: {
							style: 'cap',
							margin: 'mb-8'
						}
					},
					Text: {
						data: {
							text: 'ДМС, осмотр здоровья, лечение в санаториях, бесплатный доступ к спортивному клубу'
						},
					},
					Button: {
						data: {
							text: 'подробнее',
							href: '#'
						},
						opt: {
							icon: true
						},
						cn: {
							margin: 'mt-20'
						}
					}
				},
				{
					data: {
						image: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about3.png'),
						imageXs: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about3xs.png'),
					},
					Title: {
						data: {
							text: 'семья'
						},
						cn: {
							style: 'cap',
							margin: 'mb-8'
						}
					},
					Text: {
						data: {
							text: 'Материальная помощь, поддержка многодетных семей, компенсация детского сада'
						},
					},
					Button: {
						data: {
							text: 'подробнее',
							href: '#'
						},
						opt: {
							icon: true
						},
						cn: {
							margin: 'mt-20'
						}
					}
				},
				{
					data: {
						image: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about4.png'),
						imageXs: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about4xs.png'),
					},
					Title: {
						data: {
							text: 'досуг'
						},
						cn: {
							style: 'cap',
							margin: 'mb-8'
						}
					},
					Text: {
						data: {
							text: 'Представления, спектакли, выездные мероприятиях, а также проведение конкурсов и выставок'
						},
					},
					Button: {
						data: {
							text: 'подробнее',
							href: '#'
						},
						opt: {
							icon: true
						},
						cn: {
							margin: 'mt-20'
						}
					}
				},
				{
					data: {
						image: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about5.png'),
						imageXs: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about5xs.png'),
					},
					Title: {
						data: {
							text: 'сотовая связь'
						},
						cn: {
							style: 'cap',
							margin: 'mb-8'
						}
					},
					Text: {
						data: {
							text: 'Эксклюзивные договоры компании с провайдерами сотовой связи'
						},
					},
					Button: {
						data: {
							text: 'подробнее',
							href: '#'
						},
						opt: {
							icon: true
						},
						cn: {
							margin: 'mt-20'
						}
					}
				},
			],
		}
	}
