// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.modal-quality-passport {
	.step {
		display: none;
		overflow-x: hidden;
		overflow-y: auto;
		flex-grow: 1;
		scrollbar-width: none;

		&.active {
			display: flex;
		}
	}

	.step-2 {
		align-items: center;
		justify-content: center;
	}

	&__modal-body {
		position: relative;
	}

	&__file-wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		gap: 40px;

		padding: 120px 80px;
	}

	&__icon {
		width: 64px;
		height: 64px;
	}

	&__loader {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: none;

		background-color: $smoky-white;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			content: "";

			background-image: url("IMAGES/other/catalog-loader.svg");
			background-repeat: no-repeat;
			background-position: center 210px;
			background-size: 54px 12px;
		}

		&.show {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			gap: 40px;
		}
	}
}
