-
	const TitleTextWrapGoals = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-120 mt-80@xs',
		},
		data: {
			footnote: 'цели',
		},
		elem: {
			TitleText: {
				data: {
					title: 'стать крупнейшим конгломератом химических предприятий по удобрениям',
				},
				elem: {
					HeadingTitleTextTitle: {
						cn: {
							size: 'h4',
						}
					},
				},
			},
		}
	}
