-
	const ListInfoCard = {
		includeSection: 'ListInfoCard',
		cn: {
			margin: 'mt-200 mt-80@xs',
			jsClass: 'js-more',
			jsClassItem: 'js-more-item',
		},
		data: {
			moreAttributes: {
				'data-more-desktop': 4,
				'data-more-desktop-step': 2,
				'data-more-mobile': 4,
				'data-more-mobile-step': 2,
				'data-button-text': 'Показать еще',
			},
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs'
				}
			},
			Heading: {
				data: {
					tag: "h3",
					text: "Стратегии процветания:<br>проекты направленные на устойчивый рост и прогресс",
					footnoteText: "инвестиционные проекты"
				},
				cn: {
					size: "h3",
					margin: 'mb-40 mb-20@md',
					textIndent: true,
					cols: 'col-9 col-4@xs'
				},
			},
			ColList: {
				cn: {
					cols: 'col-12 col-4@xs',
				},
			},
			ListInfoArr: [
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'установка гранулированного сульфата аммония'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: 'Строительство производства жидкой углекислоты мощностью 50 000 т/год'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'установка пористой аммиачной селитры'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: 'Пористая аммиачная селитра (ПАС) для обеспечения горных предприятий качественным сырьём для проведения взрывных работ'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'строительство установки производства аммиака'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: 'Совместное предприятие по производству нового продукта — гранулированного сульфата аммония'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'реконструкция агрегатов АК-72/1, АК-72/2'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: 'Реконструкция и перевод агрегаторов на низкотемпературную селективную очистку выхлопного газа'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'установка жидкой углекислоты'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: 'Наращивание производственных мощностей предприятия по и решение экологической задачи по снижению выбросов СО2'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'строительство инженерно-конструкторского центра'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: 'Высокотехнологичное предприятие, улучшение ремонтного периода и межзаводская кооперация в промышленности'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
			],
		}
	}
