-
	const ImageFacts = {
		includeSection: 'ImageFacts',
		data: {
			img: require('IMAGES/sections/image-heading/image-heading-goals-and-strategies.jpg'),
			imgXs: require('IMAGES/sections/image-heading/image-heading-goals-and-strategies-xs.jpg')
		},
		cn: {
			margin: 'mt-40 mt-20@xs',
			isReverse: true,
		},
	}
