-
	const ArrowedSection = {
		includeSection: 'ArrowedSection',
		cn: {
			margin: 'mt-120 mt-80@xs',
			firstLineMargin: 'description-medium',
		},
		elem: {
			ArrowedFactsArr: [
				{
					data: {
						text: '2022',
						description: 'лидеры по эффективности<br>в химической отрасли России',
					},
					cn: {
						textLine: 'line',
						textSize: 'medium',
						textColor: 'selection-color',
						descriptionMargin: 'mt-20 mt-8@xs'
					}
				},
				{
					data: {
						text: '2023',
						description: 'инвестиции в разработки новых<br>продуктов и технологий',
					},
					cn: {
						textLine: 'line',
						textSize: 'medium',
						textColor: 'selection-color',
						descriptionMargin: 'mt-20 mt-8@xs',
					}
				},
				{
					data: {
						text: '2024',
						description: 'международная деятельности<br>и выход на новые рынки',
					},
					cn: {
						textLine: 'arrow',
						textSize: 'medium',
						textColor: 'selection-color',
						descriptionMargin: 'mt-20 mt-8@xs',
					}
				},
				{
					data: {
						text: '2025',
						description: 'лидеры по эффективности<br>в химической отрасли мира',
					},
					cn: {
						textSize: 'medium',
						textColor: 'selection-color',
						descriptionMargin: 'mt-20 mt-8@xs',
					}
				},
			],
		}
	}
