-
	const TitleTextWrap = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-120 mt-80@xs',
		},
		data: {
			footnote: 'стратегия',
		},
		elem: {
			TitleText: {
				data: {
					title: 'на ближайшее десятилетие — перейти от позиционирования «крупное региональное предприятие» к позиционированию «глобальная компания»',
				},
				elem: {
					HeadingTitleTextTitle: {
						cn: {
							size: 'h4',
						}
					},
				},
			},
		}
	}
