svg(width="39" height="48" viewBox="0 0 39 48" fill="none" xmlns="http://www.w3.org/2000/svg")
	path(d="M19.7109 48C13.338 42.52 8.57813 37.43 5.43125 32.73C2.28438 28.03 0.710938 23.68 0.710938 19.68C0.710938 13.68 2.62083 8.9 6.44063 5.34C10.2604 1.78 14.6839 0 19.7109 0C24.738 0 29.1615 1.78 32.9813 5.34C36.801 8.9 38.7109 13.68 38.7109 19.68C38.7109 23.68 37.1375 28.03 33.9906 32.73C30.8438 37.43 26.0839 42.52 19.7109 48Z" fill="#43BD25")
