-
	const TitleTextWrapDeadline = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-40',
		},
		data: {
			footnote: 'срок завершения',
		},
		elem: {
			TitleText: {
				data: {
					text: '2024 год'
				},
				elem: {
					TitleTextText: {
						cn: {
							size: 'bigger',
						}
					}
				}
			}
		}
	}
