-
	const TitleTextWrap = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-120 mt-40@xs',
		},
		data: {
			footnote: 'дата или подпись',
		},
		elem: {
			TitleText: {
				data: {
					title: 'Лид-абзац H4, в котором раскрывается основная мысль статьи, страницы. Абзац не должен быть слишком большим. Оптимальный объем текста – 4-7 строк.',
					text: 'Наборный текст body 20-135.  Оптимальный объем текста – до 10 строк.  ipsum dolor sit amet consectetur. Sagittis eu purus viverra massa feugiat. Malesuada eget blandit proin lobortis morbi sed est. Massa at sed quis donec mollis suspendisse amet. Porttitor tellus proin id lectus facilisis et vel elit nibh. Molestie vitae ultricies nisl convallis luctus. Sed lorem sed bibendum lacus amet vitae turpis pretium. Volutpat congue imperdiet eget tincidunt consequat a feugiat. Vel eu cursus mattis vestibulum imperdiet dolor ac. Sagittis at in volutpat justo. Risus velit ut sed nulla at vulputate morbi. Posuere cursus pellentesque tristique varius dolor in augue consequat aliquam. Fringilla eu leo at orci. Vel at id nisl sollicitudin facilisis sociis viverra penatibus. Dignissim eget hac aliquet commodo et vestibulum.'
				},
				elem: {
					HeadingTitleTextTitle: {
						data: {
							tag: 'h4',
						},
						cn: {
							size: 'h4'
						}
					}
				}
			}
		}
	}
