-
	const HeadingDetailedFootnote = {
		includeSection: 'HeadingDetailed',
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h3',
					footnoteText: 'подпись',
					text: 'Торговая политика. Документы для осуществления торговой деятельности'
				},
				cn: {
					size: 'h3'
				}
			}
		}
	}
