-
	const TitleTextWrapCost = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-64 mt-40@xs',
		},
		data: {
			footnote: 'Прогнозные затраты',
		},
		elem: {
			TitleText: {
				data: {
					text: '7 800 000 ₽'
				},
				elem: {
					TitleTextText: {
						cn: {
							size: 'bigger',
						}
					}
				}
			}
		}
	}
