-
	const CareerLastMain = {
		includeSection: 'Career',
		cn: {
			margin: 'mt-200 mt-80@xs'
		},
		elem: {
			ImagesHeading: {
				dataArr: {
					imageArr: [
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-3 col-4@xs',
										offset: 'offset-2 offset-0@xs'
									}
								}
							},
							data: {
								image: require("IMAGES/sections/career/career-mission-kemerovo3.jpg")
							}
						},
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-3 col-4@xs',
									}
								}
							},
							data: {
								image: require("IMAGES/sections/career/career-mission-kemerovo2.jpg")
							}
						},
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-4 col-4@xs',
									}
								}
							},
							data: {
								image: require("IMAGES/sections/career/career-mission-kemerovo1.jpg")
							}
						}
					]
				},
				elem: {
					Heading: {
						data: {
							text: 'Один из крупнейших промышленных, административных и культурных центров Кузбасса',
							footnoteText: 'О Кемерово'
						},
						cn: {
							top0Footnote: true,
							positionFootnote: 'position-absolute@xs',
						}
					},
					Button: {
						data: {
							text: 'О Кемерово',
							href: '#!'
						},
						cn: {
							size: 'large',
						}
					}
				}
			},
		}
	}
