-
	const TitleTextWrapLocation = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-40',
		},
		data: {
			footnote: 'Расположение',
		},
		elem: {
			TitleText: {
				data: {
					text: 'Промышленная площадка КАО «Азот» (Кемеровская область - Кузбасс, Кемеровский городской округ, Заводский район).'
				},
			}
		}
	}
