-
	const VideoFacts = {
		includeSection: 'VideoFacts',
		cn: {
			margin: 'mt-40 mt-20@xs',
			isReverse: true,
		},
		elem: {
			Video: {
				data: {
					videoMp4: '/public/static-files/video/sample-30s.mp4'
				},
			},
		}
	}
