-
	const HeadingDetailedImage = {
		includeSection: 'HeadingDetailed',
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h2',
					text: '<span class="light-grey">Краткое название.</span> Заголовок H3. Объем текста должен быть ограничен - максимум 3 строки',
				},
				cn: {
					textIndent: true,
					size: 'h3',
				}
			},
		}
	}
