-
	const AccordionList = {
		includeSection: 'AccordionList',
		cn: {
			margin: 'mt-200 mt-80@xs',
		},
		elem: {
			TextFootnote: {
				data: {
					text: 'частые вопросы',
				}
			},
			Col: {
				cn: {
					display: 'd-flex',
					direction: 'flex-direction-column',
					gap: 'rg-64 rg-20@xs'
				}
			},
			AccordionArr: [
				{
					elem: {
						AccordionList: {
							elem: {
								AccordionTitle: {
									data: {
										text: 'как стать участником программы?',
									},
									cn: {
										textAlign: 'text-align-left',
										size: 'bigger',
									}
								},
							}
						},
						AccordionText: {
							data: {
								text: 'Право на получение частичной компенсации имеют работники, соответствующие критериям:<br>Если вы приехали из других городов Кемеровской области и Российской Федерации, официально оформлены, но нет постоянной регистрации в г. Кемерово, заключили договор аренды жилья и впервые работаете на КАО «Азот» по определенным профессиям после 1 октября 2019 года — вы подходите'
							}
						},
					}
				},
				{
					elem: {
						AccordionList: {
							elem: {
								AccordionTitle: {
									data: {
										text: 'какие условия получения компенсации?',
									},
									cn: {
										textAlign: 'text-align-left',
										size: 'bigger',
									}
								},
							}
						},
						AccordionText: {
							data: {
								text: 'Право на получение частичной компенсации имеют работники, соответствующие критериям:<br>Если вы приехали из других городов Кемеровской области и Российской Федерации, официально оформлены, но нет постоянной регистрации в г. Кемерово, заключили договор аренды жилья и впервые работаете на КАО «Азот» по определенным профессиям после 1 октября 2019 года — вы подходите'
							}
						},
						ListTitle: {
							elem: {
								TitleText: {
									data: {
										text: 'Чтобы получить компенсацию, нужно обратиться в отдел по работе с персоналом с несколькими документами:'
									}
								},
								List: {
									data: {
										tag: 'ul',
									},
									cn: {
										listStyle: 'square',
									},
								},
								ListTextArr: [
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'заявление на получение компенсации'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'копии 2-3 страниц паспорта'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'копия прописки'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'справка о правах на недвижимость'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'копия договора аренды в Кемерово'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'оригинал документа об оплате аренды'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'копия документа об образовании,'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'заверенная копия трудовой книжки супруга или супруги'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'документ, подтверждающий право арендодателя на жилое помещение (по запросу КАО «Азот»).'
												}
											}
										}
									},
								]
							},
						}
					}
				},
				{
					elem: {
						AccordionList: {
							elem: {
								AccordionTitle: {
									data: {
										text: 'какие документы нужно предоставить?',
									},
									cn: {
										textAlign: 'text-align-left',
										size: 'bigger',
									}
								},
							}
						},
						AccordionText: {
							data: {
								text: 'Право на получение частичной компенсации имеют работники, соответствующие критериям:<br>Если вы приехали из других городов Кемеровской области и Российской Федерации, официально оформлены, но нет постоянной регистрации в г. Кемерово, заключили договор аренды жилья и впервые работаете на КАО «Азот» по определенным профессиям после 1 октября 2019 года — вы подходите'
							}
						},
						ListTitle: {
							elem: {
								TitleText: {
									data: {
										text: 'Чтобы получить компенсацию, нужно обратиться в отдел по работе с персоналом с несколькими документами:'
									}
								},
								List: {
									data: {
										tag: 'ol',
									},
									cn: {
										listStyle: 'numeric',
									},
								},
								ListTextArr: [
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'заявление на получение компенсации'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'копии 2-3 страниц паспорта'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'копия прописки'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'справка о правах на недвижимость'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'копия договора аренды в Кемерово'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'оригинал документа об оплате аренды'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'копия документа об образовании,'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'заверенная копия трудовой книжки супруга или супруги'
												}
											}
										}
									},
									{
										elem: {
											Text: {
												data: {
													tag: 'li',
													text: 'документ, подтверждающий право арендодателя на жилое помещение (по запросу КАО «Азот»).'
												}
											}
										}
									},
								]
							},
						}
					}
				},
			]
		}
	}
