-
	const VacancyList = {
		includeSection: 'VacancyList',
		cn:{
			margin: 'mt-120 mt-80@xs',
		},
		elem: {
			TextCol: {
				cn: {
					cols: 'col-7 col-4@xs'
				}
			},
			TextFootnote: {
				data: {
					text: 'маркерованный список',
				},
				cn: {
					style: 'cap',
					textTransform: 'upper'
				}
			},
			List: {
				data: {
					tag: 'ul',
				},
				cn: {
					listStyle: 'square-no-margin',
				},
			},
			ListArr: [
				{
					data: {
						text: 'наращивание производственных мощностей предприятия по производству и продаже жидкой углекислоты для удовлетворения спроса потребителей СФО',
						tag: 'li',
					},
					cn: {
						size: 'bigger',
					}
				},
				{
					data: {
						text: 'решение экологической задачи по снижению выбросов СО2 (парникового газа)',
						tag: 'li',
					},
					cn: {
						size: 'bigger',
					}
				},
			]
		}
	}
