-
	const HeadingDetailed = {
		includeSection: 'HeadingDetailed',
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h3',
					text: '<span class="light-grey">Торговая политика.</span> Документы для осуществления торговой деятельности'
				},
				cn: {
					textIndent: true,
					size: 'h3'
				}
			}
		}
	}
