-
	function classes(cn) {
		const BLOCK = CN('feedback');

		return {
			feedbackForm: BLOCK({}, [cn?.margin]),
			feedbackFormContainer: BLOCK('container'),
			feedbackFormFootnote: BLOCK('footnote'),
		}
	}
