mixin FeedbackForm(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include FeedbackForm.cn.pug
	- const styles = classes(props && props.cn);

		//- # ВЕРСТКА КОМПОНЕНТА # -//
		section(class=styles.feedbackForm)
			div(class=styles.feedbackFormContainer)
				+Text(ELEM('Footnote'))(class=styles.feedbackFormFootnote)
				+I('Form', ELEM('Form'))
