-
	const SliderNewspaper = {
		includeSection: 'SliderNewspaper',
		data: {
			id: 'newspaper',
		},
		cn: {
			margin: 'mt-80 mt-80@xs',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-10 col-4@xs'
				}
			},
			Heading: {
				data: {
					tag: "h3",
					text: "Наша газета «за большую химию»",
				},
				cn: {
					size: "h3",
					margin: 'mb-40 mb-20@md',
				},
			},
			Slider: {
				data: {
					dataSlideEffect: 'slide',
					dataSlidesPerView: 'auto'
				},
				opt: {
					isSliderNavigation: true,
				},
			},
			ColCardSlider: {
				cn: {
					cols: 'col-12 col-4@xs',
					margin: 'pb-40 pb-0@xs',
					slider: 'h-auto'
				}
			},
			PageLink: {
				data: {
					href: '#!',
					text: 'архив выпусков'
				},
				opt: {
					icon: true,
				}
			},
			PressCardArr: [
				{
					elem: {
						PressCard: {
							data: {
								mode: 'green',
							},
							cn: {
								marginBody: 'mt-200 mt-80@xs',
								fixHeightAndBlur: 'fix-height-and-blur',
								buttonSlider: 'buttonSlider'
							},
							elem: {
								ColHeadingSliderFootnote: {
									cn: {
										cols: 'col-2 col-2@xs',
										order: 'order-1@xs'
									}
								},
								HeadingSliderFootnote: {
									data: {
										text: 'июнь 2023'
									},
									cn: {
										size: 'small',
									}
								},
								ColHeadingSlider: {
									cn: {
										cols: 'col-4 col-4@md col-2@xs',
										order: 'order-0@xs'
									}
								},
								HeadingSlider: {
									data: {
										tag: "h2",
										text: "№ 10",
									},
									cn: {
										size: "h2",
										margin: 'mb-40 mb-20@md',
									},
								},
								ColText: {
									cn: {
										cols: 'col-7 col-2@md col-4@xs',
										offset: 'offset-2 offset-0@xs'
									}
								},
								Text: {
									data: {
										text: 'На базе отдыха «Берёзово» прошёл праздник <br /> для детей работников «Азота». <br /> Девчонки и мальчишки попали в настоящий парк развлечений <br /> с играми и активностями на любой вкус.<br /> Главным событием праздника стал конкурс рисунков на асфальте «Нарисуй своё лето» (стр.7).'
									},
									cn: {
										size: 'small',
									}
								},
								Button: {
									data: {
										text: 'читать полностью',
										href: '#!'
									},
									opt: {
										icon: true
									},
									cn: {
										size: 'small',
									}
								}
							}
						}
					}
				},
				{
					elem: {
						PressCard: {
							data: {
								mode: 'green',
							},
							cn: {
								marginBody: 'mt-200 mt-80@xs',
								fixHeightAndBlur: 'fix-height-and-blur',
								buttonSlider: 'buttonSlider'
							},
							elem: {
								ColHeadingSliderFootnote: {
									cn: {
										cols: 'col-2 col-2@xs',
										order: 'order-1@xs'
									}
								},
								HeadingSliderFootnote: {
									data: {
										text: 'май 2023'
									},
									cn: {
										size: 'small',
									}
								},
								ColHeadingSlider: {
									cn: {
										cols: 'col-4 col-4@md col-2@xs',
										order: 'order-0@xs'
									}
								},
								HeadingSlider: {
									data: {
										tag: "h2",
										text: "№ 9",
									},
									cn: {
										size: "h2",
										margin: 'mb-40 mb-20@md',
									},
								},
								ColText: {
									cn: {
										cols: 'col-7 col-2@md col-4@xs',
										offset: 'offset-2 offset-0@xs'
									}
								},
								Text: {
									data: {
										text: 'Азот запустил «цепную реакцию». <br />Ярко, масштабно, грандиозно — вот что можно сказать <br /> о благотворительном забеге «Цепная реакция»,<br /> организованном «Азотом» в честь Дня химика.'
									},
									cn: {
										size: 'small',
									}
								},
								Button: {
									data: {
										text: 'читать полностью',
										href: '#!'
									},
									opt: {
										icon: true
									},
									cn: {
										size: 'small',
									}
								}
							}
						}
					}
				},
				{
					elem: {
						PressCard: {
							data: {
								mode: 'green',
							},
							cn: {
								marginBody: 'mt-200 mt-80@xs',
								fixHeightAndBlur: 'fix-height-and-blur',
								buttonSlider: 'buttonSlider'
							},
							elem: {
								ColHeadingSliderFootnote: {
									cn: {
										cols: 'col-2 col-2@xs',
										order: 'order-1@xs'
									}
								},
								HeadingSliderFootnote: {
									data: {
										text: 'май 2023'
									},
									cn: {
										size: 'small',
									}
								},
								ColHeadingSlider: {
									cn: {
										cols: 'col-4 col-4@md col-2@xs',
										order: 'order-0@xs'
									}
								},
								HeadingSlider: {
									data: {
										tag: "h2",
										text: "№ 8",
									},
									cn: {
										size: "h2",
										margin: 'mb-40 mb-20@md',
									},
								},
								ColText: {
									cn: {
										cols: 'col-7 col-2@md col-4@xs',
										offset: 'offset-2 offset-0@xs'
									}
								},
								Text: {
									data: {
										text: 'Воздух будет чище. <br /> Высокие технологии посева. <br /> Детали делаем сами. В десятке лучших'
									},
									cn: {
										size: 'small',
									}
								},
								Button: {
									data: {
										text: 'читать полностью',
										href: '#!'
									},
									opt: {
										icon: true
									},
									cn: {
										size: 'small',
									}
								}
							}
						}
					}
				},
			],
		}
	}
