-
	const AsidePageNav = {
		cn: {
			margin: 'mt-20 pt-10 pt-0@xs col-2 col-4@xs',
		},
		linksArr: [
			{
				text: 'Новости',
				href: '#news',
			},
			{
				text: 'Газета',
				href: '#newspaper',
			},
			{
				text: 'Медиа',
				href: '#media',
			},
			{
				text: 'Рассылка',
				href: '#mailing',
			},
			{
				text: 'Сми о нас',
				href: '#media-about-us',
			},
			{
				text: 'Пресс-релизы',
				href: '#press-releases',
			},
			{
				text: 'Пресс-кит',
				href: '#press-kit',
			},
			{
				text: 'Контакты',
				href: '#contacts',
			},
		],
	}
