| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ КОМПОНЕНТОВ #')}
script(src=require('COMPONENTS/Modal/Modal.ts') defer)
script(src=require('COMPONENTS/Form/Form.ts') defer)
script(src=require('COMPONENTS/Video/Video.ts') defer)
