-
	function classes(cn) {
		const BLOCK = CN('office')

		return {
			officeItemWrap: BLOCK('wrap', ['col-4@xs']),
			officeItem: BLOCK('item'),
			officeImage: BLOCK('image'),
			officeInfo: BLOCK('info', ['mt-32@xs g-16 g-12@xs']),
			officeLine: BLOCK('line', ['g-8@xs']),
			officePhones: BLOCK('phones'),
			officeLink: BLOCK('link'),
		}
	}
