-
	const FilterNewspaper = {
		includeSection: 'FilterNewspaper',
		cn: {
			margin: 'mt-80 mt-40@xs'
		},
		elem: {
			FiltersSelectControl: {
				cn: {
					marginSelectControl: 'ml-auto ml-0@xs'
				},
				elem: {
					SelectFilterArr: [
						{
							data: {
								text: 'Выберите месяц',
								nameSelect: 'month'
							},
							dataArr: {
								optionArr: [
									{
										data: {
											text: 'Январь'
										}
									},
									{
										data: {
											text: 'Февраль'
										}
									},
									{
										data: {
											text: 'Март'
										}
									},
									{
										data: {
											text: 'Апрель'
										}
									},
									{
										data: {
											text: 'Май'
										}
									},
									{
										data: {
											text: 'Июнь'
										}
									},
									{
										data: {
											text: 'Июль'
										}
									},
									{
										data: {
											text: 'Август'
										}
									},
									{
										data: {
											text: 'Сентябрь'
										}
									},
									{
										data: {
											text: 'Октябрь'
										}
									},
									{
										data: {
											text: 'Ноябрь'
										}
									},
									{
										data: {
											text: 'Декабрь'
										}
									},
								]
							},
						}
					],
				}
			},
			NewspaperCardArr: [
				{
					elem: {
						TextNumber: {
							data: {
								text: '№ 10'
							},
							cn: {
								size: 'bigger'
							}
						},
						TextDate: {
							data: {
								text: 'июнь 2023'
							},
							cn: {
								style: 'cap',
								textTransform: 'upper'
							}
						},
						TextContent: {
							data: {
								text: 'Нарисуй лето своей мечты! Четвертая проходная «Азота» Чистая река - дело чести Взяли «серебро» «Химфеста»'
							},
							cn: {
								size: 'big'
							}
						}
					}
				},
				{
					elem: {
						TextNumber: {
							data: {
								text: '№ 9'
							},
							cn: {
								size: 'bigger'
							}
						},
						TextDate: {
							data: {
								text: 'июнь 2023'
							},
							cn: {
								style: 'cap',
								textTransform: 'upper'
							}
						},
						TextContent: {
							data: {
								text: '«Азот» запустил «Цепную реакцию» Сад памяти Гордость за профессию и предприятие Миссис Кемерово с «Азота»',
							},
							cn: {
								size: 'big'
							}
						}
					}
				},
				{
					elem: {
						TextNumber: {
							data: {
								text: '№ 8'
							},
							cn: {
								size: 'bigger'
							}
						},
						TextDate: {
							data: {
								text: 'июнь 2023'
							},
							cn: {
								style: 'cap',
								textTransform: 'upper'
							}
						},
						TextContent: {
							data: {
								text: 'Воздух будет чище Высокие технологии посева Детали делаем сами В десятке лучших'
							},
							cn: {
								size: 'big'
							}
						}
					}
				},
				{
					elem: {
						TextNumber: {
							data: {
								text: '№ 7'
							},
							cn: {
								size: 'bigger'
							}
						},
						TextDate: {
							data: {
								text: 'июнь 2023'
							},
							cn: {
								style: 'cap',
								textTransform: 'upper'
							}
						},
						TextContent: {
							data: {
								text: 'Созвездие талантов «Азота» Резерв для надежности Кто «отличник» по 5С? Азотовский оазис'
							},
							cn: {
								size: 'big'
							}
						}
					}
				},
				{
					elem: {
						TextNumber: {
							data: {
								text: '№ 6'
							},
							cn: {
								size: 'bigger'
							}
						},
						TextDate: {
							data: {
								text: 'июнь 2023'
							},
							cn: {
								style: 'cap',
								textTransform: 'upper'
							}
						},
						TextContent: {
							data: {
								text: 'Нарисуй лето своей мечты! Четвертая проходная «Азота» Чистая река - дело чести Взяли «серебро» «Химфеста»'
							},
							cn: {
								size: 'big'
							}
						}
					}
				},
				{
					elem: {
						TextNumber: {
							data: {
								text: '№ 5'
							},
							cn: {
								size: 'bigger'
							}
						},
						TextDate: {
							data: {
								text: 'июнь 2023'
							},
							cn: {
								style: 'cap',
								textTransform: 'upper'
							}
						},
						TextContent: {
							data: {
								text: '«Азот» запустил «Цепную реакцию» Сад памяти Гордость за профессию и предприятие Миссис Кемерово с «Азота»',
							},
							cn: {
								size: 'big'
							}
						}
					}
				},
				{
					elem: {
						TextNumber: {
							data: {
								text: '№ 4'
							},
							cn: {
								size: 'bigger'
							}
						},
						TextDate: {
							data: {
								text: 'июнь 2023'
							},
							cn: {
								style: 'cap',
								textTransform: 'upper'
							}
						},
						TextContent: {
							data: {
								text: 'Воздух будет чище Высокие технологии посева Детали делаем сами В десятке лучших'
							},
							cn: {
								size: 'big'
							}
						}
					}
				},
				{
					elem: {
						TextNumber: {
							data: {
								text: '№ 3'
							},
							cn: {
								size: 'bigger'
							}
						},
						TextDate: {
							data: {
								text: 'июнь 2023'
							},
							cn: {
								style: 'cap',
								textTransform: 'upper'
							}
						},
						TextContent: {
							data: {
								text: 'Созвездие талантов «Азота» Резерв для надежности Кто «отличник» по 5С? Азотовский оазис'
							},
							cn: {
								size: 'big'
							}
						}
					}
				},
				{
					elem: {
						TextNumber: {
							data: {
								text: '№ 2'
							},
							cn: {
								size: 'bigger'
							}
						},
						TextDate: {
							data: {
								text: 'июнь 2023'
							},
							cn: {
								style: 'cap',
								textTransform: 'upper'
							}
						},
						TextContent: {
							data: {
								text: 'Нарисуй лето своей мечты! Четвертая проходная «Азота» Чистая река - дело чести Взяли «серебро» «Химфеста»'
							},
							cn: {
								size: 'big'
							}
						}
					}
				},
				{
					elem: {
						TextNumber: {
							data: {
								text: '№ 1'
							},
							cn: {
								size: 'bigger'
							}
						},
						TextDate: {
							data: {
								text: 'июнь 2023'
							},
							cn: {
								style: 'cap',
								textTransform: 'upper'
							}
						},
						TextContent: {
							data: {
								text: '«Азот» запустил «Цепную реакцию» Сад памяти Гордость за профессию и предприятие Миссис Кемерово с «Азота»',
							},
							cn: {
								size: 'big'
							}
						}
					}
				},
			],
		}
	}
