-
	function classes(cn) {
		const BLOCK = CN('drop-list');

		return {
			dropList: BLOCK(),
			dropListButton: BLOCK('button'),
			dropListItems: BLOCK('items'),
			dropListItem: BLOCK('item'),
			dropListInput: BLOCK('input'),
		}
	}
