-
	const TitleSlider = {
		includeSection: 'TitleSlider',
		cn: {
			margin: 'mt-10',
		},
		elem: {
			Heading: {
				data: {
					tag: 'h2',
					text: '<span class="light-grey">О компании.</span> Кемеровский «Азот» — ведущее предприятие химической отрасли России. Производит азотные удобрения и аммиачную селитру с/х и промышленного применения',
				},
				cn: {
					textIndent: true,
					size: 'h3',
					margin: 'mb-40 mb-20@md',
				}
			},
			ColHeading: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Slider: {
				opt: {
					isSliderPagination: true,
					isSliderNavigation: true
				}
			},
			SliderSlideArr: [
				{
					data: {
						imgSlide: require("IMAGES/sections/title-slider/slide-1.jpg"),
						imgSlideXs: require("IMAGES/sections/title-slider/slide-1xs.jpg")
					}
				},
				{
					data: {
						imgSlide: require("IMAGES/sections/title-slider/slide-1.jpg"),
						imgSlideXs: require("IMAGES/sections/title-slider/slide-1xs.jpg")
					}
				},
				{
					data: {
						imgSlide: require("IMAGES/sections/title-slider/slide-1.jpg"),
						imgSlideXs: require("IMAGES/sections/title-slider/slide-1xs.jpg")
					}
				},
				{
					data: {
						imgSlide: require("IMAGES/sections/title-slider/slide-1.jpg"),
						imgSlideXs: require("IMAGES/sections/title-slider/slide-1xs.jpg")
					}
				},
			]
		}
	}
