-
	const ArrowedSection = {
		includeSection: 'ArrowedSection',
		cn: {
			margin: 'mt-120 mt-80@xs',
		},
		elem: {
			ArrowedFactsArr: [
				{
					data:{
						text: '«Азот»',
					},
					cn: {
						textSize: 'big',
						textLine: 'arrow',
						textColor: 'selection-color',
					}
				},
				{
					data: {
						text: 'сейчас',
					},
					cn: {
						textSize: 'big',
						textColor: 'selection-color',
					}
				},
			],
		}
	}
