// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.header {
	position: relative;

	min-height: 96px;
	padding-block: 33px;

	&__personal-account {
		display: none;
	}

	&__personal-account-button {
		padding-block: 6px;

		img {
			width: 16px;
			height: 16px;
		}
	}

	&__burger-button {
		position: relative;

		display: inline-flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		width: 38px;
		height: 28px;
		margin-right: responsive-size(10);
		padding: 0;

		cursor: pointer;
		transition: opacity 0.4s;
		gap: 4px;

		&:hover {
			opacity: 0.6;
		}
	}

	&__burger-button-line {
		width: 100%;
		height: 2px;

		transition: transform 0.4s;

		background-color: $black;
	}

	&__menu {
		position: absolute;
		z-index: 9999;

		overflow: hidden;

		width: 100%;
		height: 0;
		padding-top: 0;

		background-color: $main;
		scrollbar-gutter: stable;
	}

	&__navigation {
		position: relative;

		overflow: hidden;

		max-height: 32px;
	}

	&__menu-links,
	&__nav-links {
		position: relative;
		top: -32px;

		flex: 1 0 100%;

		height: 100%;

		transition: top 0.4s;

		.link {
			line-height: 32px;
		}
	}

	&__menu-links {
		@include media(md) {
			top: 0;

			align-items: flex-start;

			flex-direction: column;

			width: 100%;

			height: auto;
			margin-inline: auto;
			padding-inline: responsive-size(20);
		}
	}

	&__lang-button {
		width: responsive-size(47);
		min-width: 47px;
		max-height: responsive-size(32);
		padding-top: responsive-size(12);
		padding-bottom: responsive-size(7.5);

		@include media(md) {
			display: none;

			min-height: 28px;

			padding-top: 12px;
			padding-bottom: 7.5px;
		}
	}

	&__langs-menu {
		position: absolute;
		z-index: 99999;

		display: none;

		width: responsive-size(47);

		min-width: 47px;
		margin-top: 8px;

		text-align: center;

		color: $black;
		border-radius: 4px;
		background-color: $black-04;

		font-family: $font-helvetica;

		@include font-size-responsive(1);
	}

	&__langs-menu-lang {
		padding-inline: responsive-size(10);
		padding-block: responsive-size(12);

		cursor: pointer;

		text-decoration: none;

		letter-spacing: 0.1em;

		font-weight: 550;

		line-height: 1.454545455;

		&:first-of-type {
			padding-top: responsive-size(10);
			padding-bottom: responsive-size(6);
		}

		&:last-of-type {
			padding-top: responsive-size(6);
			padding-bottom: responsive-size(10);
		}

		@include font-size-responsive(1.1);
	}

	&__catalog-card {
		padding: 20px;

		border-radius: 16px;
		background-color: $light-green;

		@include media(md) {
			background-color: $smoky-white;
		}
	}

	&__catalog-link {
		svg {
			transition: opacity 0.3s ease-in-out;

			opacity: 0;
		}

		&:hover svg {
			opacity: 1;
		}
	}

	&__search-button-clear {
		position: absolute;
		top: 50%;
		right: 0;

		padding: 7px 14px;

		transform: translateY(-50%);

		line-height: 0;
	}

	[data-when-search="show"] {
		display: none;
	}

	&__search-link {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		max-height: max-content;
		padding: 7px 0;

		transition: padding-left 0.4s, color 0.4s;
		letter-spacing: -0.04em;
		text-transform: lowercase;

		color: $black-40;

		font-family: $font-radio;

		font-weight: 400;
		line-height: 0.9;

		&.selected {
			padding-left: 40px;

			color: $black;
		}

		@include font-size-responsive(2.2, 3.2);
	}

	&__contacts-img {
		width: fit-content;
		@media screen and (min-width: 2560px) {
			width: 20px;
			height: 20px;
		}

		@include media(xxl, "min") {
			width: 16px;
			height: 12px;
		}
	}

	@include media(xs) {
		.js-nav-tabs-to-left {
			overflow: hidden;

			transition: flex-basis 0.2s, padding 0.3s;

			& > div {
				width: auto;
				min-width: max-content;
			}
		}

		.js-menu-show-links {
			.js-header-nav-tabs {
				overflow: hidden;
				flex: 0 0 0;

				padding: 0;
			}

			.js-header-catalog,
			.js-header-contacts {
				display: none;
			}

			.js-nav-tabs-to-left {
				flex: 0 0 0;

				width: 0;

				padding: 0;
			}
		}
	}

	@media screen and (min-width: 1600px) {
		padding-top: responsive-size(37);
		padding-bottom: responsive-size(71);
	}
}

// # JS-КЛАССЫ # //
.js-open-langs-menu {
	display: flex;
	flex-direction: column;
}

.js-open-burger-menu {
	.header {
		&__burger-button-line {
			&_top {
				transform: rotate(45deg) scale(0.3) translate(6px, 4px);
			}

			&_bottom {
				transform: rotate(-45deg) scale(0.3) translate(10px, -9px);
			}
		}

		&__lang-button {
			@include media(md) {
				display: block;
			}
		}
	}
}

.js-searching {
	[data-when-search="show"] {
		display: flex;
	}

	[data-when-search="hide"] {
		display: none;
	}
}
