-
	const Header = {
		dataArr: {
			linkNavArr: [
				{
					data: {
						text: 'Продукция',
						ariaLink: 'Продукция',
						title: 'Продукция'
					}
				},
				{
					data: {
						text: 'Покупателям',
						ariaLink: 'Покупателям',
						title: 'Покупателям'
					}
				},
				{
					data: {
						text: 'Поставщикам',
						ariaLink: 'Поставщикам',
						title: 'Поставщикам'
					}
				},
				{
					data: {
						text: 'О Компании',
						ariaLink: 'О Компании',
						title: 'О Компании'
					}
				}
			],
			contactsArr: [
				{
					data: {
						key: 'ТЕЛЕФОН',
						value: '+7 3842 78-12-72'
					},
					cn: {
						style: 'cap',
						flexGrow: 'flex-grow-1',
						width: 'w-50 w-auto@xs'
					}
				},
				{
					data: {
						key: 'EMAIL',
						value: 'AAS_INFO@AZOT.KUZBASS.NET'
					},
					cn: {
						style: 'cap',
						flexGrow: 'flex-grow-1',
						width: 'w-50 w-auto@xs'
					}
				},
				{
					data: {
						key: 'КЕМЕРОВО',
						value: ' 16:15',
						img: require('IMAGES/other/contacts-indicator.svg')
					},
					cn: {
						style: 'cap',
						flexGrow: 'flex-grow-1',
						width: 'w-50 w-auto@xs'
					},
					opt: {
						img: true
					}
				}
			],
			headerMenuLinks: [
				{
					data: {
						title: 'торговая политика',
						text: 'торговая политика'
					}
				},
				{
					data: {
						title: 'паспорт качества',
						text: 'паспорт качества'
					}
				},
				{
					data: {
						title: 'погрузка готовой продукции',
						text: 'погрузка готовой продукции'
					}
				},
				{
					data: {
						title: 'Получить пропуск на ввоз ТМЦ',
						text: 'Получить пропуск на ввоз ТМЦ'
					}
				}
			]
		},
		elem: {
			Input: {
				data: {
					placeholder: 'продукция, статьи или новости',
					img: require('IMAGES/search.svg')
				},
				opt: {
					img: true
				},
				cn: {
					icon: 'with-icon'
				}
			},
			NavTabsButtons: {
				dataArr: {
					Buttons: [
						{
							data: {
								text: 'О компании',
								dataNavsBtn: 'about',
							},
							cn: {
								color: 'transparent'
							}
						},
						{
							data: { text: 'Покупателям', dataNavsBtn: 'buyers' },
							cn: {
								color: 'transparent'
							}
						},
						{
							data: { text: 'Поставщикам', dataNavsBtn: 'suppliers' },
							cn: {
								color: 'transparent'
							}
						},
						{
							data: { text: 'Карьера', dataNavsBtn: 'career' },
							cn: {
								color: 'transparent'
							}
						},
						{
							data: { text: 'Устойчивое развитие', dataNavsBtn: 'development' },
							cn: {
								color: 'transparent'
							}
						},
						{
							data: { text: 'торговая политика', dataNavsBtn: 'trade-policy' },
							cn: {
								color: 'transparent'
							}
						},
						{
							data: { text: 'Пресс-центр', dataNavsBtn: 'press-center' },
							cn: {
								color: 'transparent'
							}
						},
						{
							data: { text: 'Контакты', dataNavsBtn: 'contacts' },
							cn: {
								color: 'transparent'
							}
						}
					]
				}
			},
			NavTabsContentArr: [
				{
					data: {
						dataNavTabsLinks: 'about',
						parent: 'о компании'
					},
					dataArr: {
						LinkArr: [
							{
								data: {
									text: 'Профиль поставщика',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика2',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика3',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика4',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика5',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика3',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
						]
					},
					cn: {
						display: 'd-flex',
						gap: 'g-12 g-24@xs',
						flexDirection: 'flex-direction-column',
						margin: 'mt-12'
					}
				},
				{
					data: {
						dataNavTabsLinks: 'buyers',
						parent: 'покупателям'
					},
					dataArr: {
						LinkArr: [
							{
								data: {
									text: 'Профиль поставщика',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
						]
					},
					cn: {
						display: 'd-flex',
						gap: 'g-12 g-24@xs',
						flexDirection: 'flex-direction-column',
						margin: 'mt-12'
					}
				},
				{
					data: {
						dataNavTabsLinks: 'suppliers',
						parent: 'поставщикам'
					},
					dataArr: {
						LinkArr: [
							{
								data: {
									text: 'Профиль поставщика',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика2',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика3',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика4',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика5',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							}
						]
					},
					cn: {
						display: 'd-flex',
						gap: 'g-12 g-24@xs',
						flexDirection: 'flex-direction-column',
						margin: 'mt-12'
					}
				},
				{
					data: {
						dataNavTabsLinks: 'career',
						parent: 'карьера'
					},
					dataArr: {
						LinkArr: [
							{
								data: {
									text: 'Профиль поставщика',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика2',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика3',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика4',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика5',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							}
						]
					},
					cn: {
						display: 'd-flex',
						gap: 'g-12 g-24@xs',
						flexDirection: 'flex-direction-column',
						margin: 'mt-12'
					}
				},
				{
					data: {
						dataNavTabsLinks: 'development',
						parent: 'устойчивое развитие'
					},
					dataArr: {
						LinkArr: [
							{
								data: {
									text: 'Профиль поставщика',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика2',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика3',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика4',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика5',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							}
						]
					},
					cn: {
						display: 'd-flex',
						gap: 'g-12 g-24@xs',
						flexDirection: 'flex-direction-column',
						margin: 'mt-12'
					}
				},
				{
					data: {
						dataNavTabsLinks: 'trade-policy',
						parent: 'торговая политика'
					},
					dataArr: {
						LinkArr: [
							{
								data: {
									text: 'Профиль поставщика',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика2',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика3',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика4',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика5',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							}
						]
					},
					cn: {
						display: 'd-flex',
						gap: 'g-12 g-24@xs',
						flexDirection: 'flex-direction-column',
						margin: 'mt-12'
					}
				},
				{
					data: {
						dataNavTabsLinks: 'press-center',
						parent: 'пресс-центр'
					},
					dataArr: {
						LinkArr: [
							{
								data: {
									text: 'Профиль поставщика',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика2',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика3',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика4',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							},
							{
								data: {
									text: 'Профиль поставщика5',
									linkHref: '#!',
									ariaLink: 'Профиль поставщика',
									title: 'Профиль поставщика'
								},
							}
						]
					},
					cn: {
						display: 'd-flex',
						gap: 'g-12 g-24@xs',
						flexDirection: 'flex-direction-column',
						margin: 'mt-12'
					}
				},
				{
					data: {
						dataNavTabsLinks: 'contacts',
						parent: 'контакты'
					},
					dataArr: {
						LinkArr: [
							{
								data: {
									text: 'Контакт',
									linkHref: '#!',
									ariaLink: 'Контакт',
									title: 'Контакт'
								},
							}
						]
					},
					cn: {
						display: 'd-flex',
						gap: 'g-12 g-24@xs',
						flexDirection: 'flex-direction-column',
						margin: 'mt-12'
					}
				}
			],
			NewsCard: {
				data: {
					image: require('IMAGES/menu/img-news.png'),
				},
				elem: {
					Button: {
						data: {
							text: 'Читать'
						},
						opt: {
							icon: true
						}
					},
					TextDate: {
						data: {
							text: '11.03.2023'
						},
						cn: {
							style: 'cap',
							margin: 'mb-8'
						}
					},
					Text: {
						data: {
							text: 'Повышение энергетической эффективности является одним из ключевых приоритетов глобальной и долгосрочной энергетической политики КАО&nbsp;«Азот»'
						},
						cn: {
							width: 'w-90'
						}
					}
				},
				cn: {
					marginTextBlock: 'mt-24 mb-24 mt-0@md',
					displayImage: 'd-none@md'
				}
			},
			ButtonLang: {
				data: {
					text: 'Ru'
				}
			},
			HeadingCatalog: {
				data: {
					text: 'Каталог'
				},
				cn: {
					style: 'cap',
					textTransform: 'upper'
				}
			},
			HeadingNews: {
				data: {
					text: 'Свежие новости'
				},
				cn: {
					style: 'cap',
					textTransform: 'upper'
				}
			},
			HeaderSearched: {
				data: {
					text: 'Вы недавно искали'
				},
				cn: {
					style: 'cap',
					textTransform: 'upper',
					margin: 'mb-16'
				}
			},
			HeaderQueries: {
				data: {
					text: 'частые запросы'
				},
				cn: {
					style: 'cap',
					textTransform: 'upper',
					margin: 'mb-16'
				}
			},
			TabsButtons: {
				dataArr: {
					buttonArr: [
						{
							data: {
								dataTabsButton: 'Agricultural'
							},
							elem: {
								Button: {
									data: {
										text: 'сельского хозяйства',
									}
								}
							}
						},
						{
							data: {
								dataTabsButton: 'Industry'
							},
							elem: {
								Button: {
									data: {
										text: 'промышленности',
									}
								}
							}
						},
					]
				}
			},
			TabsContentArr: [
				{
					data: {
						dataTabsContent: 'Agricultural',
						backgroundImage: require('IMAGES/menu/balls.png'),
					},
					dataArr: {
						linksArr: [
							{
								data: { title: 'аммиачная селитра', text: 'аммиачная селитра', ariaLink: 'аммиачная селитра' },
								opt: {icon: true}
							},
							{
								data: { title: 'азотная кислота', text: 'азотная кислота', ariaLink: 'азотная кислота' },
								opt: {icon: true}
							},
							{
								data: { title: 'карбамид', text: 'карбамид', ariaLink: 'карбамид' },
								opt: {icon: true}
							}
						]
					}
				},
				{
					data: {
						dataTabsContent: 'Industry',
						backgroundImage: require('IMAGES/menu/balls_1.png'),
					},
					dataArr: {
						linksArr: [
							{
								data: { title: 'промышленность 1', text: 'промышленность 1', ariaLink: 'промышленность 1' },
								opt: {icon: true}
							},
							{
								data: { title: 'промышленность 2', text: 'промышленность 2', ariaLink: 'промышленность 2' },
								opt: {icon: true}
							},
							{
								data: { title: 'промышленность 3', text: 'промышленность 3', ariaLink: 'промышленность 3' },
								opt: {icon: true}
							},
							{
								data: { title: 'промышленность 4', text: 'промышленность 4', ariaLink: 'промышленность 4' },
								opt: {icon: true}
							}
						]
					}
				},
			],
			Card_1: {
				data: {
					background: require("IMAGES/menu/balls.png")
				},
				elem: {
					Text: {
						data: {
							text: 'карбамид'
						},
						cn: {
							textTransform: 'lower'
						}
					}
				},
				opt: {
					background: true,
					button: false
				}
			},
			Card_2: {
				data: {
					background: require("IMAGES/menu/balls_1.png")
				},
				elem: {
					Text: {
						data: {
							text: 'аммиачная селитра'
						},
						cn: {
							textTransform: 'lower'
						}
					},
					Button: {
						data: {
							href: '#!',
							text: 'подробнее'
						},
						opt: {
							icon: true
						}
					}
				},
				opt: {
					background: true,
					button: true
				}
			},
			Card_3: {
				elem: {
					Text: {
						data: {
							text: 'влияние минеральных удобрений на биохимический состав и качество плодов'
						},
						cn: {
							textTransform: 'lower'
						}
					},
					Button: {
						data: {
							href: '#!',
							text: 'читать статью'
						},
						opt: {
							icon: true
						}
					}
				},
				opt: {
					button: true
				}
			},
			Card_4: {
				elem: {
					Text: {
						data: {
							text: 'торговая политика и документация'
						},
						cn: {
							textTransform: 'lower'
						}
					},
					Button: {
						data: {
							href: '#!',
							text: 'перейти в раздел'
						},
						opt: {
							icon: true
						}
					}
				},
				opt: {
					button: true
				}
			},
			PersonButton: {
				data: {
					img: require('IMAGES/menu/person.svg'),
				}
			},
			BreadCrumbs: {
				dataArr: {
					LinksArr: [
						{ data: { text: 'Главная' } },
						{ data: { text: 'О компании' } }
					]
				}
			}
			}
	};
