-
	const FactsAlignRight = {
		includeSection: 'FactsAlignRight',
		cn: {
			marginFactsBlock: 'mt-40 mt-20@xs',
			backgroundColor: 'light-green',
			wrapperDisplay: 'd-flex',
			wrapperDirection: 'flex-direction-column',
			wrapperRowGap: 'rg-56 rg-32@xs',
		},
		elem: {
			ColHeading: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h3',
					text: '<span class="light-grey">О группе компаний.</span> Группа компаний «Азот» — передовые предприятия азотной промышленности',
				},
				cn: {
					size: 'h3',
					textIndent: true,
				},
			},
			Footnote: {
				data: {
					text: 'факты о гк «азот»'
				},
				cn: {
					style: 'cap',
					textTransform: 'upper'
				}
			},
			FactsAlignRight: [
				{
					data: {
						factText: 'стран<br>импортёров продукции',
						factNumber: '> 40',
					}
				},
				{
					data: {
						factText: 'численность<br>сотрудников группы компаний',
						factNumber: '> 8 000',
					}
				},
				{
					data: {
						factText: 'объём производства<br>продукции, тн в год',
						factNumber: '4 027 133',
					}
				},
				{
					data: {
						factText: 'лидер<br>с долей рынка РФ',
						factNumber: '85%',
					}
				},
			]
		}
	}
