-
	const PageLinks = {
		includeSection: 'PageLinks',
		elem: {
			Col2: {
				cn: {
					cols: 'col-2 col-6@md col-4@xs'
				}
			},
			Col10: {
				cn: {
					cols: 'col-10 col-6@md col-4@xs'
				}
			},
			PageLinkArr: [
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'история компании'
							},
							cn: {
								size: 'biggest'
							},
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'миссия и ценности',
							},
							cn: {
								size: 'biggest'
							},
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'цели и стратегия',
							},
							cn: {
								size: 'biggest'
							},
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'управление компанией',
							},
							cn: {
								size: 'biggest'
							},
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'раскрытие информации',
							},
							cn: {
								size: 'biggest'
							},
						}
					},
					opt: {
						icon: true
					},
				}
			],
			FootNote: {
				data: {text: 'дальше'},
				cn: {style: 'cap', textTransform: 'upper'}
			},
		}
	}
