-
	const Supervisor = {
		includeSection: 'Supervisor',
		data: {
			image: require('IMAGES/sections/supervisor/supervisor-1.png')
		},
		elem: {
			HeadingName: {
				data: {
					text: 'Вишневский<br> Андрей Николаевич',
				}
			},
			TextPost: {
				data: {
					text: 'Генеральный директор КАО «Азот»',
				}
			},
			HeadingQuote: {
				data: {
					text: '«Наша цель – стать глобальной компанией, где забота о каждом сотруднике и партнере является основой нашего успеха и процветания»',
				}
			},
		}
	}
