-
	const Employees = {
		includeSection: 'Employees',
		cn: {
			margin: 'mt-200 mt-80@xs',
		},
		elem: {
			Text: {
				data: {
					text: 'Руководство компании'
				}
			},
			Row: {
				cn: {
					margin: 'mt-40 mt-20@xs',
				}
			},
			PageLink: {
				data: {
					href: '#!',
					text: 'управление компанией'
				},
				cn: {
					size: 'large',
				},
				opt: {
					icon: true
				}
			}
		},
		dataArr: {
			cardPersonalColArr: [
				{
					elem: {
						Col: {
							cn: {
								offset: 'offset-2 offset-0@xs'
							}
						},
						CardPersonal: {
							data: {
								image: require('IMAGES/sections/team/team-1.png')
							},
							elem: {
								TextName: {
									data: {
										text: 'Кондратьев Сергей Александрович',
									},
									cn: {
										size: 'big',
									}
								},
								TextPosition: {
									data: {
										text: 'Главный инженер КАО «Азот»'
									},
									cn: {
										size: 'small',
									}
								},
							}
						}
					}
				},
				{
					elem: {
						CardPersonal: {
							data: {
								image: require('IMAGES/sections/team/team-2.png')
							},
							elem: {
								TextName: {
									data: {
										text: 'Храбровский Олег Игоревич',
									},
									cn: {
										size: 'big',
									}
								},
								TextPosition: {
									data: {
										text: 'Заместитель генерального директора <br> по промышленной и экологической безопасности <br> КАО «Азот»'
									},
									cn: {
										size: 'small',
									}
								},
							}
						}
					}
				},
				{
					elem: {
						Col: {
							cn: {
								offset: 'offset-2 offset-0@xs'
							}
						},
						CardPersonal: {
							data: {
								image: require('IMAGES/sections/team/team-3.png')
							},
							elem: {
								TextName: {
									data: {
										text: 'Король Татьяна Олеговна',
									},
									cn: {
										size: 'big',
									}
								},
								TextPosition: {
									data: {
										text: 'Заместитель генерального директора <br> по экономике и финансам КАО «Азот»'
									},
									cn: {
										size: 'small',
									}
								},
							}
						}
					}
				},
				{
					elem: {
						CardPersonal: {
							data: {
								image: require('IMAGES/sections/team/team-4.png')
							},
							elem: {
								TextName: {
									data: {
										text: 'Фомичёв Александр Анатольевич',
									},
									cn: {
										size: 'big',
									}
								},
								TextPosition: {
									data: {
										text: 'Заместитель генерального директора <br> по коммерческим вопросам — коммерческий <br> директор КАО «Азот»'
									},
									cn: {
										size: 'small',
									}
								},
							}
						}
					}
				},
			]
		}
	}
