-
	const Bio = {
		includeSection: 'Bio',
		dataArr: {
			bioArr: [
				{
					dataArr: {
						listArr: [
							{
								elem: {
									TextName: {
										data: {
											text: 'Образование',
										}
									},
									HeadingDate: {
										data: {
											text: '1998',
										}
									},
									TextEvent: {
										data: {
											text: 'Инженер<br> Кемеровский технологический институт пищевой промышленности',
										}
									},
								}
							}
						]
					},
				},
				{
					data: {
						moreAttributes: {
							'data-more-desktop': 12,
							'data-more-desktop-step': 6,
							'data-more-mobile': 6,
							'data-more-mobile-step': 6,
							'data-button-text': 'Показать еще',
						},
					},
					cn: {
						jsClass: 'js-more',
						jsClassItem: 'js-more-item',
					},
					dataArr: {
						listArr: [
							{
								elem: {
									TextName: {
										data: {
											text: 'Карьера',
										}
									},
									HeadingDate: {
										data: {
											text: '08.1998 – 10.1998',
										}
									},
									TextEvent: {
										data: {
											text: 'Слесарь-ремонтник 4-го разряда цеха карбамида КАО «Азот»',
										}
									},
								}
							},
							{
								elem: {
									HeadingDate: {
										data: {
											text: '10.1998 – 03.1999',
										}
									},
									TextEvent: {
										data: {
											text: 'Слесарь-ремонтник 5-го разряда цеха карбамида КАО «Азот»',
										}
									},
								}
							},
							{
								elem: {
									HeadingDate: {
										data: {
											text: '03.1999 – 12.2001',
										}
									},
									TextEvent: {
										data: {
											text: 'Машинист компрессорных установок 6-го разряда цеха карбамида КАО «Азот»',
										}
									},
								}
							},
							{
								elem: {
									HeadingDate: {
										data: {
											text: '12.2001 – 04.2004',
										}
									},
									TextEvent: {
										data: {
											text: 'Начальник смены цеха карбамида КАО «Азот»',
										}
									},
								}
							},
							{
								elem: {
									HeadingDate: {
										data: {
											text: '04.2004 – 02.2008',
										}
									},
									TextEvent: {
										data: {
											text: 'Начальник отделения цеха карбамида КАО «Азот»',
										}
									},
								}
							},
							{
								elem: {
									HeadingDate: {
										data: {
											text: '02.2008 – 01.2011',
										}
									},
									TextEvent: {
										data: {
											text: 'Начальник цеха карбамида КАО «Азот»',
										}
									},
								}
							},
							{
								elem: {
									HeadingDate: {
										data: {
											text: '01.2011 – 06.2012',
										}
									},
									TextEvent: {
										data: {
											text: 'Руководитель проекта управления повышения эффективности КАО «Азот»',
										}
									},
								}
							},
							{
								elem: {
									HeadingDate: {
										data: {
											text: '06.2012 – 09.2013',
										}
									},
									TextEvent: {
										data: {
											text: 'Заместитель начальника цеха аммиака-2 КАО «Азот»',
										}
									},
								}
							},
							{
								elem: {
									HeadingDate: {
										data: {
											text: '09.2013 – 01.2014',
										}
									},
									TextEvent: {
										data: {
											text: 'Начальник цеха аммиака-2 КАО «Азот»',
										}
									},
								}
							},
							{
								elem: {
									HeadingDate: {
										data: {
											text: '01.2014 – 11.2014',
										}
									},
									TextEvent: {
										data: {
											text: 'Заместитель главного инженера по производству КАО «Азот»',
										}
									},
								}
							},
							{
								elem: {
									HeadingDate: {
										data: {
											text: '11.2014 – 01.2023',
										}
									},
									TextEvent: {
										data: {
											text: 'Главный инженер КАО «Азот»',
										}
									},
								}
							},
							{
								elem: {
									HeadingDate: {
										data: {
											text: '01.2023 – <span>настоящее<br> время</span>',
										}
									},
									TextEvent: {
										data: {
											text: 'Генеральный директор КАО «Азот',
										}
									},
								}
							},
						]
					},
				},
				{
					dataArr: {
						listArr: [
							{
								data: {
									icon: require('IMAGES/other/medal.svg'),
								},
								elem: {
									TextName: {
										data: {
											text: 'Награды',
										}
									},
									TextEvent: {
										data: {
											text: 'Медаль «За особый вклад в развитие Кузбасса» III степени',
										}
									},
								}
							},
							{
								data: {
									icon: require('IMAGES/other/medal.svg'),
								},
								elem: {
									TextEvent: {
										data: {
											text: 'Медаль «За бизнес во имя созидания»',
										}
									},
								}
							},
							{
								data: {
									icon: require('IMAGES/other/diploma.svg'),
								},
								elem: {
									TextEvent: {
										data: {
											text: 'Почетная грамота Министерства промышленности и торговли РФ',
										}
									},
								}
							},
						]
					},
				},
			],
		},
	}
