-
	const FilterCases = {
		includeSection: 'FilterCases',
		elem: {
			FiltersSelectControl: {
				elem: {
					SelectFilterArr: [
						{
							data: {
								text: 'Культура',
								nameSelect: 'culture'
							},
							dataArr: {
								optionArr: [
									{
										data: {
											text: 'Зерновые'
										}
									},
									{
										data: {
											text: 'Масличные'
										}
									},
									{
										data: {
											text: 'Зернобобовые'
										}
									},
									{
										data: {
											text: 'Овощные'
										}
									},
									{
										data: {
											text: 'Корнеплоды/клубнеплоды'
										}
									},
									{
										data: {
											text: 'Ягодные'
										}
									},
									{
										data: {
											text: 'Зеленные'
										}
									},
									{
										data: {
											text: 'Прядильные'
										}
									},
								]
							},
						},
						{
							data: {
								text: 'Удобрения',
								nameSelect: 'fertilizers'
							},
							dataArr: {
								optionArr: [
									{
										data: {
											text: 'азотные'
										}
									},
									{
										data: {
											text: 'фосфорные'
										}
									},
									{
										data: {
											text: 'калийные'
										}
									},
									{
										data: {
											text: 'комплексные'
										}
									},
									{
										data: {
											text: 'водорастворимые'
										}
									},
								]
							},
						},
					],
				}
			},
			CardsArr: [
				{
					data: {
						image: require('IMAGES/sections/cases-article-list/cases-article-list-1.png'),
						productImage: require('IMAGES/sections/cases-article-list/product-info.png'),
						productInfo: 'Аммиак безводный сжиженный',
						productLink: 'https://google.com'
					},
					elem: {
						TextName: {
							data: {
								text: 'Как использование азотных удобрений помогло увеличить урожайность на 30%',
							},
							cn: {
								size: 'big',
							}
						},
						TextPosition: {
							data: {
								text: 'Корнеплоды/клубнеплоды'
							},
							cn: {
								size: 'small',
							}
						},
					},
					cn: {
						widthType: 'wide'
					},
					opt: {
						isLink: true,
						isFilterCases: true
					}
				},
				{
					data: {
						image: require('IMAGES/sections/cases-article-list/cases-article-list-2.png'),
						productImage: require('IMAGES/sections/cases-article-list/product-info.png'),
						productInfo: 'Аммиак безводный сжиженный',
						productLink: '#'
					},
					elem: {
						TextName: {
							data: {
								text: 'Опыт работы с аммиачной селитрой для подкормки плодовых деревьев',
							},
							cn: {
								size: 'big',
							}
						},
						TextPosition: {
							data: {
								text: 'Корнеплоды/клубнеплоды'
							},
							cn: {
								size: 'small',
							}
						},
					},
					cn: {
						widthType: 'narrow'
					},
					opt: {
						isLink: true,
						isFilterCases: true
					}
				},
				{
					data: {
						image: require('IMAGES/sections/cases-article-list/cases-article-list-3.png'),
						productImage: require('IMAGES/sections/cases-article-list/product-info.png'),
						productInfo: 'Аммиак безводный сжиженный',
						productLink: '#'
					},
					elem: {
						TextName: {
							data: {
								text: 'Опыт успешного фермера: азотные удобрения – ключевой фактор роста',
							},
							cn: {
								size: 'big',
							}
						},
						TextPosition: {
							data: {
								text: 'Корнеплоды/клубнеплоды'
							},
							cn: {
								size: 'small',
							}
						},
					},
					cn: {
						widthType: 'narrow'
					},
					opt: {
						isLink: true,
						isFilterCases: true
					}
				},
				{
					data: {
						image: require('IMAGES/sections/cases-article-list/cases-article-list-4.png')
					},
					elem: {
						TextName: {
							data: {
								text: 'Повышение качества продукции с использованием азотных удобрений',
							},
							cn: {
								size: 'big',
							}
						},
						TextPosition: {
							data: {
								text: 'Корнеплоды/клубнеплоды'
							},
							cn: {
								size: 'small',
							}
						},
					},
					cn: {
						widthType: 'narrow'
					},
					opt: {
						isLink: true
					}
				},
				{
					data: {
						image: require('IMAGES/sections/cases-article-list/cases-article-list-5.png')
					},
					elem: {
						TextName: {
							data: {
								text: 'Увеличение прибыли в сельском хозяйстве: применение азотных удобрений',
							},
							cn: {
								size: 'big',
							}
						},
						TextPosition: {
							data: {
								text: 'Корнеплоды/клубнеплоды'
							},
							cn: {
								size: 'small',
							}
						},
					},
					cn: {
						widthType: 'narrow'
					},
					opt: {
						isLink: true
					}
				},
				{
					data: {
						image: require('IMAGES/sections/cases-article-list/cases-article-list-6.png'),
						productImage: require('IMAGES/sections/cases-article-list/product-info.png'),
						productInfo: 'Аммиак безводный сжиженный',
						productLink: '#'
					},
					elem: {
						TextName: {
							data: {
								text: 'Максимизация урожайности: как эффективно применять азотные удобрения',
							},
							cn: {
								size: 'big',
							}
						},
						TextPosition: {
							data: {
								text: 'Зерновые'
							},
							cn: {
								size: 'small',
							}
						},
					},
					cn: {
						widthType: 'narrow'
					},
					opt: {
						isLink: true,
						isFilterCases: true
					}
				},
				{
					data: {
						image: require('IMAGES/sections/cases-article-list/cases-article-list-7.png')
					},
					elem: {
						TextName: {
							data: {
								text: 'Преимущества азотных удобрений: сокращение загрязнения почвы и воды',
							},
							cn: {
								size: 'big',
							}
						},
						TextPosition: {
							data: {
								text: 'Зерновые'
							},
							cn: {
								size: 'small',
							}
						},
					},
					cn: {
						widthType: 'narrow'
					},
					opt: {
						isLink: true
					}
				},
				{
					data: {
						image: require('IMAGES/sections/cases-article-list/cases-article-list-8.png'),
						productImage: require('IMAGES/sections/cases-article-list/product-info.png'),
						productInfo: 'Аммиак безводный сжиженный',
						productLink: '#'
					},
					elem: {
						TextName: {
							data: {
								text: 'Азотные удобрения: как сохранить продуктивность почвы на долгие годы',
							},
							cn: {
								size: 'big',
							}
						},
						TextPosition: {
							data: {
								text: 'Зерновые'
							},
							cn: {
								size: 'small',
							}
						},
					},
					cn: {
						widthType: 'narrow'
					},
					opt: {
						isLink: true,
						isFilterCases: true
					}
				},
				{
					data: {
						image: require('IMAGES/sections/cases-article-list/cases-article-list-9.png')
					},
					elem: {
						TextName: {
							data: {
								text: 'Риски в сельском хозяйстве: рациональное использование азотных удобрений',
							},
							cn: {
								size: 'big',
							}
						},
						TextPosition: {
							data: {
								text: 'Зерновые'
							},
							cn: {
								size: 'small',
							}
						},
					},
					cn: {
						widthType: 'narrow'
					},
					opt: {
						isLink: true
					}
				},
				{
					data: {
						image: require('IMAGES/sections/cases-article-list/cases-article-list-10.png'),
						productImage: require('IMAGES/sections/cases-article-list/product-info.png'),
						productInfo: 'Аммиак безводный сжиженный',
						productLink: '#'
					},
					elem: {
						TextName: {
							data: {
								text: 'Повышение устойчивости культурных растений с помощью азотных удобрений',
							},
							cn: {
								size: 'big',
							}
						},
						TextPosition: {
							data: {
								text: 'Масличные'
							},
							cn: {
								size: 'small',
							}
						},
					},
					cn: {
						widthType: 'wide'
					},
					opt: {
						isLink: true,
						isFilterCases: true
					}
				},
				{
					data: {
						image: require('IMAGES/sections/cases-article-list/cases-article-list-11.png'),
						productImage: require('IMAGES/sections/cases-article-list/product-info.png'),
						productInfo: 'Аммиак безводный сжиженный',
						productLink: '#'
					},
					elem: {
						TextName: {
							data: {
								text: 'Азотные удобрения: подходы для обеспечения плодородия почвы',
							},
							cn: {
								size: 'big',
							}
						},
						TextPosition: {
							data: {
								text: 'Масличные'
							},
							cn: {
								size: 'small',
							}
						},
					},
					cn: {
						widthType: 'narrow'
					},
					opt: {
						isLink: true,
						isFilterCases: true
					}
				},
				{
					data: {
						image: require('IMAGES/sections/cases-article-list/cases-article-list-12.png')
					},
					elem: {
						TextName: {
							data: {
								text: 'Экономия времени и сил с использованием азотных удобрений: истории успеха',
							},
							cn: {
								size: 'big',
							}
						},
						TextPosition: {
							data: {
								text: 'Масличные'
							},
							cn: {
								size: 'small',
							}
						},
					},
					cn: {
						widthType: 'narrow'
					},
					opt: {
						isLink: true
					}
				},
				{
					data: {
						image: require('IMAGES/sections/cases-article-list/cases-article-list-13.png')
					},
					elem: {
						TextName: {
							data: {
								text: 'Увеличение производства культур с использованием азотных удобрений',
							},
							cn: {
								size: 'big',
							}
						},
						TextPosition: {
							data: {
								text: 'Зерновые'
							},
							cn: {
								size: 'small',
							}
						},
					},
					cn: {
						widthType: 'narrow'
					},
					opt: {
						isLink: true
					}
				},
			]
		}
	}
