-
	const AccordionList = {
		includeSection: 'AccordionList',
		cn: {
			margin: 'mt-200 mt-80@xs',
		},
		elem: {
			Col: {
				cn: {
					display: 'd-flex',
					direction: 'flex-direction-column',
					gap: 'rg-64 rg-20@xs'
				}
			},
			TextFootnote: {
				data: {
					text: 'частые вопросы',
				}
			},
			AccordionArr: [
				{
					elem: {
						AccordionList: {
							elem: {
								AccordionTitle: {
									data: {
										text: 'как оформить покупку?',
									},
									cn: {
										textTransform: 'lower',
										textAlign: 'text-align-left',
										size: 'bigger',
									}
								},
							}
						},
						AccordionText: {
							data: {
								text: 'Материалы могут быть великолепным инструментом для разрешения сложных вопросов. С их помощью вы сможете получить глубокое понимание темы, просмотреть различные точки зрения и исследовать различные подходы. Они также могут предложить вам примеры, иллюстрации и конкретные решения, которые помогут вам лучше понять сложность вопроса. В конечном итоге, материалы предоставляют вам информацию и инструменты, которые могут помочь вам справиться с любым сложным вопросом.'
							}
						},
					}
				},
				{
					elem: {
						AccordionList: {
							elem: {
								AccordionTitle: {
									data: {
										text: 'какой минимальный заказ?',
									},
									cn: {
										textTransform: 'lower',
										textAlign: 'text-align-left',
										size: 'bigger',
									}
								},
							}
						},
						AccordionText: {
							data: {
								text: 'Материалы могут быть великолепным инструментом для разрешения сложных вопросов. С их помощью вы сможете получить глубокое понимание темы, просмотреть различные точки зрения и исследовать различные подходы. Они также могут предложить вам примеры, иллюстрации и конкретные решения, которые помогут вам лучше понять сложность вопроса. В конечном итоге, материалы предоставляют вам информацию и инструменты, которые могут помочь вам справиться с любым сложным вопросом.'
							}
						},
					}
				},
				{
					elem: {
						AccordionList: {
							elem: {
								AccordionTitle: {
									data: {
										text: 'какие материалы помогут справиться со сложными вопросами?',
									},
									cn: {
										textTransform: 'lower',
										textAlign: 'text-align-left',
										size: 'bigger',
									}
								},
							}
						},
						AccordionText: {
							data: {
								text: 'Материалы могут быть великолепным инструментом для разрешения сложных вопросов. С их помощью вы сможете получить глубокое понимание темы, просмотреть различные точки зрения и исследовать различные подходы. Они также могут предложить вам примеры, иллюстрации и конкретные решения, которые помогут вам лучше понять сложность вопроса. В конечном итоге, материалы предоставляют вам информацию и инструменты, которые могут помочь вам справиться с любым сложным вопросом.'
							}
						},
					}
				},
			]
		}
	}
