-
	const TabsFacts = {
		includeSection: 'TabsFacts',
		cn: {
			margin: 'mt-120 mt-80@xs',
		},
		elem: {
			TabsButtons: {
				dataArr: {
					buttonArr: [
						{
							data: {
								dataTabsButton: 'characteristics'
							},
							elem: {
								Button: {
									data: {
										text: 'характеристики',
									}
								}
							}
						},
						{
							data: {
								dataTabsButton: 'description'
							},
							elem: {
								Button: {
									data: {
										text: 'описание',
									}
								}
							}
						},
						{
							data: {
								dataTabsButton: 'package'
							},
							elem: {
								Button: {
									data: {
										text: 'упаковка',
									}
								}
							}
						},
						{
							data: {
								dataTabsButton: 'transportation'
							},
							elem: {
								Button: {
									data: {
										text: 'транспортирование',
									}
								}
							}
						},
					]
				},
			},
			TabsContentArr: [
				{
					data: {
						dataTabsContent: 'characteristics',
					},
					elem: {
						FactsTextNumberArr: [
							{
								elem: {
									Text: {
										data: {
											text: 'суммарная массовая доля нитратного и аммонийного азота в пересчёте на NH4NO3 в сухом веществе, %, не менее'
										}
									},
									Number: {
										data: {
											text: '0,2'
										},
										cn: {
											size: 'bigger',
											textAlign: 'text-align-right@xs',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'массовая доля гранул размером от 1 до 3 мм,  %, не менее'
										}
									},
									Number: {
										data: {
											text: '93'
										},
										cn: {
											size: 'bigger',
											textAlign: 'text-align-right@xs',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'массовая доля воды гигроскопической с добавками нитратов  кальция и магния, %, не более:'
										}
									},
									Number: {
										data: {
											text: '0,3'
										},
										cn: {
											size: 'bigger',
											textAlign: 'text-align-right@xs',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'массовая доля гранул размером менее 1 мм, % '
										}
									},
									Number: {
										data: {
											text: '4'
										},
										cn: {
											size: 'bigger',
											textAlign: 'text-align-right@xs',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'массовая доля воды общей с добавками нитратов кальция  и магния, %, не более:'
										}
									},
									Number: {
										data: {
											text: '0,6'
										},
										cn: {
											size: 'bigger',
											textAlign: 'text-align-right@xs',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'массовая доля гранул размером более 6 мм, % '
										}
									},
									Number: {
										data: {
											text: '0'
										},
										cn: {
											size: 'bigger',
											textAlign: 'text-align-right@xs',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'рH водного раствора с массовой долей 10%,  не менее'
										}
									},
									Number: {
										data: {
											text: '5,0'
										},
										cn: {
											size: 'bigger',
											textAlign: 'text-align-right@xs',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'статистическая прочность гранул, МПа (кгс/см2), не менее или в пересчете на гранулу, Н (кгс) не менее'
										}
									},
									Number: {
										data: {
											text: '5,0 (0,5)'
										},
										cn: {
											size: 'bigger',
											textAlign: 'text-align-right@xs',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'массовая доля нерастворимых в 10%-ном растворе азотной  кислоты, %, не более'
										}
									},
									Number: {
										data: {
											text: '0,2'
										},
										cn: {
											size: 'bigger',
											textAlign: 'text-align-right@xs',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'рассыпчатость, %,  не менее'
										}
									},
									Number: {
										data: {
											text: '100'
										},
										cn: {
											size: 'bigger',
											textAlign: 'text-align-right@xs',
										}
									}
								}
							},
						]
					},
					cn: {
						colCount: 'two-cols',
					}
				},
				{
					data: {
						dataTabsContent: 'description',
					},
					elem: {
						Text: {
							data: {
								text: 'аммиачную селитру можно использовать в производстве различных химических соединений, в том числе азотных кислот, аммиака и эксплозивов. служит сырьём для изготовления пестицидов и красителей, а так же является важным компонентом минеральных удобрений',
							},
							cn: {
								size: 'bigger',
							}
						}
					}
				},
				{
					data: {
						dataTabsContent: 'package',
					},
					elem: {
						FactsTextNumberArr: [
							{
								elem: {
									Text: {
										data: {
											text: 'полипропиленовые тканые мешки с закрытой горловиной (клапаном) с полиэтиленовым вкладышем. номинальная масса, кг',
										}
									},
									Number: {
										data: {
											text: '50'
										},
										cn: {
											size: 'bigger',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'мягкие специализированные контейнеры (МКР). номинальная масса, кг.',
										}
									},
									Number: {
										data: {
											text: '50'
										},
										cn: {
											size: 'bigger',
										}
									}
								}
							},
						]
					},
				},
				{
					data: {
						dataTabsContent: 'transportation',
					},
					elem: {
						FactsTextDescArr: [
							{
								elem: {
									Text: {
										data: {
											text: 'вид упаковки',
										}
									},
									Desc: {
										data: {
											text: 'упаковка/насыпью',
										},
										cn: {
											size: 'bigger',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'вид транспортировки',
										}
									},
									Desc: {
										data: {
											text: 'упакованную продукцию транспортируют всеми видами транспорта, кроме воздушного, в соответствии с правилами перевозки опасных грузов, действующими на данном виде транспорта.',
										},
										cn: {
											size: 'bigger',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'транспортная маркировка',
										}
									},
									Desc: {
										data: {
											text: '«Беречь от влаги», «Беречь от солнечных лучей»',
										},
										cn: {
											size: 'bigger',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'знак опасности',
										}
									},
									Desc: {
										data: {
											text: 'класс 5, подкласс 5.1, категория 511, классификационный шифр 5113',
										},
										cn: {
											size: 'bigger',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'серийный номер ООН',
										}
									},
									Desc: {
										data: {
											text: '1942 (аммония нитрат)',
										},
										cn: {
											size: 'bigger',
										}
									}
								}
							},
							{
								elem: {
									Text: {
										data: {
											text: 'аварийная карточка',
										}
									},
									Desc: {
										data: {
											text: '№ 509 (при перевозке по железным дорогам).',
										},
										cn: {
											size: 'bigger',
										}
									}
								}
							},
						]
					},
					cn: {
						factType: 'text-desc'
					}
				},
			]
		},
	}
