-
	function classes(cn) {
		const BLOCK = CN('tabs-map')

		return {
			tabsMap: BLOCK({}, [cn?.margin]),
			tabsMapOfficeWrap: BLOCK('office-wrap'),
			tabsMapOfficeList: BLOCK('office-list'),
			tabsMapOfficeItem: BLOCK('office-item'),
			tabsMapWrapOfficeList: BLOCK('wrap-office-list'),
		}
	}
