-
	const PageLinksServices = {
		includeSection: 'PageLinks',
		cn:{
			margin: 'mt-120 mt-80@xs'
		},
		elem: {
			Col2: {
				cn: {
					cols: 'col-2 col-6@md col-4@xs'
				}
			},
			Col10: {
				cn: {
					cols: 'col-10 col-6@md col-4@xs'
				}
			},
			PageLinkArr: [
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'личный кабинет'
							},
							cn: {
								size: 'biggest'
							},
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'стать поставщиком'
							},
							cn: {
								size: 'biggest',
							},
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'получить пропуск на ввоз тмц'
							},
							cn: {
								size: 'biggest',
							},
						}
					},
					opt: {
						icon: true
					},
				}
			],
			FootNote: {
				data: { text: 'сервисы' },
				cn: { style: 'cap', textTransform: 'upper' }
			},
		}
	}
