-
	const ListContactLinks = {
		includeSection: 'ListContactLinks',
		cn: {
			margin: 'mt-120 mt-80@xs',
			linkMargin: 'justify-content-end'
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs'
				}
			},
			Heading: {
				data: {
					tag: "h3",
					text: "Свяжитесь с нами, чтобы получить больше информации",
					footnoteText: "если остались вопросы"
				},
				cn: {
					size: "h3",
					margin: 'mb-80 mb-32@xs',
					textIndent: true,
					cols: 'col-9 col-4@xs'
				},
			},
			ListContactLinksArr: [
				{
					elem: {
						ContactLink: {
							elem: {
								Header: {
									data: {
										text: 'као «а‎зот»‎',
									},
								},
								Email: {
									data: {
										text: 'sales@azot.kuzbass.net',
										ariaLink: 'sales@azot.kuzbass.net',
										title: 'sales@azot.kuzbass.net',
										linkHref: 'mail:sales@azot.kuzbass.net'
									},
									cn: {
										textTransform: 'text-transform-none',
									}
								},
								Phone: {
									data: {
										text: '+7 3842 57-07-87',
										ariaLink: '+7 3842 57 07 87',
										title: '+7 3842 57 07 87',
										linkHref: 'tel:+7 3842 57 07 87'
									},
								}
							},
							cn: {
								margin: 'mb-32 mb-32@xs pb-32 pb-20@xs',
							}
						}
					}
				},
				{
					elem: {
						ContactLink: {
							elem: {
								Header: {
									data: {
										text: 'торговый дом «а‎зот»',
									},
								},
								Email: {
									data: {
										text: 'info@sbu-azot.ru',
										ariaLink: 'info@sbu-azot.ru',
										title: 'info@sbu-azot.ru',
										linkHref: 'mail:info@sbu-azot.ru'
									},
									cn:{
										textTransform: 'text-transform-none',
									}
								},
								Phone: {
									data: {
										text: '+7 495 974-75-75',
										ariaLink: '+7 495 974 75 75',
										title: '+7 495 974 75 75',
										linkHref: 'tel:+7 495 974 75 75'
									},
								}
							},
							cn: {
								margin: 'mb-32 mb-32@xs pb-32 pb-20@xs',
							}
						}
					}
				},
			],
		}
	}
