| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ COMPONENTS #')}
script(src=require('COMPONENTS/Video/Video.ts') defer)

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ SECTIONS #')}
script(src=require('SECTIONS/SliderAbout/SliderAbout.ts' ) defer)
