-
	function classes(cn) {
		const BLOCK = CN('tabs-team')

		return {
			tabsTeam: BLOCK({}, [cn?.margin]),
			tabsTeamHeading: BLOCK('heading'),
			tabsTeamTabsButtons: BLOCK('tabs-buttons'),
			tabsTeamCol: BLOCK('col'),
		}
	}
