-
	const TitleTextWrapQuote = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-64 mt-40@xs',
		},
		elem: {
			TitleText: {
				data: {
					text: 'Предприятие старается регулярно участвовать в экологических акциях региона, работники «Азота» организованно выходят на субботники как на территории завода, так и за его пределами. Это не просто выполнение обязательств, но и дань уважения природе Сибири.'
				},
				elem: {
					Col: {
						cn: {
							offset: 'offset-2 offset-0@xs',
							cols: 'col-7 col-4@xs',
						}
					},
				},
			},
		},
		opt: {
			isHR: true
		}
	}
