-
	const FactsWrap = {
		includeSection: 'FactsWrap',
		cn: {
			margin: 'mt-120 mt-40@xs',
		},
		elem: {
			Facts: {
				elem: {
					TitleTextArr: [
						{
							data: {
								title: '10',
								text: 'лет участия<br>в программе'
							},
							elem: {
								Col: {
									cn: {
										offset: 'offset-2 offset-0@xs',
										cols: 'col-1 col-3@xs',
										gap: 'rg-16 rg-4@xs',
									}
								},
								HeadingTitleTextTitle: {
									cn: {
										size: 'h1',
									}
								},
							},
						},
						{
							data: {
								title: '1,5',
								text: 'млн мальков выпущены<br>за все время'
							},
							elem: {
								Col: {
									cn: {
										offset: 'offset-2 offset-0@xs',
										gap: 'rg-16 rg-4@xs',
										cols: 'col-2 col-4@xs',
									}
								},
								HeadingTitleTextTitle: {
									cn: {
										size: 'h1',
									}
								},
							},
						},
						{
							data: {
								title: '>80',
								text: 'тыс. мальков нельмы<br>и тайменя выпущены в 2023 г.'
							},
							elem: {
								Col: {
									cn: {
										offset: 'offset-1 offset-0@xs',
										gap: 'rg-16 rg-4@xs',
										cols: 'col-3 col-4@xs',
									}
								},
								HeadingTitleTextTitle: {
									cn: {
										size: 'h1',
									}
								},
							},
						}
					],
				},
			}
		},
	}
