-
	const CardQuoteWrap = {
		includeSection: 'CardQuoteWrap',
		cn: {
			margin: 'mt-120 mt-40@xs',
		},
		elem: {
			CardQuote: {
				elem: {
					Col: {
						cn: {
							cols: 'col-7 col-4@xs',
							offset: 'offset-2 offset-0@xs'
						}
					},
					TextQuote: {
						data: {
							text: '«У нашего предприятия есть обязательства по восполнению водных биологических ресурсов, так как завод использует водный объект, реку Томь, в хозяйственных нуждах. Но, помимо этого, мы, как социально ответственная организация, также преследуем благотворительные цели. Так, например, из 40 тысяч выпущенных этим летом мальков тайменя 30 тысяч — обязательная часть, а 10 тысяч — благотворительная».',
						},
						cn: {
							size: 'big',
						}
					},
					TextQuoteBy: {
						data: {
							text: 'директор по производственной безопасности КАО «Азот» Олег Храбровский',
						},
						cn: {
							margin: 'mt-48 mt-20@xs',
							style: 'cap',
							textTransform: 'upper',
							textAlign: 'text-align-right text-align-left@xs',
						}
					}
				}
			}
		}
	}
