-
	const PageLinks = {
		includeSection: 'PageLinks',
		elem: {
			Col2: {
				cn: {
					cols: 'col-2 col-6@md col-4@xs'
				}
			},
			Col10: {
				cn: {
					cols: 'col-10 col-6@md col-4@xs'
				}
			},
			PageLinkArr: [
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'На «Азоте» впервые прошёл региональный этап Всероссийского конкурса «Лучший газоспасатель»'
							},
							cn: {
								size: 'bigger',
								overflow: 'text-overflow',
							},
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'Повышение энергетической эффективности является одним из ключевых приоритетов глобальной и долгосрочной энергетической политики КАО «Азот»',
							},
							cn: {
								size: 'bigger',
								overflow: 'text-overflow',
							},
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'На «Азоте» впервые прошёл региональный этап Всероссийского конкурса «Лучший газоспасатель»',
							},
							cn: {
								size: 'bigger',
								overflow: 'text-overflow',
							},
						}
					},
					opt: {
						icon: true
					},
				},
				{
					data:{
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'Кемеровский «Азот» провёл благотворительный забег «Цепная реакция»',
							},
							cn: {
								size: 'bigger',
								overflow: 'text-overflow',
							},
						}
					},
					opt: {
						icon: true
					},
				}
			],
			FootNote: {
				data: {text: 'дальше'},
				cn: {style: 'cap', textTransform: 'upper'}
			},
			Button: {
				data: {
					href: '#!',
					text: 'все новости'
				},
				cn: {
					size: 'large',
					margin: 'ml-auto'
				},
				opt: {
					icon: true
				}
			}
		}
	}
