-
	const HeadingDetailed = {
		includeSection: 'HeadingDetailed',
		cn: {
			margin: 'mt-16',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h3',
					text: 'Кемеровский «Азот» выпустил в реки Сибири 1,5 миллиона мальков рыб ценных пород',
				},
				cn: {
					size: 'h3',
					textIndent: true,
				},
			}
		}
	}
