-
	const TitleTextWrap = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-200 mt-20@xs',
		},
		data: {
			footnote: '09.07.2023',
		},
		elem: {
			ButtonYandexShare: {
				data: {
					shareButtonServices: "vkontakte,odnoklassniki,telegram",
				}
			},
			TitleText: {
				data: {
					title: 'В рамках государственной программы по восполнению водных биологических ресурсов регулярно финансирует мероприятия по зарыблению рек области и Сибири. За более чем 10 лет участия предприятия в программе в естественную среду обитания были выпущены 1,5 миллиона мальков нельмы, тайменя и хариуса.',
					text: 'Кемеровский «Азот» забирает воду из Томи для обеспечения энергетических потребностей производства, использует реку для сброса очищенных сточных вод, а взамен, как ответственный природопользователь, спонсирует выращивание и выпуск в реку мальков ценных пород рыб. Разведением и подготовкой сеголеток к жизни в открытых водоёмах занимаются специализированные рыбоводческие организации.\n<br><br>В июне и начале июля 2023 года на средства предприятия были выращены и выпущены в притоки рек Обь и Томь 43,7 тысячи мальков нельмы и более 40 тысяч мальков тайменя.'
				},
				elem: {
					Col: {
						cn: {
							order: 'order-2@xs'
						}
					},
					HeadingTitleTextTitle: {
						cn: {
							size: 'h4',
							margin: 'mt-0 mt-40@xs'
						}
					},
				},
			},
		}
	}
