-
	function classes(cn) {
		const BLOCK = CN('banner-slider')

		return {
			bannerSlider: BLOCK({}, ['mt-16@xs']),
			bannerSliderSlide: BLOCK('slide'),
			bannerSliderSliderPagination: BLOCK('slider-pagination'),
			bannerSliderPicture: BLOCK('picture'),
			bannerSliderImageSlide: BLOCK('image-slide'),
			bannerSliderContentBottom: BLOCK('content-bottom'),
			bannerSliderLink: BLOCK('link'),
		}
	}
