-
	function classes(cn) {
		const BLOCK = CN('career');

		return {
			career: BLOCK({}, [cn?.margin]),
			careerWrapper: BLOCK('wrapper', ['position-relative']),
			careerRowTop: BLOCK('row-top'),
			careerRowBottom: BLOCK('row-bottom'),
		}
	}
