//- # ПАРАМЕТРЫ ДЛЯ НАСТРОЙКИ LAYOUT # -//
-
	const pageTitle = 'Инвестиционные проекты';
	// const isSvgSprite = true;
	// const classBodyPage = 'about-body';
	// const classMainPage = 'about-main';

	const Header = {
		elem: {
			BreadCrumbs: {
				dataArr: {
					LinksArr: [
						{data: {text: 'Главная'}},
						{data: {text: 'Инвестиционные проекты'}},
					]
				}
			}
		}
	};

//- # НАСЛЕДОВАНИЕ ФУНКЦИИ ДЛЯ РАЗДЕЛЕНИЯ СТОРОВ # -//
- const pageStore = addSections();

//- ## Подключение store секции HeadingDetailed ## -//
include invest--heading-detailed
- pageStore.addSection(HeadingDetailed);

//- ## Подключение store секции ImageFacts ## -//
include invest--image-facts
- pageStore.addSection(ImageFacts);

//- ## Подключение store секции TitleTextWrap ## -//
include invest--title-text-wrap
- pageStore.addSection(TitleTextWrap);

//- ## Подключение store секции FactsWrap ## -//
include invest--facts-wrap
- pageStore.addSection(FactsWrap);

//- ## Подключение store секции TitleTextWrap ## -//
include invest--title-text-wrap-location
- pageStore.addSection(TitleTextWrapLocation);

//- ## Подключение store секции SliderInfoCard ## -//
include invest--slider-info-card
- pageStore.addSection(SliderInfoCard);

//- ## Подключение store секции FeedbackForm ## -//
include invest--feedback-form
- pageStore.addSection(FeedbackForm);

//- ## Подключение store секции ListContactLinks ## -//
include invest--list-contact-links
- pageStore.addSection(ListContactLinks);

//- ## Подключение store секции SliderNews ## -//
include invest--slider-news
- pageStore.addSection(SliderNews);

//- ## Подключение store секции HiddenDialogContent ## -//
include invest--dialog
- pageStore.addSection(HiddenDialogContent);
