-
	const FactsWrap = {
		includeSection: 'FactsWrap',
		cn: {
			margin: 'mt-120 mt-40@xs',
		},
		elem: {
			Facts: {
				elem: {
					Row: {
						cn: {
							gap: 'g-24@xs',
							direction: 'flex-direction-column@xs'
						}
					},
					TextFootnote: {
						data: {
							text: 'сроки и затраты',
						},
					},
					TitleTextArr: [
						{
							data: {
								title: '1 058',
								text: 'млн рублей<br>ООО «ГРАС»',
							},
							elem: {
								Col: {
									cn: {
										gap: 'rg-16 rg-4@xs',
										cols: 'col-3 col-4@xs',
									}
								}
							}
						},
						{
							data: {
								title: '1 890',
								text: 'млн рублей<br>КАО «Азот»',
							},
							elem: {
								Col: {
									cn: {
										gap: 'rg-16 rg-4@xs',
										cols: 'col-3 col-4@xs',
									}
								}
							}
						},
						{
							data: {
								title: '2024',
								text: 'прогнозный год<br>завершения проекта',
							},
							elem: {
								Col: {
									cn: {
										gap: 'rg-16 rg-4@xs',
										cols: 'col-3 col-4@xs',
									}
								}
							}
						},
					],
				},
			},
		},
	}
