-
	const HeadingDetailed = {
		includeSection: 'HeadingDetailed',
		cn: {
			margin: 'mt-16',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h2',
					text: 'Установка гранулированного сульфата аммония мощностью 250 тысяч тонн в год',
				},
				cn: {
					textIndent: true,
					size: 'h3',
				}
			},
		}
	}
