-
	const TitleTextWrapLocation = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-120 mt-40@xs',
		},
		data: {
			footnote: 'расположение',
		},
		elem: {
			ColHr: {
				cn: {
					display: 'd-none@xs',
					margin: 'mt-120 mt-80@xs'
				}
			},
			TitleText: {
				data: {
					text: 'промышленная площадка КАО «Азот» (Кемеровская область - Кузбасс, Кемеровский городской округ, Заводский район).'
				}
			},
		},
		opt: {
			isHR: true,
		}
	}
