-
	const TitleTextWrap = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-120 mt-80@xs',
		},
		data: {
			footnote: 'Бизнес-цель проекта',
		},
		elem: {
			TitleText: {
				data: {
					title: 'организация совместного с ООО «ГРАС» предприятия по производству нового продукта — гранулированного сульфата аммония — для удовлетворения спроса аграриев',
					text: 'Гранулированный сульфат аммония — премиальный продукт на рынке минеральных удобрений. Благодаря таким потребительским свойствам, как меньшая слёживаемость и высокая прочность формы, он более востребован как на внешнем, так и на внутреннем агрорынке, в том числе для использования в тукосмесях.',
				},
				elem: {
					HeadingTitleTextTitle: {
						cn: {
							size: "h4",
						}
					}
				},
				cn: {
					size: "h4",
					margin: 'mb-64 mb-20@xs'
				}
			}
		}
	}
