-
	const ImageFacts = {
		includeSection: 'ImageFacts',
		data: {
			img: require("IMAGES/sections/invest/invest-image-1.jpg"),
			imgXs: require("IMAGES/sections/invest/invest-image-1xs.jpg"),
		},
		cn: {
			margin: 'mt-40 mt-20@xs',
			isReverse: true
		},
	}
