-
	const HeadingDetailedMission = {
		includeSection: 'HeadingDetailed',
		cn: {
			margin: 'mt-20',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h3',
					text: 'Развивая себя и своих партнёров, мы создаём уникальную среду, в&nbsp;которой каждый может воплотить в&nbsp;жизнь свою мечту',
					footnoteText: 'миссия'
				},
				cn: {
					size: 'h3',
				},
			}
		}
	}
