-
	const StatisticsMap = {
		includeSection: 'StatisticsMap',
		dataArr: {
			bigNumberArr: [
				{
					data: {
						textBigNumber: '30'
					},
					cn: {
						isBigNumberMini: true,
						order: 'order-1@xs',
					},
					elem: {
						Text: {
							data: {
								text: 'видов химической <br> продукции'
							}
						}
					}
				},
				{
					data: {
						textBigNumber: '2'
					},
					cn: {
						isBigNumberMini: true,
						order: 'order-0@xs',
						marginBigNumber: "mt-80@xs"
					},
					elem: {
						Text: {
							data: {
								text: 'место по производству <br> капролактама в России'
							}
						}
					}
				},
				{
					data: {
						textBigNumber: '1 350'
					},
					cn: {
						isBigNumberMini: true,
						marginBigNumber: "mt-80@xs"
					},
					elem: {
						Text: {
							data: {
								text: 'тыс. тонн аммиачной селитры <br> производим в год'
							}
						}
					}
				}
			]
		}
	}
