-
	const HeadingDetailedDevelopment = {
		includeSection: 'HeadingDetailed',
		cn: {
			margin: 'mt-20',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h3',
					text: 'Наши сотрудники придерживаются принципов бережливого производства, рационального природопользования и эффективного корпоративного управления',
					footnoteText: 'устойчивое развитие'
				},
				cn: {
					size: 'h3',
				},
			}
		}
	}
