-
	const HeadingDetailedVideo = {
		includeSection: 'HeadingDetailed',
		cn: {
			margin: 'mt-20',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-5 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h4',
					text: '«Азот» входит в топ-100 работодателей России 2022 года по версии HH.ru',
				},
				cn: {
					size: 'h4',
					textIndent: true
				},
			}
		}
	}
