-
	const StepsAnimatedCircle = {
		includeSection: 'StepsAnimatedCircle',
		cn: {
			margin: 'mt-200 mt-80@xs'
		},
		data: {
			image1: require("IMAGES/sections/steps-animated-circle/step-1-img.png"),
			image2: require("IMAGES/sections/steps-animated-circle/step-2-img.png"),
			image3: require("IMAGES/sections/steps-animated-circle/step-3-img.png")
		},
		elem: {
			//- данные первого шага
			ForeignObjectNumber1: {
				data: { text: '1', x: 780, y: 35}
			},
			ForeignObjectName1: {
				data: { tag: 'p', text: 'окружающая <br> среда', x: 756, y: 0 }
			},
			ForeignObjectImage1: {
				opt: { isBlock: true }
			},
			ForeignObjectTitle1: {
				data: { tag: 'p', text: 'окружающая <br> среда' }
			},
			ForeignObjectDescription1: {
				data: {
					tag: 'p',
					text: 'Мы&nbsp;заботимся о сохранении <br> экологического баланса и поэтому <br> принимаем меры для сокращения <br> отрицательного воздействия <br> на окружающую среду.',
				}
			},
			//- данные второго шага
			ForeignObjectNumber2: {
				data: { text: '2', x: 1162, y: 615 }
			},
			ForeignObjectName2: {
				data: { tag: 'p', text: 'социальная <br> ответственность', x: 1214, y: 625 }
			},
			ForeignObjectImage2: {
				opt: { isBlock: true }
			},
			ForeignObjectTitle2: {
				data: { tag: 'p', text: 'социальная <br> ответственность' }
			},
			ForeignObjectDescription2: {
				data: {
					tag: 'p',
					text: 'Чтобы&nbsp;соответствовать стандартам, <br> бизнес должен работать над качеством <br> условий труда, следить за гендерным <br> балансом или инвестировать <br> в социальные проекты.',
				}
			},
			//- данные третьего шага
			ForeignObjectNumber3: {
				data: { text: '3', x: 399, y: 615 }
			},
			ForeignObjectName3: {
				data: { tag: 'p', text: 'корпоративное <br> управление', x: 285, y: 625 }
			},
			ForeignObjectImage3: {
				opt: { isBlock: true }
			},
			ForeignObjectTitle3: {
				data: { tag: 'p', text: 'корпоративное <br> управление' }
			},
			ForeignObjectDescription3: {
				data: {
					tag: 'p',
					text: 'Прозрачность отчётности, зарплаты <br> менеджмента, здоровую обстановку <br> в офисах, отношения с акционерами, <br> антикоррупционные меры.',
				}
			}
		}
	}
