-
	const ImageFactsDevelopment = {
		includeSection: 'ImageFacts',
		data: {
			img: require('IMAGES/sections/image-heading/image-heading-development.jpg'),
			imgXs: require('IMAGES/sections/image-heading/image-heading-development-xs.jpg')
		},
		cn: {
			margin: 'mt-120 mt-80@xs'
		},
	}
