-
	const BannerSlider = {
		includeSection: 'BannerSlider',
		elem: {
			//- данные компонента Slider
			Slider: {
				opt: {
					isSliderPagination: true
				}
			},
			//- массив данных компонента SliderSlide
			SliderSlideArr: [
				{
					data: {
						imgSlide: require("IMAGES/sections/slider-index/slide.png"),
						imgSlideXs: require("IMAGES/sections/slider-index/slide-xs.png")
					},
					elem: {
						HeadingTop: {
							data: {
								tag: 'h2', text: 'надёжность<br> и инновации'
							},
							cn: {
								size: 'h2'
							}
						},
						HeadingBottom: {
							data: { tag: 'h2', text: 'в производстве<br> азотных удобрений' },
							cn: { size: 'h2', textAlign: 'text-align-right', width: 'w-100@xs' }
						}
					}
				},
				{
					data: {
						imgSlide: require("IMAGES/sections/slider-index/slide.png"),
						imgSlideXs: require("IMAGES/sections/slider-index/slide-xs.png")
					},
					elem: {
						HeadingTop: {
							data: {
								tag: 'h2', text: 'в производстве<br> азотных удобрений'
							},
							cn: {
								size: 'h2'
							}
						},
						HeadingBottom: {
							data: { tag: 'h2', text: 'надёжность<br> и инновации' },
							cn: { size: 'h2', textAlign: 'text-align-right', width: 'w-100@xs' }
						}
					}
				},
				{
					data: {
						imgSlide: require("IMAGES/sections/slider-index/slide.png"),
						imgSlideXs: require("IMAGES/sections/slider-index/slide-xs.png")
					},
					elem: {
						HeadingTop: {
							data: {
								tag: 'h2', text: 'надёжность<br> и инновации'
							},
							cn: {
								size: 'h2'
							}
						},
						HeadingBottom: {
							data: { tag: 'h2', text: 'в производстве<br> азотных удобрений' },
							cn: { size: 'h2', textAlign: 'text-align-right', width: 'w-100@xs' }
						}
					}
				},
				{
					data: {
						imgSlide: require("IMAGES/sections/slider-index/slide.png"),
						imgSlideXs: require("IMAGES/sections/slider-index/slide-xs.png")
					},
					elem: {
						HeadingTop: {
							data: {
								tag: 'h2', text: 'в производстве<br> азотных удобрений'
							},
							cn: {
								size: 'h2'
							}
						},
						HeadingBottom: {
							data: { tag: 'h2', text: 'надёжность<br> и инновации' },
							cn: { size: 'h2', textAlign: 'text-align-right', width: 'w-100@xs' }
						}
					}
				},
			]
		}
	}
