svg(class=styles.buttonDownload viewBox="0 0 7 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
	path(d="M6.38293 4.50907L3.49618 9.07812L0.609432 4.50907H2.99618L2.99618 0.578125L3.99618 0.578125L3.99618 4.50907H6.38293Z")
	path(stroke="currentColor" d="M6 9.07812H1")
