-
	const ListInfoCard = {
		includeSection: 'ListInfoCard',
		cn: {
			margin: 'mt-200 mt-80@xs',
			jsClass: 'js-more',
			jsClassItem: 'js-more-item',
		},
		data: {
			moreAttributes: {
				'data-more-desktop': 4,
				'data-more-desktop-step': 2,
				'data-more-mobile': 4,
				'data-more-mobile-step': 2,
				'data-button-text': 'Показать еще',
			},
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs'
				}
			},
			Heading: {
				data: {
					tag: "h3",
					text: "Наш комплексный подход к достижению ЦУР ООН",
					footnoteText: "цели"
				},
				cn: {
					size: "h3",
					margin: 'mb-40 mb-20@md',
					textIndent: true,
					cols: 'col-9 col-4@xs'
				},
			},
			ColList: {
				cn: {
					cols: 'offset-2 offset-0@xs col-10 col-4@xs',
				},
			},
			ListInfoArr: [
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'система менеджмента качества'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: ''
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'бизнес система КАО «Азота»'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: ''
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'управление УР'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: ''
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'социальная ответственность'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: ''
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'программа'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: ''
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'перспектива'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: ''
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
			],
		}
	}
