-
	const Career = {
		includeSection: 'Career',
		cn: {
			margin: 'mt-200 mt-80@xs'
		},
		elem: {
			ImagesHeading: {
				dataArr: {
					imageArr: [
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-3 col-4@xs',
										offset: 'offset-2 offset-0@xs'
									}
								}
							},
							data: {
								image: require("IMAGES/sections/career/career-sustainable-development1.jpg")
							}
						},
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-2 col-4@xs',
									}
								}
							},
							data: {
								image: require("IMAGES/sections/career/career-sustainable-development2.jpg")
							}
						},
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-5 col-4@xs',
									}
								}
							},
							data: {
								image: require("IMAGES/sections/career/career-sustainable-development3.jpg")
							}
						}
					]
				},
				elem: {
					Heading: {
						data: {
							text: 'Цели устойчивого развития ООН призывают все страны — к действиям для улучшения нашего благосостояния и защиты планеты',
							footnoteText: 'О ЦУР ООН'
						},
						cn: {
							top0Footnote: true,
							positionFootnote: 'position-absolute@xs',
						}
					},
					ColButton: {
						cn: {
							cols: 'col-3 col-4@xs',
							display: 'd-flex',
							justify: 'justify-content-end',
							margin: 'mt-20@xs'
						}
					},
					Button: {
						data: {
							text: 'Узнать больше',
							href: '#!',
						},
						cn: {
							size: 'large',
						},
						opt: {
							icon: true,
						}
					}
				}
			},
		}
	}
