-
	const ImageFacts = {
		includeSection: 'ImageFacts',
		data: {
			img: require('IMAGES/sections/image-heading/image-heading-sustainable-development.jpg'),
			imgXs: require('IMAGES/sections/image-heading/image-heading-sustainable-development-xs.jpg'),
		},
		cn: {
			margin: 'mt-40 mt-20@xs',
			isReverse: true,
		},
		elem: {
			Facts: {
				elem: {
					TextFootnote:{
						data: {
							text: 'факты',
						},
						cn: {
							margin: 'mt-20@xs',
						}
					},
					Row: {
						cn: {
							gap: 'rg-24@xs',
							margin: 'mt-40 mt-20@xs',
						}
					},
					TitleTextArr: [
						{
							data: {
								title: '17',
								text: 'количество задач<br>ЦУР&nbsp;ООН',
							},
							elem: {
								Col: {
									cn: {
										cols: 'col-3 col-4@xs',
										gap: 'rg-16 rg-4@xs',
									}
								}
							}
						},
						{
							data: {
								title: '3 590',
								text: 'млн руб. выделило<br>КАО&nbsp;«Азот»',
							},
							elem: {
								Col: {
									cn: {
										cols: 'col-3 col-4@xs',
										gap: 'rg-16 rg-4@xs',
									}
								}
							}
						},
						{
							data: {
								title: '2024',
								text: 'прогнозный год<br>завершения задач',
							},
							elem: {
								Col: {
									cn: {
										cols: 'col-3 col-4@xs',
										gap: 'rg-16 rg-4@xs',
									}
								}
							}
						},
					],
				}
			}
		},
	}
