-
	function classes(cn) {
		const BLOCK = CN('bio-data');

		return {
			bioData: BLOCK(),
			bioDataNameCol: BLOCK('name-col'),
			bioDataDate: BLOCK('date'),
			bioDataEvent: BLOCK('event'),
			bioDataIcon: BLOCK('icon'),
		}
	}
