| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ COMPONENTS #')}
script(src="https://api-maps.yandex.ru/v3/?apikey=88820c2c-62bd-499b-a90c-1dacf597a017&lang=ru_RU")

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ SECTIONS #')}
script(src=require('SECTIONS/TabsMap/TabsMap.ts') defer)
