-
	const Employees = {
		includeSection: 'Employees',
		cn: {
			margin: 'mt-200 mt-80@xs',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs'
				}
			},
			Row: {
				cn: {
					margin: 'mt-40 mt-20@xs',
				}
			},
			PageLink: {
				data: {
					href: '#!',
					text: 'все кейсы'
				},
				cn: {
					size: 'large',
				},
				opt: {
					icon: true
				}
			},
			Heading: {
				data: {
					tag: 'h3',
					text: 'Рассказы реальных людей, которые воспользовались нашими программами',
					footnoteText: 'истории успеха'
				},
				cn: {
					size: 'h3',
					margin: 'mt-20 mb-40 mb-20@md'
				}
			},
		},
		dataArr: {
			cardPersonalColArr: [
				{
					elem: {
						Col: {
							cn: {
								offset: 'offset-2 offset-0@xs'
							}
						},
						CardPersonal: {
							data: {
								image: require('IMAGES/sections/team/team-5.png')
							},
							elem: {
								TextName: {
									data: {
										text: 'Виктория Санникова',
									},
									cn: {
										size: 'big',
									}
								},
								TextPosition: {
									data: {
										text: 'Менеджер Дирекции по развитию бизнес-системы'
									},
									cn: {
										size: 'small',
									}
								},
							}
						}
					}
				},
				{
					elem: {
						CardPersonal: {
							data: {
								image: require('IMAGES/sections/team/team-6.png')
							},
							elem: {
								TextName: {
									data: {
										text: 'Дмитрий Некрасов',
									},
									cn: {
										size: 'big',
									}
								},
								TextPosition: {
									data: {
										text: 'Электрик'
									},
									cn: {
										size: 'small',
									}
								},
							}
						}
					}
				},
				{
					elem: {
						Col: {
							cn: {
								offset: 'offset-2 offset-0@xs'
							}
						},
						CardPersonal: {
							data: {
								image: require('IMAGES/sections/team/team-7.png')
							},
							elem: {
								TextName: {
									data: {
										text: 'Дмитриева Евгения',
									},
									cn: {
										size: 'big',
									}
								},
								TextPosition: {
									data: {
										text: 'Электросварщица ручной сварки'
									},
									cn: {
										size: 'small',
									}
								},
							}
						}
					}
				},
				{
					elem: {
						CardPersonal: {
							data: {
								image: require('IMAGES/sections/team/team-9.png')
							},
							elem: {
								TextName: {
									data: {
										text: 'Артамонов Андрей',
									},
									cn: {
										size: 'big',
									}
								},
								TextPosition: {
									data: {
										text: 'Бетонщик'
									},
									cn: {
										size: 'small',
									}
								},
							}
						}
					}
				},
			]
		}
	}
