-
	const TitleTextWrap = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-120 mt-80@xs',
		},
		data: {
			footnote: 'описание',
		},
		elem: {
			TitleText: {
				data: {
					title: 'программа предоставляет частичную компенсацию расходов на аренду жилья работникам со скромным опытом и сотрудникам без профильного образования, но с большим стажем работы, которые приехали из других городов)'
				},
				elem: {
					HeadingTitleTextTitle: {
						cn: {
							size: 'h4'
						}
					}
				}
			}
		}
	}
