-
	const SliderInfoCardPrograms = {
		includeSection: 'SliderInfoCard',
		cn: {
			margin: 'mt-120 mt-80@xs',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs'
				}
			},
			Heading: {
				data: {
					tag: "h3",
					text: "В программе участвуют сотрудники, работающие по профессиям:",
					footnoteText: "какие профессии"
				},
				cn: {
					size: "h3",
					margin: 'mb-40 mb-20@xs',
					textIndent: true,
					cols: 'col-9 col-4@xs'
				},
			},
			Slider: {
				data: {
					dataSlideEffect: 'slide',
					dataSlidesPerView: 'auto'
				},
				opt: {
					isSliderNavigation: true,
					isSliderBorderBottom: true
				},
			},
			ColCardSlider: {
				cn:{
					cols: 'col-10 col-4@xs',
					offset: 'offset-2 offset-0@xs',
				}
			},
			SliderInfoArr: [
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'вакансии',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'слесарь-ремонтник',
									},
									cn: {
										size: 'big'
									}
								},
							},
							cn: {
								cols: 'col-4 col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'вакансии',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'монтажник технологического оборудования'
									},
									cn: {
										size: 'big'
									}
								},
							},
							cn: {
								cols: 'col-4 col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'вакансии',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'монтажник стальных и железобетонных конструкций'
									},
									cn: {
										size: 'big'
									}
								},
							},
							cn: {
								cols: 'col-4 col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'вакансии',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'токарь'
									},
									cn: {
										size: 'big'
									}
								},
							},
							cn: {
								cols: 'col-4 col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'вакансии',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'электрогазосварщик'
									},
									cn: {
										size: 'big'
									}
								},
							},
							cn: {
								cols: 'col-4 col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'вакансии',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'электромонтёр'
									},
									cn: {
										size: 'big'
									}
								},
							},
							cn: {
								cols: 'col-4 col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'вакансии',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'лаборант химического анализа'
									},
									cn: {
										size: 'big'
									}
								},
							},
							cn: {
								cols: 'col-4 col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'вакансии',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'слесарь КИПиА'
									},
									cn: {
										size: 'big'
									}
								},
							},
							cn: {
								cols: 'col-4 col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'вакансии',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'котельщик'
									},
									cn: {
										size: 'big'
									}
								},
							},
							cn: {
								cols: 'col-4 col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'вакансии',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'слесарь механосборочных работ'
									},
									cn: {
										size: 'big'
									}
								},
							},
							cn: {
								cols: 'col-4 col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'вакансии',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'фрезеровщик'
									},
									cn: {
										size: 'big'
									}
								},
							},
							cn: {
								cols: 'col-4 col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'вакансии',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'водитель автомобиля (категории D)'
									},
									cn: {
										size: 'big',
										width: 'w-70'
									}
								},
							},
							cn: {
								cols: 'col-4 col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
							}
						}
					}
				},
			],
			PageLink: {
				data: {
					href: '#!',
					text: 'все вакансии'
				},
				opt: {
					icon: true,
				}
			}
		}
	}
