-
	const ModalVideoCustom = {
		includeContent: 'ModalVideoCustom',
		elem: {
			Modal: {
				cn: {
					modalInnerStyle: 'video',
					modalBackground: 'transparent',
				},
				data: {
					name: 'modal-video-news-slider'
				},
				elem: {
					ButtonClose: {
						data: {
							img: require('IMAGES/modals/close.svg'),
							type: 'button',
						},
						cn: {
							color: 'transparent'
						},
						opt: {
							withCloseIcon: true,
						}
					}
				},
			}
		}
	}
