svg(class=styles.resetFile viewBox="0 0 38 24" fill="none" xmlns="http://www.w3.org/2000/svg")
	path(d="M15.0625 17L14 15.9375L17.9375 12L14 8.0625L15.0625 7L19 10.9375L22.9375 7L24 8.0625L20.0625 12L24 15.9375L22.9375 17L19 13.0625L15.0625 17Z" fill="black")
