//- # ПАРАМЕТРЫ ДЛЯ НАСТРОЙКИ LAYOUT # -//
-
	const pageTitle = 'Программы корпоративного университета';
	// const isSvgSprite = true;
	// const classBodyPage = 'about-body';
	// const classMainPage = 'about-main';

	const Header = {
		elem: {
			BreadCrumbs: {
				dataArr: {
					LinksArr: [
						{ data: { text: 'Главная' } },
						{ data: { text: 'Карьера' } },
						{ data: { text: 'Корпоративный университет' } },
					]
				}
			}
		}
	};

//- # НАСЛЕДОВАНИЕ ФУНКЦИИ ДЛЯ РАЗДЕЛЕНИЯ СТОРОВ # -//
- const pageStore = addSections();

//- # Подключение store секции HeadingDetailed # -//
include corporate-university-programs--heading-detailed
- pageStore.addSection(HeadingDetailed);

//- # Подключение store секции ImageFacts # -//
include corporate-university-programs--image-facts
- pageStore.addSection(ImageFacts);

//- # Подключение store секции TitleTextWrap # -//
include corporate-university-programs--title-text-wrap
- pageStore.addSection(TitleTextWrap);

//- ## Подключение store секции ListInfoCard ## -//
include corporate-university-programs--list-info-card
- pageStore.addSection(ListInfoCard);

//- # Подключение store секции Employees # -//
include corporate-university-programs--employees
- pageStore.addSection(Employees);

//- # Подключение store секции Career # -//
include corporate-university-programs--career
- pageStore.addSection(Career);

//- # Подключение store секции PageLinks # -//
include corporate-university-programs--page-links
- pageStore.addSection(PageLinks);

//- ## Подключение store секции ListContactLinks ## -//
include corporate-university-programs--list-contact-links
- pageStore.addSection(ListContactLinks);
