-
	const Career = {
		includeSection: 'Career',
		cn: {
			margin: 'mt-200 mt-80@xs'
		},
		elem: {
			ImagesHeading: {
				dataArr: {
					imageArr: [
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-2 col-4@xs',
										offset: 'offset-2 offset-0@xs'
									}
								}
							},
							data: {
								image: require("IMAGES/sections/career/career-career1.jpg")
							}
						},
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-4 col-4@xs',
									}
								}
							},
							data: {
								image: require("IMAGES/sections/career/career-career2.jpg")
							}
						},
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-4 col-4@xs',
									}
								}
							},
							data: {
								image: require("IMAGES/sections/career/career-career3.jpg")
							}
						}
					]
				},
				elem: {
					Heading: {
						data: {
							text: '«Азот» — входит в ТОП-100 работодателей России 2022 года по версии hh.ru. Приглашаем всех, кто разделяет наши ценности, к сотрудничеству',
							footnoteText: 'Вакансии'
						},
						cn: {
							top0Footnote: true,
							positionFootnote: 'position-absolute@xs',
						}
					},
				}
			},
		}
	}
