-
	const HeadingDetailed = {
		includeSection: 'HeadingDetailed',
		cn: {
			margin: 'mt-16',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h3',
					text: '<span class="light-grey">Корпоративный университет.</span> Повышаем профессиональные навыки, развиваем и обучаем сотрудников',
				},
				cn: {
					size: 'h3',
					textIndent: true,
				},
			},
		}
	}
