-
	const PageLinks = {
		includeSection: 'PageLinks',
		cn: {
			margin: 'mt-50 mt-40@xs',
		},
		elem: {
			Col2: {
				cn: {
					cols: 'col-2 col-6@md col-4@xs'
				}
			},
			Col10: {
				cn: {
					cols: 'col-10 col-6@md col-4@xs'
				}
			},
			PageLinkArr: [
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'ведущий инженер-конструктор'
							},
							cn: {
								size: 'bigger',
							},
						},
						TextDateBottom: {
							data: {
								text: '12.03.2023'
							},
							cn: {
								style: 'cap'
							}
						},
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'инженер-проектировщик генплана',
							},
							cn: {
								size: 'bigger',
							},
						},
						TextDateBottom: {
							data: {
								text: '12.03.2023'
							},
							cn: {
								style: 'cap'
							}
						},
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'машинист экскаватора',
							},
							cn: {
								size: 'bigger',
							},
						},
						TextDateBottom: {
							data: {
								text: '12.03.2023'
							},
							cn: {
								style: 'cap'
							}
						},
					},
					opt: {
						icon: true
					},
				},
				{
					data: {
						href: '#!',
					},
					elem: {
						Text: {
							data: {
								text: 'главный специалист по MES системам',
							},
							cn: {
								size: 'bigger',
								textTransform: 'text-transform-none',
							},
						},
						TextDateBottom: {
							data: {
								text: '12.03.2023'
							},
							cn: {
								style: 'cap'
							}
						},
					},
					opt: {
						icon: true
					},
				}
			],
			Button: {
				data: {
					href: '#!',
					text: 'все вакансии'
				},
				cn: {
					size: 'large',
					margin: 'ml-auto'
				},
				opt: {
					icon: true
				}
			}
		}
	}
