-
	const ImageFacts = {
		includeSection: 'ImageFacts',
		data: {
			img: require('IMAGES/sections/image-heading/image-heading-corporate-university-programs.jpg'),
			imgXs: require('IMAGES/sections/image-heading/image-heading-corporate-university-programs-xs.jpg')
		},
		cn: {
			margin: 'mt-40 mt-20@xs',
			isReverse: true,
		},
		elem: {
			Facts: {
				elem: {
					Row: {
						cn: {
							gap: 'rg-24@xs',
							margin: 'mt-40 mt-20@xs',
						}
					},
					TitleTextArr: [
						{
							data: {
								title: '350',
								text: 'часов лекций записано<br>нашими специалистами',
							},
							elem: {
								Col: {
									cn: {
										offset: 'offset-2 offset-0@xs',
										gap: 'rg-16 rg-4@xs',
										cols: 'col-3 col-4@xs',
									}
								}
							}
						},
						{
							data: {
								title: '3670',
								text: 'сотрудники повысившие<br>квалификацию',
							},
							elem: {
								Col: {
									cn: {
										gap: 'rg-16 rg-4@xs',
										cols: 'col-3 col-4@xs',
									}
								}
							}
						},
					],
				}
			}
		},
	}
