-
	const TitleTextWrap = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-200 mt-80@xs',
		},
		data: {
			footnote: 'про университет',
		},
		elem: {
			TitleText: {
				data: {
					title: 'корпоративный университет — место, где сотрудники имеют возможность развиваться и улучшать свои профессиональные навыки. мы создаём специальные программы обучения, основанные на наших уникальных потребностях и целях компании. наша цель — помочь каждому сотруднику достичь своего потенциала',
					text: 'Наш корпоративный университет — эффективные программы обучения, которые помогут вам развить свои профессиональные навыки. Мы считаем, что образование — важный элемент успешного бизнеса. У нас вы сможете развиваться и улучшать свои навыки, благодаря специально созданным программам, а мы всегда готовы поддержать вас в достижении потенциала.'
				},
				elem: {
					HeadingTitleTextTitle: {
						cn: {
							size: 'h4'
						}
					}
				}
			},
		}
	}
