//- # ПАРАМЕТРЫ ДЛЯ НАСТРОЙКИ LAYOUT # -//
-
	const pageTitle = 'Услуги транспорта';
	// const isSvgSprite = true;
	// const classBodyPage = 'about-body';
	// const classMainPage = 'about-main';

	const Header = {
		elem: {
			BreadCrumbs: {
				dataArr: {
					LinksArr: [
						{ data: { text: 'Главная' } },
						{ data: { text: 'Покупателям' } },
						{ data: { text: 'Услуги транспорта', }}
					]
				}
			}
		}
	};

//- # НАСЛЕДОВАНИЕ ФУНКЦИИ ДЛЯ РАЗДЕЛЕНИЯ СТОРОВ # -//
- const pageStore = addSections();

//- ## Добавление store секции HeadingDetailed ## -//
include transportation-services--heading-detailed
- pageStore.addSection(HeadingDetailed);

//- ## Добавление store секции ImageFacts ## -//
include transportation-services--image-facts
- pageStore.addSection(ImageFacts);

//- ## Добавление store секции PageLinks для services## -//
include transportation-services--page-links-services
- pageStore.addSection(PageLinksServices);

//- # Добавление store для секции TabsSlider # -//
include transportation-services--tabs-slider
- pageStore.addSection(TabsSlider);

//- # Добавление store для секции Calculator # -//
include transportation-services--calculator
- pageStore.addSection(Calculator);

//- ## Добавление store секции PageLinks для documents## -//
include transportation-services--page-links-documents
- pageStore.addSection(PageLinksDocuments);

//- ## Подключение store секции ListContactLinks ## -//
include transportation-services--list-contact-links
- pageStore.addSection(ListContactLinks);

//- ## Подключение store секции FeedbackForm ## -//
include transportation-services--feedback-form
- pageStore.addSection(FeedbackForm);

//- ## Подключение store секции HiddenDialogContent ## -//
include transportation-services--dialog
- pageStore.addSection(HiddenDialogContent);
