@import "../../shared/styles/include-setings-styles";

.catalog-item {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: calc(25% - 15px);
	padding: 20px;

	text-decoration: none;

	border-radius: 4px;

	background-color: $black-04;

	&__mark {
		position: absolute;

		top: 20px;
		right: 20px;

		&[data-tooltip] {
			&:hover::before {
				position: absolute;
				top: -35px;
				right: 0;

				padding: 10px;

				content: attr(data-tooltip);
				white-space: nowrap;

				color: var(--white);
				border-radius: 4px;
				background-color: $gray11;
			}

			&:hover::after {
				position: absolute;
				top: -10px;
				right: 5px;

				width: 12px;
				height: 12px;

				content: "";

				border: 12px solid transparent;
				border-top: 10px solid $gray11;
			}
		}
	}

	&__formula,
	&__mark {
		letter-spacing: 0.1em;
		text-transform: uppercase;

		font-family: $font-helvetica;
		font-size: 10px;
		font-weight: 550;
		line-height: 1.1;
	}

	&__image {
		align-self: center;

		object-fit: cover;

		width: responsive-size(194, 304);
		margin-top: 25px;
	}

	&__condition {
		display: none;
	}

	&__type {
		display: none;
	}

	&__description {
		display: none;
	}

	&__title {
		margin-top: auto;
	}

	@media (max-width: 1200px) {
		width: calc(50% - 10px);
	}

	@include media(xs) {
		flex-basis: 100%;
	}
}
