@import "../../shared/styles/include-setings-styles";

.slider-video {
	&__slider-swiper {
		padding-bottom: responsive-size(34.56, 72);

		border-bottom: 1px solid var(--light-gray);

		@include media(xs) {
			padding-bottom: 0;

			border-bottom: none;
		}
	}

	&__slider-slides-wrapper {
		margin-bottom: 40px;

		@include media(xs) {
			margin-bottom: 0;
		}
	}

	&__link {
		z-index: 1;
		right: responsive-size(20, 40);

		margin-top: responsive-size(-20, -70);

		@include media(xs) {
			position: static;

			width: 100%;
			margin-top: 20px;

			.button {
				display: block;

				width: 100%;
				max-height: 64px;
				padding: 28px 48px;
			}
		}
	}
}
