-
	const Employees = {
		includeSection: 'Employees',
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs'
				}
			},
			Row: {
				cn: {
					margin: 'mt-40 mt-20@xs'
				}
			},
			Heading: {
				data: {
					tag: 'h3',
					text: '<span class="light-grey">Медиа.</span> Тематические фото и видео для официальных коммуникаций бренда',
				},
				cn: {
					size: 'h3',
					margin: 'mb-40 mb-20@xs',
					textIndent: true
				}
			},
		},
		dataArr: {
			cardPersonalColArr: [
				{
					elem: {
						Col: {
							cn: {
								offset: 'offset-2 offset-0@xs'
							}
						},
						CardPersonal: {
							data: {
								image: require('IMAGES/sections/media/media-1.png'),
							},
							elem: {
								TextName: {
									data: {
										text: 'Наши люди',
									},
									cn: {
										size: 'big',
									}
								},
								TextPosition: {
									data: {
										text: 'Сотрудники КАО «Азот» за работой'
									},
									cn: {
										size: 'small',
									}
								},
								Button: {
									data: {
										text: 'скачать архив',
										href: '#'
									},
									opt: {
										'icon-download': true
									},
									cn: {
										color: 'transparent'
									}
								}
							},
							opt: {
								isDownloadButton: true
							},
							cn: {
								isHover: 'no-hover',
								withButton: 'with-button'
							}
						}
					}
				},
				{
					elem: {
						CardPersonal: {
							data: {
								image: require('IMAGES/sections/media/media-2.png'),
							},
							elem: {
								TextName: {
									data: {
										text: 'Промышленные строения',
									},
									cn: {
										size: 'big',
									}
								},
								TextPosition: {
									data: {
										text: 'КАО «Азот» со всех ракурсов'
									},
									cn: {
										size: 'small',
									}
								},
								Button: {
									data: {
										text: 'скачать архив',
										href: '#'
									},
									opt: {
										'icon-download': true
									},
									cn: {
										color: 'transparent'
									}
								}
							},
							opt: {
								isDownloadButton: true
							},
							cn: {
								isHover: 'no-hover',
								withButton: 'with-button'
							}
						}
					}
				},
			]
		}
	}
