-
	const FactsAlignRight = {
		includeSection: 'FactsAlignRight',
		cn: {
			margin: 'mt-200 mt-80@xs',
			marginFactsBlock: 'mt-40 mt-20@xs',
			wrapperDisplay: 'd-flex',
			wrapperDirection: 'flex-direction-column',
			wrapperRowGap: 'rg-56 rg-32@xs',
			colorFactNumber: 'dark-green',
		},
		elem: {
			ColHeading: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h3',
					text: 'Наш прогресс в построении справедливого и устойчивого будущего',
					footnoteText: 'показатели'
				},
				cn: {
					size: 'h3',
					textIndent: true,
				},
			},
			FactsAlignRight: [
				{
					data: {
						factText: 'ликвидация<br>голода',
						factNumber: '> 40',
					}
				},
				{
					data: {
						factText: 'ликвидация<br>бедности',
						factNumber: '> 1 000',
					}
				},
				{
					data: {
						factText: 'хорошее здоровье<br>и благополучие',
						factNumber: '35%',
					}
				},
				{
					data: {
						factText: 'качественное<br>образование',
						factNumber: '85%',
					},
				},
			]
		}
	}
