-
	const ImageFacts = {
		includeSection: 'ImageFacts',
		data: {
			img: require('IMAGES/sections/image-heading/image-heading-achievement-tsur-oon.jpg'),
			imgXs: require('IMAGES/sections/image-heading/image-heading-achievement-tsur-oon-xs.jpg'),
			statsTitle: 'факты',
		},
		cn: {
			margin: 'mt-40 mt-20@xs',
			isReverse: true,
		},
		elem: {
			Facts: {
				elem: {
					Row: {
						cn: {
							gap: 'rg-24@xs',
							margin: 'mt-40 mt-20@xs',
						}
					},
					TextFootnote: {
						data: {
							text: 'факты',
						},
						cn: {
							margin: 'mt-20@xs',
						}
					},
					TitleTextArr: [
						{
							data: {
								title: '6',
								text: 'количество задач<br>которые взял КАО&nbsp;«Азот»',
								titleSup: '/ 17',
							},
							elem: {
								Col: {
									cn:{
										gap: 'rg-16 rg-4@xs',
										cols: 'col-3 col-4@xs',
									}
								}
							}
						},
						{
							data: {
								title: '54%',
								text: 'процент выполнения<br>поставленных целей',
							},
							elem: {
								Col: {
									cn: {
										gap: 'rg-16 rg-4@xs',
										cols: 'col-3 col-4@xs',
									}
								}
							}
						},
						{
							data: {
								title: '3 590',
								text: 'млн руб. выделило<br>КАО&nbsp;«Азот»',
							},
							elem: {
								Col: {
									cn: {
										gap: 'rg-16 rg-4@xs',
										cols: 'col-3 col-4@xs'
									}
								}
							}
						},
					],
				}
			}
		},
	}
