-
	function classes(cn) {
		const BLOCK = CN('modal-image-slider');

		return {
			modalImageSlider: BLOCK(),
			modalImageSliderModal: BLOCK('modal'),
			modalImageSliderPicture: BLOCK('picture'),
			modalImageSliderImage: BLOCK('image'),
			modalImageSlider: BLOCK('slider'),
			modalImageSliderSwiper: BLOCK('swiper'),
			modalImageSliderWrapper: BLOCK('wrapper'),
			modalImageSliderSlide: BLOCK('slide'),
			modalImageSliderNavigation: BLOCK('navigation'),
			modalImageSliderContainer: BLOCK('container'),
			modalImageSliderRow: BLOCK('row'),
			modalImageSliderText: BLOCK('text'),
			modalImageSliderTextTitle: BLOCK('text-title'),
			modalImageSliderTextDate: BLOCK('text-date'),
			modalImageSliderDownload: BLOCK('download'),
		}
	}
