-
	const SliderInfoCardPrograms = {
		includeSection: 'SliderInfoCard',
		cn: {
			margin: 'mt-120 mt-80@xs',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs'
				}
			},
			Heading: {
				data: {
					tag: "h3",
					text: "Оплачиваемые стажировки, премии за рекомендации кандидатов, а также компенсация аренды жилья",
					footnoteText: "наши программы"
				},
				cn: {
					size: "h3",
					margin: 'mb-40 mb-20@xs',
					textIndent: true,
					cols: 'col-9 col-4@xs'
				},
			},
			Slider: {
				data: {
					dataSlideEffect: 'slide',
					dataSlidesPerView: 'auto'
				},
				opt: {
					isSliderNavigation: true,
					isSliderBorderBottom: true
				},
			},
			ColCardSlider: {
				cn:{
					cols: 'col-10 col-4@xs',
					offset: 'offset-2 offset-0@xs',
				}
			},
			SliderInfoArr: [
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'студентам. стипендиальная программа «перспектива»'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: 'Получайте ежемесячные стипендии и гарантированное трудоустройство на предприятии «Азот»'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
								isDefaultWidth: true,
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'работникам. программа поддержки «нет границ»'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: 'Частичная компенсация арендной платы жилья молодым специалистам и квалифицированным работникам'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
								isDefaultWidth: true
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'сотрудникам. реферальная программа «знаю кандидата»'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: 'Рекомендуй знакомого на КАО «Азот» и зарабатывай'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
								isDefaultWidth: true
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									}
								},
								Header: {
									data: {
										text: 'специалистам. программа стажировок «поток»'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: 'Получайте опыт работы по специальности в КАО «Азот»'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								slider: 'slider__slide swiper-slide d-flex flex-direction-column justify-content-between h-auto',
								isDefaultWidth: true
							}
						}
					}
				},
			],
			PageLink: {
				data: {
					href: '#!',
					text: 'перейти'
				},
				opt: {
					icon: true,
				}
			}
		}
	}
