-
	const VacancyListAddress = {
		includeSection: 'VacancyList',
		opt: {
			isMap: true,
		},
		elem: {
			TextFootnote: {
				data: {
					text: 'адрес',
				},
				cn: {
					style: 'cap',
					textTransform: 'upper'
				}
			},
			List: {
				data: {
					tag: 'ul',
				},
				cn: {
					listStyle: 'none',
				},
			},
			ListArr: [
				{
					data: {
						text: 'КАО «Азот», г. Кемерово, Грузовая улица, 1',
						tag: 'li',
					}
				},
			]
		}
	}
