-
	const VacancyListOffers = {
		includeSection: 'VacancyList',
		opt: {
			isHR: true,
		},
		elem: {
			TextFootnote: {
				data: {
					text: 'что предлагаем',
				},
				cn: {
					style: 'cap',
					textTransform: 'upper'
				}
			},
			List: {
				data: {
					tag: 'ul',
				},
				cn: {
					listStyle: 'square-no-margin',
				},
			},
			ListArr: [
				{
					data: {
						text: 'Стабильную работу в крупнейшем предприятии производственной отрасли',
						tag: 'li',
					}
				},
				{
					data: {
						text: 'Официальное трудоустройство, белую заработную плату (выплата 2 раза в месяц)',
						tag: 'li',
					}
				},
				{
					data: {
						text: 'Ежегодное повышение оплаты труда',
						tag: 'li',
					}
				},
				{
					data: {
						text: 'Выплату 13-ой заработной платы раз в год',
						tag: 'li',
					}
				},
				{
					data: {
						text: 'Пятидневную рабочую неделю с 08:00 до 17:00, пятница с 08:00 до 16:00',
						tag: 'li',
					}
				},
				{
					data: {
						text: 'Возможность роста',
						tag: 'li',
					}
				},
				{
					data: {
						text: 'Частичную компенсацию на питание',
						tag: 'li',
					}
				},
				{
					data: {
						text: 'Бесплатный проезд на служебном транспорте (г. Кемерово, Лесная поляна, Кедровка, Топки)',
						tag: 'li',
					}
				},
				{
					data: {
						text: 'Трудоустройства на постоянному ставку, а также по срочному договору (до месяца 2023 г.)',
						tag: 'li',
					}
				},
				{
					data: {
						text: 'Полис ДМС',
						tag: 'li',
					}
				},
				{
					data: {
						text: 'Активную творческую и спортивную деятельность',
						tag: 'li',
					}
				},
			]
		}
	}
