-
	const FilterNvi = {
		includeSection: 'FilterNvi',
		cn: {
			margin: 'mt-40'
		},
		dataArr: {
			TableColArr: [
				{
					data: {
						text: 'Номер'
					}
				},
				{
					data: {
						text: 'Код'
					}
				},
				{
					data: {
						text: 'Название'
					}
				},
				{
					data: {
						text: 'В наличие'
					}
				},
				{
					data: {
						text: 'Стоимость'
					}
				},
				{
					data: {
						text: ''
					}
				},
			],
		},
		elem: {
			NviItemArr: [
				{
					elem: {
						NviItem: {
							elem: {
								TextNumber: {
									data: {
										tag: 'span',
										text: '02.11.06.01.09',
									},
									cn: {
										style: 'cap',
									}
								},
								TextCode: {
									data: {
										tag: 'span',
										text: '353000000654',
									},
									cn: {
										style: 'cap',
									}
								},
								TextName: {
									data: {
										tag: 'span',
										text: 'Кожух стальной соединительной муфты разъемный КСР-2 У2 ТУ 36-1885-83\,',
									},
								},
								TextCount: {
									data: {
										tag: 'span',
										text: '4 шт.',
									},
									cn: {
										style: 'cap',
									}
								},
								TextPrice: {
									data: {
										tag: 'span',
										text: '250 ₽/шт',
									},
									cn: {
										style: 'cap',
									}
								},
								Button: {
									data: {
										text: 'заказать',
										href: '#modal-order-form',
										order: 'Кожух стальной соединительной муфты разъемный КСР-2 У2 ТУ 36-1885-83'
									},
									opt: {
										icon: true
									},
								},
							}
						},
					}
				},
				{
					elem: {
						NviItem: {
							elem: {
								TextNumber: {
									data: {
										tag: 'span',
										text: '02.11.06.01.09',
									},
									cn: {
										style: 'cap',
									}
								},
								TextCode: {
									data: {
										tag: 'span',
										text: '353000000654',
									},
									cn: {
										style: 'cap',
									}
								},
								TextName: {
									data: {
										tag: 'span',
										text: 'Кожух стальной соединительной муфты разъемный КСР-2 У2 ТУ 36-1885-83\,',
									},
								},
								TextCount: {
									data: {
										tag: 'span',
										text: '4 шт.',
									},
									cn: {
										style: 'cap',
									}
								},
								TextPrice: {
									data: {
										tag: 'span',
										text: '250 ₽/шт',
									},
									cn: {
										style: 'cap',
									}
								},
								Button: {
									data: {
										text: 'заказать',
										href: '#modal-order-form',
										order: 'Кожух стальной соединительной муфты разъемный КСР-2 У2 ТУ 36-1885-83'
									},
									opt: {
										icon: true
									},
								},
							}
						},
					}
				},
			],
			ButtonMore: {
				data: {
					href: '/all-nvi-sale',
					text: 'Показать еще',
				},
				cn: {
					margin: 'mr-auto ml-auto',
					size: 'large',
					isMoreButton: 'js-load-more-button',
				},
			},
		}
	}
