-
	function classes(cn) {
		const BLOCK = CN('slider');

		return {
			slider: BLOCK(),
			sliderSwiper: BLOCK('swiper', {}, ['swiper']),
			sliderSlidesWrapper: BLOCK('slides-wrapper', ['swiper-wrapper']),
			sliderSlide: BLOCK('slide', ['swiper-slide']),
			sliderPagination: BLOCK('pagination', {'color-active-green': !!cn?.isPaginationActiveGreen}),
			sliderNavigation: BLOCK('navigation'),
			sliderPrev: BLOCK('prev', {
				[`${cn?.buttonBackground}`]: ['white'].includes(cn?.buttonBackground),
			}),
			sliderNext: BLOCK('next', {
				[`${cn?.buttonBackground}`]: ['white'].includes(cn?.buttonBackground),
			}),
			sliderBorderBottom: BLOCK('border-bottom'),
		}
	}
