-
	const ListContactLinks = {
		includeSection: 'ListContactLinks',
		cn: {
			margin: 'mt-200 mt-80@xs',
			linkMargin: 'justify-content-end'
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs'
				}
			},
			Heading: {
				data: {
					tag: "h3",
					text: "Свяжитесь с нами, чтобы получить больше информации",
					footnoteText: "если остались вопросы"
				},
				cn: {
					size: "h3",
					margin: 'mb-80 mb-32@xs',
					textIndent: true,
					cols: 'col-9 col-4@xs'
				},
			},
			ListContactLinksArr: [
				{
					elem: {
						ContactLink: {
							elem: {
								Header: {
									data: {
										text: 'hr-менеджер',
									},
								},
								Email: {
									data: {
										text: 'personal@azot.kuzbass.net',
										ariaLink: 'personal@azot.kuzbass.net',
										title: 'personal@azot.kuzbass.net',
										linkHref: 'mail:personal@azot.kuzbass.net'
									},
									cn: {
										textTransform: 'text-transform-lower'
									}
								},
								Phone: {
									data: {
										text: '+ 7 923 631 26 58',
										ariaLink: '+ 7 923 631 26 58',
										title: '+ 7 923 631 26 58',
										linkHref: 'tel:+ 7 923 631 26 58'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								margin: 'mb-32 mb-32@xs pb-32 pb-20@xs',
							}
						}
					}
				},
				{
					elem: {
						ContactLink: {
							elem: {
								Header: {
									data: {
										text: 'hr-отдел',
									},
								},
								Email: {
									data: {
										text: 'personal@azot.kuzbass.net',
										ariaLink: 'personal@azot.kuzbass.net',
										title: 'personal@azot.kuzbass.net',
										linkHref: 'mail:personal@azot.kuzbass.net'
									},
									cn: {
										textTransform: 'text-transform-lower'
									}
								},
								Phone: {
									data: {
										text: '+7 (3842) 78 12 52',
										ariaLink: '+7 3842 78 12 52',
										title: '+7 3842 78 12 52',
										linkHref: 'tel:+7 3842 78 12 52'
									},
								}
							},
							cn: {
								margin: 'pb-32 pb-20@xs',
							}
						}
					}
				},
			],
		}
	}
