-
	const HeadingDetailedImage = {
		includeSection: 'HeadingDetailed',
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h3',
					text: 'Мы уделяем внимание людям в нашей компании на протяжении более 60 лет и активно сотрудничаем с соискателями. Нам это важно',
					footnoteText: 'Почему мы',
				},
				cn: {
					margin: 'mt-200 mt-80@xs',
					size: 'h3',
				},
			}
		}
	}
