//- # ПАРАМЕТРЫ ДЛЯ НАСТРОЙКИ LAYOUT # -//
-
	const pageTitle = 'Закупка и реализация';
	// const isSvgSprite = true;
	// const classBodyPage = 'about-body';
	// const classMainPage = 'about-main';

	const Header = {
		elem: {
			BreadCrumbs: {
				dataArr: {
					LinksArr: [
						{ data: { text: 'Главная' } },
						{ data: { text: 'Поставщиками' } },
						{ data: { text: 'Закупка' } }
					]
				}
			}
		}
	};

//- # НАСЛЕДОВАНИЕ ФУНКЦИИ ДЛЯ РАЗДЕЛЕНИЯ СТОРОВ # -//
- const pageStore = addSections();

//- ## Подключение store секции HeadingDetailed ## -//
include purchase-realization--heading-detailed
- pageStore.addSection(HeadingDetailed);

//- ## Удалить после тестов FilterPurchase ## -//
include purchase-realization--filter-purchase
- pageStore.addSection(FilterPurchase)

//- ## Подключение store секции ListContactLinks ## -//
include purchase-realization--list-contact-links
- pageStore.addSection(ListContactLinks);

//- ## Подключение store секции FeedbackForm ## -//
include purchase-realization--feedback-form
- pageStore.addSection(FeedbackForm);

//- ## Подключение store секции HiddenDialogContent ## -//
include purchase-realization--dialog
- pageStore.addSection(HiddenDialogContent);

//- ## Подключение store секции SubscriptionForm ## -//
include purchase-realization--subscription-form
- pageStore.addSection(SubscriptionForm);

//- ## Подключение store секции ModalProcurement ## -//
include purchase-realization--modal-procurement
- pageStore.addSection(ModalProcurement);
