mixin ModalStreamRegistration(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include ModalStreamRegistration.cn.pug
	- const styles = classes(props && props.cn);

	div(class=styles.modalStreamRegistration data-dialog-name=DATA('dialogName', false))
		+I('Modal', ELEM('Modal'))
			+ModalBody()
				+I('Form', ELEM('Form'))(class=styles.modalStreamRegistrationForm)
