// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../styles/include-setings-styles.scss";

.field {
	$self: &;

	&__container {
		position: relative;

		margin-bottom: responsive-size(16, 20);
		padding-top: responsive-size(46, 50);
		padding-bottom: responsive-size(12, 20);

		border-bottom: 1px solid $light-gray;
		// mix-blend-mode: multiply;
	}

	&__container-number-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		.input-number__button {
			background-color: transparent;
		}
	}

	&__container-select {
		margin-bottom: responsive-size(20, 20);
		padding-bottom: responsive-size(0, 14);

		@include media(xxl, min) {
			padding-bottom: responsive-size(14, 34);
		}

		@media screen and (max-width: 1599px) {
			padding-bottom: responsive-size(1, 12);
		}

		@media screen and (max-width: 1024px) {
			padding-bottom: responsive-size(12, 20);
		}

		@include font-size-responsive(2.2, 4);
	}

	&__input {
		padding: 0;

		letter-spacing: -0.66px;

		border-bottom: none;
		background: transparent;

		font-family: $font-radio;
		font-weight: 400;
		font-style: normal;
		line-height: 24px;

		&:not(&:placeholder-shown) ~ #{$self}__floating-label,
		&:focus ~ #{$self}__floating-label {
			top: 15px;
			left: 0;

			opacity: 1;

			font-size: 10px;
			@include media(xxl, "min") {
				font-size: 14px;
			}
		}

		&:focus {
			#{$self}__container {
				border-bottom: 1px solid $black
			}
		}

		&[type="file"] {
			line-height: normal;

			&::-webkit-file-upload-button {
				visibility: hidden;
			}

			&::file-selector-button {
				display: none;
			}
		}

		@include media(xs) {
			padding: 0;

			background: transparent;
		}

		@include font-size-responsive(2.2, 4);
	}

	&__floating-label {
		position: absolute;
		top: 70px;
		left: 0;

		transition: 0.4s ease all;
		pointer-events: none;

		color: $light-gray;

		font-family: $font-radio;
		font-weight: 400;
		font-style: normal;
		line-height: 24px;
		mix-blend-mode: multiply;

		@include media(xs) {
			top: 40px;
		}

		@include font-size-responsive(2.2, 4);
	}

	&__error-message {
		position: absolute;
		bottom: -23px;

		display: flex;
		gap: 10px;

		visibility: hidden;

		letter-spacing: 1px;
		text-transform: uppercase;

		color: $red;

		font-family: $font-helvetica;
		font-size: 10px;
		font-weight: 550;
		font-style: normal;
		line-height: 14px;

		@include media(xxl, "min") {
			@include font-size-responsive(1, 1.2);
		}
	}

	&__required-types {
		position: absolute;
		bottom: responsive-size(-32, -23);

		display: flex;
		gap: 10px;

		color: $light-gray;
	}

	&__error {
		border-bottom-color: $red;

		#{$self}__input {
			color: $red;
		}

		#{$self}__floating-label {
			color: $red;
		}

		#{$self}__error-message {
			visibility: visible;
		}

		#{$self}__required-types {
			display: none;
		}
	}

	&__download-icon {
		position: absolute;
		right: 0;

		transform: translateY(responsive-size(8, 10));
		pointer-events: none;
		mix-blend-mode: multiply;
	}

	&#{$self}_shown-placeholder {
		#{$self}__floating-label {
			top: 15px;
			left: 0;

			opacity: 1;

			font-size: 10px;
			@include media(xxl, "min") {
				font-size: 14px;
			}
		}
	}

	[type="file"] {
		position: relative;

		color: transparent;

		&::after {
			position: absolute;
			top: 0;
			right: 10px;
			bottom: 0;

			display: flex;
			align-items: center;
			justify-content: center;

			content: url(IMAGES/other/attach_file.svg);

			line-height: 0;
		}

		&::before {
			content: attr(data-text-default);

			color: $black;
		}
	}
}
