svg(class=styles.listDownloadIcon width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg")
	g
		path(fill-rule="evenodd" clip-rule="evenodd" d="M6.38281 4.50907L3.49606 9.07812L0.60931 4.50907H2.99606L2.99606 0.578125L3.99606 0.578125L3.99606 4.50907H6.38281Z" fill="black")
		path(d="M6 9.07812H1" stroke="black")
