-
	function classes(cn) {
		const BLOCK = CN('supervisor')

		return {
			supervisor: BLOCK(),
			supervisorWrapper: BLOCK('wrapper'),
			supervisorPicture: BLOCK('picture'),
			supervisorImage: BLOCK('image'),
		}
	}
