svg(class=styles.sliderHistoryCloseButton width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg")
	rect(x="0.710938" width="38" height="24" rx="4" fill="white" fill-opacity="0.3")
	path(d="M15.7734 17L14.7109 15.9375L18.6484 12L14.7109 8.0625L15.7734 7L19.7109 10.9375L23.6484 7L24.7109 8.0625L20.7734 12L24.7109 15.9375L23.6484 17L19.7109 13.0625L15.7734 17Z" fill="#F7F7F7")
