-
	const Excursion = {
		includeSection: 'Excursion',
		cn: {
			margin: 'mt-200 mt-80@xs'
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-6@md col-4@xs'
				}
			},
			Heading: {
				data: {
					tag: 'h2',
					text: 'откройте двери к инновациям',
					footnoteText: 'посетить наш завод'
				},
				cn: {
					size: 'h2',
					margin: 'mb-200 mb-48@xs',
					cols: 'col-9 col-9@xl col-6@md col-4@xs'
				},
			},
			Video: {
				data: {
					videoMp4: '/public/static-files/video/sample-30s.mp4',
					caption: "виртуальный музей"
				},
			},
			InfoDescription: {
				data: {
					text: '[бесплатно] [2 часа] [5–20 человек]',
				},
				cn: {
					margin: 'mb-20 mt-20@xs',
				},
			},
			Description: {
				data: {
					text: '«Азот» приглашает вас на экскурсию, которая откроет двери в мир технологий. Вы узнаете о последних достижениях в нашей отрасли, увидите мощные машины и современные процессы, примерите спецодежду и средства защиты и увидите 3 поколения цехов химического завода.'
				},
				cn: {
					margin: 'mb-20@xs',
				},
			},
			Button: {
				data: {
					text: 'записаться',
					href: '#modal-form',
					eventId: 'trade',
					modalInit: 'false'
				},
				cn: {
					size: 'large',
				},
				opt: {
					icon: true
				}
			}
		}
	}
