-
	const CareerMission = {
		includeSection: 'Career',
		cn: {
			margin: 'mt-200 mt-80@xs'
		},
		elem: {
			ImagesHeading: {
				dataArr: {
					imageArr: [
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-2 col-4@xs',
										offset: 'offset-2 offset-0@xs'
									}
								}
							},
							data: {
								image: require("IMAGES/sections/career/career-mission1.jpg")
							}
						},
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-4 col-4@xs',
									}
								}
							},
							data: {
								image: require("IMAGES/sections/career/career-mission2.jpg")
							}
						},
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-4 col-4@xs',
									}
								}
							},
							data: {
								image: require("IMAGES/sections/career/career-mission3.jpg")
							}
						}
					]
				},
				elem: {
					Heading: {
						data: {
							text: 'Развивая себя и своих партнёров, мы создаём уникальную среду, в которой каждый может воплотить в жизнь свою мечту, придерживаясь главных принципов, на которых строится наш бизнес',
							footnoteText: 'Наша миссия'
						},
						cn: {
							top0Footnote: true,
							positionFootnote: 'position-absolute@xs',
						}
					},
				}
			},
		}
	}
