-
	function classes(cn) {
		const BLOCK = CN('bread-crumbs');

		return {
			breadCrumbs: BLOCK({}, ['d-flex d-none@xs']),
			bradCrumbsLink: BLOCK('link'),
			breadCrumbsSeparator: BLOCK('separator'),
			bradCrumbsDisabled: BLOCK('disabled')
		}
	}
