-
	const TitleTextWrap = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-200 mt-80@xs',
		},
		data: {
			footnote: 'описание',
		},
		elem: {
			TitleText: {
				data: {
					title: 'мы уделяем особое внимание подготовке будущих сотрудников, начиная с школьников и студентов. Мы разрабатываем специальные программы, направленные на развитие профессиональных навыков и умений, чтобы готовить молодых специалистов ещё на этапе обучения в школах и университетах',
				},
				elem: {
					HeadingTitleTextTitle: {
						cn: {
							size: 'h4',
						}
					},
				},
			},
		}
	}
