-
	const CareerArticle = {
		includeSection: 'Career',
		cn: {
			margin: 'mt-64 mt-40@xs'
		},
		elem: {
			ImagesHeading: {
				dataArr: {
					imageArr: [
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-4 col-4@xs',
										offset: 'offset-2 offset-0@xs'
									}
								}
							},
							data: {
								image: require("IMAGES/sections/text-footnote/text-footnote--success-story-detailed1.jpg")
							}
						},
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-3 col-4@xs',
									}
								}
							},
							data: {
								image: require("IMAGES/sections/text-footnote/text-footnote--success-story-detailed2.jpg")
							}
						},
						{
							elem: {
								Col: {
									cn: {
										cols: 'col-3 col-4@xs',
									}
								}
							},
							data: {
								image: require("IMAGES/sections/text-footnote/text-footnote--success-story-detailed3.jpg")
							}
						}
					]
				},
				elem: {
					Heading: {
						data: {
							text: 'После того, как все этапы завершены, на объект приглашается комиссия, которая проверяет качество выполненных работ',
						},
						cn: {
							textIndent: true,
						}
					},
				}
			}
		}
	}
