-
	const TitleTextWrapQuote = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-64 mt-80@xs',
		},
		elem: {
			TitleText: {
				data: {
					text: '— Я горжусь тем, что являюсь частью команды Кемеровского «Азота». Моя работа в эти 10 лет была незабываемым профессиональным путешествием. Я благодарен за возможность делиться этим опытом с вами, и надеюсь, что моя история будет источником вдохновения и мотивации для всех, кто стремится к успеху в своей профессиональной деятельности.'
				},
				elem: {
					Col: {
						cn: {
							offset: 'offset-2 offset-0@xs',
						}
					},
					HeadingTitleTextTitle: {
						cn: {
							size: 'h4',
						}
					},
				},
			},
		}
	}
