-
	const TitleTextWrapWork = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-64 mt-40@xs',
		},
		elem: {
			TitleText: {
				data: {
					text: `Если замечаний нет - бригада переезжает к следующему месту монтажа. Простоев не бывает, заказов по заводу много. Даже в зимнее время реализуются крупные проекты. Конечно, как и у большинства ремонтных служб, самая насыщенная пора у монтажников – это капитальные ремонты, когда необходимо выполнить большой объём работ в короткие сроки.<br><br><br>— У нас все хорошие ребята, все знают свои обязанности, свою профессию, — говорит Антон Саламатов. — Наш сварщик Антон Сутормин имеет 6 разряд, владеет всеми видами сварки, выполнит любое задание. Монтажники Дмитрий Белокуров, Евгений Ребров, Максим Кузьмин – по совместительству стропальщики и газорезчики. Обучение проходили в ЦОКе. В нашем деле важно быть универсальным специалистом. На каждом объекте есть свои нюансы, но уже не таким сложным всё кажется, как раньше. Всё приходит с опытом. А мы приходим сюда, чтобы приносить пользу и зарабатывать. Бывает в капремонты задерживаемся и до 22:00, если нужно закончить что-то срочное, специфика работы у нас такая. Но это компенсируется зарплатой, я считаю она у нас неплохая.`,
				},
				elem: {
					Col: {
						cn: {
							offset: 'offset-2 offset-0@xs',
						}
					}
				}
			}
		}
	}
