-
	const HeadingDetailed = {
		includeSection: 'HeadingDetailed',
		cn: {
			margin: 'mt-16',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h3',
					text: '«В нашем деле важно быть универсальным специалистом»',
				},
				cn: {
					size: 'h3',
					textIndent: true
				},
			}
		}
	}
