-
	const TitleTextWrap = {
		includeSection: 'TitleTextWrap',
		cn: {
			margin: 'mt-120 mt-40@xs',
		},
		data: {
			footnote: 'История',
		},
		elem: {
			TitleText: {
				data: {
					title: 'Специалисты цеха по монтажу оборудования и металлоконструкций (ЦМОМ) завершают выполнение ответственной задачи - сборки теплообменного аппарата охлаждения метилдиэтаноламинового раствора в цехе аммиака-1.',
					text: 'Бригада Саламатова - называется так, между собой, по фамилии бригадира. С 2009 года Антон Саламатов трудится на предприятии. Сейчас он - монтажник 6 разряда. С 2013 года - бессменный бригадир. Тогда начал формироваться основной костяк его команды. Уже 10 лет ребята работают практически одним составом.<br><br>Слаженный и опытный коллектив – так говорят об этой бригаде. На их счету уже пятая сборка теплообменного аппарата охлаждения метилдиэтаноламинового раствора для цехов по производству аммиака. Проектное управление выдаёт чертежи, по которым бригада производит сборку. Часто их задача – сдача объекта под ключ. Например, на аммиаке в этот раз они проводили полный демонтаж старого оборудования, вскрывали полы, устанавливали новые опорные балки. Затем поднимали габаритные части аппарата (некоторые весили 12 тонн) с помощью крана «Либхерр» и монтировали согласно проекту. Это очень кропотливый и тяжёлый труд! Представьте, нужно правильно установить такую махину на позицию и сразу закрепить.'
				},
				elem: {
					HeadingTitleTextTitle: {
						cn: {
							size: 'h4',
						}
					},
				},
				cn: {
					gap: `g-64 g-20@xs`,
				}
			}
		}
	}
