-
	const FactsWrap = {
		includeSection: 'FactsWrap',
		cn: {
			margin: 'mt-64 mt-40@xs',
		},
		elem: {
			Facts: {
				elem: {
					Row: {
						cn:{
							gap: 'rg-24',
						}
					},
					TextFootnote: {
						data: {
							text: 'Результаты'
						},
					},
					TitleTextArr: [
						{
							data: {
								title: '6',
								text: 'человек работает<br>в бригаде',
							},
							elem: {
								Col: {
									cn: {
										cols: 'col-2 col-4@xs',
										gap: 'rg-16 rg-4@xs',
									}
								},
								HeadingTitleTextTitle: {
									cn: {
										size: 'h1',
									}
								},
							},
						},
						{
							data: {
								title: '10',
								text: 'лет совместной работы<br>одним составом'
							},
							elem: {
								Col: {
									cn: {
										offset: 'offset-1 offset-0@xs',
										gap: 'rg-16 rg-4@xs',
										cols: 'col-2 col-4@xs',
									}
								},
								HeadingTitleTextTitle: {
									cn: {
										size: 'h1',
									}
								},
							},
						},
						{
							data: {
								title: '12',
								text: 'вес габаритной части<br>аппарата'
							},
							elem: {
								Col: {
									cn: {
										offset: 'offset-1 offset-0@xs',
										gap: 'rg-16 rg-4@xs',
										cols: 'col-2 col-4@xs',
									}
								},
								HeadingTitleTextTitle: {
									cn: {
										size: 'h1',
									}
								},
							},
						}
					],
				}
			},
		},
	}
