-
	const ListInfoCard = {
		includeSection: 'ListInfoCard',
		cn: {
			margin: 'mt-200 mt-80@xs',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: "h3",
					footnoteText: "филиалы группы компаний"
				},
				cn: {
					size: "h3",
					margin: 'mb-40 mb-20@md',
					top26Footnote: true,
					cols: 'col-9 col-4@xs'
				},
			},
			ColList: {
				cn: {
					cols: 'col-12 col-4@xs',
				},
			},
			ListInfoArr: [
				{
					elem: {
						CardInfo: {
							opt: {
								isBranch: true
							},
							elem: {
								Header: {
									data: {
										text: 'ООО «Торговый дом Азот»'
									},
									cn: {
										size: 'bigger'
									}
								},
								Address: {
									data: {
										text: 'Адрес',
										tag: 'span',
									},
									cn: {
										style: 'cap',
										textTransform: 'upper'
									}
								},
								AddressValue: {
									data: {
										text: '121151, г. Москва, набережная Тараса Шевченко, 23А',
										tag: 'span',
									}
								},
								Phone: {
									data: {
										text: 'Телефон',
										tag: 'span',
									},
									cn: {
										style: 'cap',
										textTransform: 'upper'
									}
								},
								PhoneValue: {
									data: {
										text: '+7 495 974-75-75',
										ariaLink: '+7 495 974 75 75',
										title: '+7 495 974 75 75',
										linkHref: 'tel:+74959747575',
										tag: 'span',
									},
								},
								Email: {
									data: {
										text: 'E-mail',
										tag: 'span',
									},
									cn: {
										style: 'cap',
										textTransform: 'upper'
									}
								},
								EmailValue: {
									data: {
										text: 'info@sbu-azot.ru',
										ariaLink: 'info@sbu-azot.ru',
										title: 'info@sbu-azot.ru',
										linkHref: 'mailto:info@sbu-azot.ru',
										tag: 'span',
									},
									cn: {
										textTransform: 'text-transform-none',
									}
								},
							},
							cn: {
								cols: 'col-4@xs',
								margin: 'mb-12 mb-10@xs',
								isw100: 'w-100 d-flex flex-direction-column'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							opt: {
								isBranch: true
							},
							elem: {
								Header: {
									data: {
										text: 'ООО «Азот-Агро»'
									},
									cn: {
										size: 'bigger'
									}
								},
								Address: {
									data: {
										text: 'Адрес',
										tag: 'span',
									},
									cn: {
										style: 'cap',
										textTransform: 'upper'
									}
								},
								AddressValue: {
									data: {
										text: 'Кузбасс, г. Кемерово, ул. Грузовая стр. 1, каб. 308 А',
										tag: 'span',
									}
								},
								Phone: {
									data: {
										text: 'Телефон',
										tag: 'span',
									},
									cn: {
										style: 'cap',
										textTransform: 'upper'
									}
								},
								PhoneValue: {
									data: {
										text: '+7 3842 78-12-72',
										ariaLink: '+7 3842 78 12 72',
										title: '+7 3842 78 12 72',
										linkHref: 'tel:+73842781272',
										tag: 'span',
									},
								},
								Email: {
									data: {
										text: 'E-mail',
										tag: 'span',
									},
									cn: {
										style: 'cap',
										textTransform: 'upper'
									}
								},
								EmailValue: {
									data: {
										text: 'cpz@azot.kuzbass.net',
										ariaLink: 'cpz@azot.kuzbass.net',
										title: 'cpz@azot.kuzbass.net',
										linkHref: 'mailto:cpz@azot.kuzbass.net',
										tag: 'span',
									},
									cn: {
										textTransform: 'text-transform-none',
									}
								},
							},
							cn: {
								cols: 'col-4@xs',
								margin: 'mb-12 mb-10@xs',
								isw100: 'w-100 d-flex flex-direction-column'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							opt: {
								isBranch: true
							},
							elem: {
								Header: {
									data: {
										text: 'ООО «Центр передового земледелия»'
									},
									cn: {
										size: 'bigger'
									}
								},
								Address: {
									data: {
										text: 'Адрес',
										tag: 'span',
									},
									cn: {
										style: 'cap',
										textTransform: 'upper'
									}
								},
								AddressValue: {
									data: {
										text: 'Кузбасс, г. Кемерово, ул. Грузовая стр. 1, каб. 308 А',
										tag: 'span',
									}
								},
								Phone: {
									data: {
										text: 'Телефон',
										tag: 'span',
									},
									cn: {
										style: 'cap',
										textTransform: 'upper'
									}
								},
								PhoneValue: {
									data: {
										text: '+7 3842 78-12-72',
										ariaLink: '+7 3842 78 12 72',
										title: '+7 3842 78 12 72',
										linkHref: 'tel:+73842781272',
										tag: 'span',
									},
								},
								Email: {
									data: {
										text: 'E-mail',
										tag: 'span',
									},
									cn: {
										style: 'cap',
										textTransform: 'upper'
									}
								},
								EmailValue: {
									data: {
										text: 'cpz@azot.kuzbass.net',
										ariaLink: 'cpz@azot.kuzbass.net',
										title: 'cpz@azot.kuzbass.net',
										linkHref: 'mailto:cpz@azot.kuzbass.net',
										tag: 'span',
									},
									cn: {
										textTransform: 'text-transform-none',
									}
								},
							},
							cn: {
								cols: 'col-4@xs',
								margin: 'mb-12 mb-10@xs',
								isw100: 'w-100 d-flex flex-direction-column'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							opt: {
								isBranch: true
							},
							elem: {
								Header: {
									data: {
										text: 'ООО «АзотАгроСнаб»'
									},
									cn: {
										size: 'bigger'
									}
								},
								Address: {
									data: {
										text: 'Адрес',
										tag: 'span',
									},
									cn: {
										style: 'cap',
										textTransform: 'upper'
									}
								},
								AddressValue: {
									data: {
										text: 'Кузбасс, г. Кемерово, ул. Грузовая, д. 1, пом. 306а',
										tag: 'span',
									}
								},
								Phone: {
									data: {
										text: 'Телефон',
										tag: 'span',
									},
									cn: {
										style: 'cap',
										textTransform: 'upper'
									}
								},
								PhoneValue: {
									data: {
										text: '+7 3842 78-12-72',
										ariaLink: '+7 3842 78 12 72',
										title: '+7 3842 78 12 72',
										linkHref: 'tel:+73842781272',
										tag: 'span',
									},
								},
								Email: {
									data: {
										text: 'E-mail',
										tag: 'span',
									},
									cn: {
										style: 'cap',
										textTransform: 'upper'
									}
								},
								EmailValue: {
									data: {
										text: 'aas_info@azot.kuzbass.net',
										ariaLink: 'aas_info@azot.kuzbass.net',
										title: 'aas_info@azot.kuzbass.net',
										linkHref: 'mailto:aas_info@azot.kuzbass.net',
										tag: 'span',
									},
									cn: {
										textTransform: 'text-transform-none',
									}
								},
							},
							cn: {
								cols: 'col-4@xs',
								margin: 'mb-12 mb-10@xs',
								isw100: 'w-100 d-flex flex-direction-column'
							}
						}
					}
				},
			],
		}
	}
