-
	const ListContactLinks = {
		includeSection: 'ListContactLinks',
		cn: {
			margin: 'mt-120 mt-80@xs',
			linkMargin: 'justify-content-end'
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs'
				}
			},
			ListContactLinksArr: [
				{
					elem: {
						ContactLink: {
							elem: {
								Header: {
									data: {
										text: 'коммерческий отдел',
									},
								},
								Email: {
									data: {
										text: 'sales@azot.kuzbass.net',
										ariaLink: 'sales@azot.kuzbass.net',
										title: 'sales@azot.kuzbass.net',
										linkHref: 'mail:sales@azot.kuzbass.net',
									},
									cn: {
										textTransform: 'text-transform-none',
									}
								},
								Phone: {
									data: {
										text: '+7 3842 57-07-87',
										ariaLink: '+7 3842 57 07 87',
										title: '+7 3842 57 07 87',
										linkHref: 'tel:+7 3842 57 07 87'
									},
								}
							},
							cn: {
								margin: 'mb-64 mb-32@xs pb-32 pb-20@xs',
							}
						}
					}
				},
				{
					elem: {
						ContactLink: {
							elem: {
								Header: {
									data: {
										text: 'отдел закупки',
									},
								},
								Email: {
									data: {
										text: 'purchases@azot.kuzbass.net',
										ariaLink: 'purchases@azot.kuzbass.net',
										title: 'purchases@azot.kuzbass.net',
										linkHref: 'mail:purchases@azot.kuzbass.net',
									},
									cn: {
										textTransform: 'text-transform-none',
									}
								},
								Phone: {
									data: {
										text: '+7 3842 78-16-06',
										ariaLink: '+7 3842 78 16 06',
										title: '+7 3842 78 16 06',
										linkHref: 'tel:+7 3842 78 16 06',
									},
								}
							},
							cn: {
								margin: 'mb-64 mb-32@xs pb-32 pb-20@xs',
							}
						}
					}
				},
				{
					elem: {
						ContactLink: {
							elem: {
								Header: {
									data: {
										text: 'HR',
									},
								},
								Email: {
									data: {
										text: 'hr@azot.kuzbass.net',
										ariaLink: 'hr@azot.kuzbass.net',
										title: 'hr@azot.kuzbass.net',
										linkHref: 'mail:hr@azot.kuzbass.net',
									},
									cn: {
										textTransform: 'text-transform-none',
									}
								},
								Phone: {
									data: {
										text: '+7 3842 78-14-14',
										ariaLink: '+7 3842 78 14 14',
										title: '+7 3842 78 14 14',
										linkHref: 'tel:+7 3842 78 14 14',
									},
								}
							},
							cn: {
								margin: 'mb-64 mb-32@xs pb-32 pb-20@xs',
							}
						}
					}
				},
				{
					elem: {
						ContactLink: {
							elem: {
								Header: {
									data: {
										text: 'пресс-центр',
									},
								},
								Email: {
									data: {
										text: 'pr@azot.kuzbass.net',
										ariaLink: 'pr@azot.kuzbass.net',
										title: 'pr@azot.kuzbass.net',
										linkHref: 'mail:pr@azot.kuzbass.net',
									},
									cn: {
										textTransform: 'text-transform-none',
									}
								},
								Phone: {
									data: {
										text: '+7 3842 78-11-87',
										ariaLink: '+7 3842 78 11 87',
										title: '+7 3842 78 11 87',
										linkHref: 'tel:+7 3842 78 11 87',
									},
								}
							},
							cn: {
								margin: 'mb-64 mb-32@xs pb-32 pb-20@xs',
							}
						}
					}
				},
			],
		}
	}
