// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.list-title {
	display: flex;
	flex-direction: column;
	row-gap: responsive-size(16, 20);
}
