-
	function classes(cn) {
		const BLOCK = CN('title-slider')

		return {
			titleSlider: BLOCK({}, ['mt-16@xs']),
			titleSliderSliderPagination: BLOCK('slider-pagination'),
			titleSliderSlide: BLOCK('slide'),
			titleSliderSliderNavigation: BLOCK('slider-navigation'),
			titleSliderSliderSwiper: BLOCK('slider-swiper')
		}
	}
