-
	const ImageFacts = {
		includeSection: 'ImageFacts',
		data: {
			img: require('IMAGES/sections/image-heading/image-heading-management.jpg'),
			imgXs: require('IMAGES/sections/image-heading/image-heading-management-xs.jpg'),
			captionFirstLine: 'вишневский андрей николаевич',
			captionLastLine: '[ генеральный директор КАО «Азот» ]',
		},
		cn: {
			margin: 'mt-40 mt-20@xs',
			isReverse: true,
		},
	}
