-
	const SliderCompany = {
		includeSection: 'SliderCompany',
		cn: {
			margin: 'mt-200 mt-80@xs'
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs'
				}
			},
			Heading: {
				data: {
					tag: "h3",
					text: "Группа компаний «Азот» — один из крупнейших агропромышленных комплексов в России",
					footnoteText: "структура компании"
				},
				cn: {
					size: "h3",
					margin: 'mb-200 mb-80@xs',
				}
			},
			Slider: {
				data: {
					dataSlideEffect: 'slide',
					dataSlidesPerView: 'auto'
				},
				opt: {
					isSliderNavigation: true,
				},
				settings: {

				}
			},
			SliderSlideArr: [
				{
					data: {
						spriteId: 'icon-1',
					},
					elem: {
						Text: {
							data: {
								text: 'КАО «Азот»',
								tag: 'span',
							}
						},
					},
				},
				{
					data: {
						spriteId: 'icon-2',
					},
					elem: {
						Text: {
							data: {
								text: 'ГК «Азот»',
								tag: 'span',
							}
						},
					},
				},
				{
					data: {
						spriteId: 'icon-3',
					},
					elem: {
						Text: {
							data: {
								text: 'АО «Аммоний»',
								tag: 'span',
							}
						},
					},
				},
				{
					data: {
						spriteId: 'icon-4',
					},
					elem: {
						Text: {
							data: {
								text: 'АО «Мелеузовские минеральные удобрения»',
								tag: 'span',
							}
						},
					},
				},
				{
					data: {
						spriteId: 'icon-5',
					},
					elem: {
						Text: {
							data: {
								text: 'ООО «Ангарский азотно-туковый завод»',
								tag: 'span',
							}
						},
					},
				},
				{
					data: {
						spriteId: 'icon-6',
					},
					elem: {
						Text: {
							data: {
								text: 'ООО «Азот Агроснаб»',
								tag: 'span',
							}
						},
					},
				},
				{
					data: {
						spriteId: 'icon-7',
					},
					elem: {
						Text: {
							data: {
								text: 'ООО «Центр передового земледелия»',
								tag: 'span',
							}
						},
					},
				},
				{
					data: {
						spriteId: 'icon-8',
					},
					elem: {
						Text: {
							data: {
								text: 'ООО «Азот-агро»',
								tag: 'span',
							}
						},
					},
				},
			],
			PageLink: {
				data: {
					href: '#!',
					text: 'о группе компаний'
				},
				opt: {
					icon: true
				}
			}
		}
	}
