-
	const HeadingDetailed = {
		includeSection: 'HeadingDetailed',
		cn: {
			margin: 'mt-16',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: 'h3',
					text: '<span class="light-grey">Политика по закупкам.</span> Принципы, по которым компания осуществляет закупочную деятельность',
				},
				cn: {
					size: 'h3',
					textIndent: true
				},
			}
		}
	}
