mixin FiltersSearch(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ СЕКЦИИ # -//
	include Filters.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	form(class=styles.elementForm action=DATA('action'))
		input(class=styles.elementSearch type="search" name="search" placeholder="НАЙТИ ТОВАР")&attributes(attributes)
