mixin ModalCareerGuidance(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include ModalCareerGuidance.cn.pug
	- const styles = classes(props && props.cn);

	div(class=styles.modalCareerGuidance)
		+I('Modal', ELEM('Modal'))
			+ModalBody
				+I('Form', ELEM('Form'))
