-
	function classes(cn) {
		const BLOCK = CN('filter-nvi');

		return {
			filterNvi: BLOCK({}, [cn?.margin]),
			filterNviContainer: BLOCK('container'),
			filterNviTableHeading: BLOCK('table-heading'),
		}
	}
