mixin VacancyList(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ЛОГИКА КОМПОНЕНТА # -//
	- const TEXT_COL = ELEM('TextCol', false) || { cn: { cols: 'col-10 col-4@xs'} }

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include VacancyList.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	section(class=styles.VacancyList)
		if OPT('isMap')
			script.
				window.coords = { center: [85.997938, 55.347793], zoom: 12 };
		+Container
			+Row(class=styles.VacancyListRow)
				+Col({ cn: { cols: 'col-2 col-4@xs' }})
					+Text(ELEM('TextFootnote'))
				+Col(TEXT_COL)
					+List(ELEM('List'))
						for item in ELEM_ARR('ListArr')
							+Text(item)
			if OPT('isHR')
				hr(class="mt-64 mt-48@xs")
			if OPT('isMap')
				+Row
					+Col({cn:{cols: 'col-10 offset-2 offset-0@xs col-4@xs'}})
						+Map
