// # !!! IMPORTANT !!! ALARM !!! DANGEROUS !!! # //
// Компонент сделан в соответствие с дизайн-системой. Размеры по системе, которая согласована с дизайнером!
// Все несоответствия по размерам в новом дизайн-макете требуют переделки со стороны дизайна и приведения макета в соответствие с дизайн-системой!
.heading {
	--heading-line-height: 0.8;
	--heading-letter-spacing: -0.04em;
	position: relative;

	letter-spacing: var(--heading-letter-spacing);

	line-height: var(--heading-line-height);

	&__footnote {
		position: absolute;
		top: responsive-size(26);
		left: responsive-size(-257);

		text-decoration: none;
		letter-spacing: 0.1em;
		text-transform: uppercase;

		font-family: $font-helvetica;
		font-weight: 550;
		line-height: 1.4;
		@include font-size-responsive(1);

		// # MEDIA QUERY 360 # //
		@include media(xs) {
			position: static;
			left: 0;

			display: block;
		}

		// stylelint-disable-next-line order/order
		&_top-0 {
			top: 0;
		}

		&_top-26 {
			top: -26px;
		}
	}

	& > * {
		vertical-align: baseline;
	}

	// # MODIFIER SIZE # //
	&_h1 {
		@include font-size-responsive(3.8, 12);
	}

	&_h2 {
		@include font-size-responsive(3.8, 10);
	}

	&_h3 {
		--heading-line-height: 1;
		@include font-size-responsive(2.8, 6.4);

		// # MEDIA QUERY 360 # //
		@include media(xs) {
			--heading-letter-spacing: -0.03em;
		}
	}

	&_h4 {
		--heading-line-height: 1.1;
		--heading-letter-spacing: -0.01em;
		@include font-size-responsive(2.2, 4);

		// # MEDIA QUERY 360 # //
		@include media(xs) {
			--heading-letter-spacing: -0.03em;
		}
	}

	// # OTHER MODIFIER # //
	&_text-indent {
		text-indent: responsive-size(257);

		// # MEDIA QUERY 360 # //
		@include media(xs) {
			text-indent: unset;
		}
	}
}
