-
	const SliderAbout = {
		includeSection: 'SliderAbout',
		cn: {
			margin: 'mt-200 mt-80@xs smoky',
		},
		elem: {
			Heading: {
				data: {
					tag: "h3",
					text: "Областной центр Кемеровской области, на юге Сибири, с развитой инфраструктурой для комфортной жизни ",
					footnoteText: "инфраструктура города"
				},
				cn: {
					size: "h3",
					margin: "mb-40 mb-20@xs",
				}
			},
			Slider: {
				data: {
					dataSlideEffect: 'slide',
					dataSlidesPerView: 'auto',
					dataSlidesResizeable: 'true',
					id: 'slider-about',
					dataSliderSpeed: 800,
				},
				opt: {
					isSliderNavigation: true,
				}
			},
			SliderSlideArr: [
				{
					data: {
						image: require('IMAGES/sections/about-kemerovo/slider-about1.png'),
						imageXs: require('IMAGES/sections/about-kemerovo/slider-about1xs.png'),
					},
					Title: {
						data: {
							text: 'транспорт'
						},
						cn: {
							style: 'cap',
							margin: 'mb-8'
						}
					},
					ShortTextTitle: {
						data: {
							text: '172',
						},
						cn: {
							margin: 'mb-20'
						}
					},
					ShortTextSubtitle: {
						data: {
							text: 'автобусных маршрута'
						},
						cn: {
							margin: 'mb-20'
						}
					},
					Text: {
						data: {
							text: 'В Кемерово есть аэропорт «Кемерово» с регулярными рейсами в различные регионы России. Также город имеет развитую систему автомобильных дорог и общественного транспорта, включая автобусы, троллейбусы и трамваи.'
						}
					}
				},
				{
					data: {
						image: require('IMAGES/sections/about-kemerovo/slider-about2.png'),
						imageXs: require('IMAGES/sections/about-kemerovo/slider-about2xs.png'),
					},
					Title: {
						data: {
							text: 'география'
						},
						cn: {
							style: 'cap',
							margin: 'mb-8'
						}
					},
					Text: {
						data: {
							text: 'ДМС, осмотр здоровья, лечение в санаториях, бесплатный доступ к спортивному клубу'
						}
					},
					ShortTextTitle: {
						data: {
							text: '378 км',
						},
						cn: {
							margin: 'mb-20'
						}
					},
					ShortTextSubtitle: {
						data: {
							text: 'от Кемерово до Шерегеша'
						},
						cn: {
							margin: 'mb-20'
						}
					},
				},
				{
					data: {
						image: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about3.png'),
						imageXs: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about3xs.png'),
					},
					Title: {
						data: {
							text: 'образование'
						},
						cn: {
							style: 'cap',
							margin: 'mb-8'
						}
					},
					Text: {
						data: {
							text: 'Материальная помощь, поддержка многодетных семей, компенсация детского сада'
						}
					},
					ShortTextTitle: {
						data: {
							text: '200',
						},
						cn: {
							margin: 'mb-20'
						}
					},
					ShortTextSubtitle: {
						data: {
							text: 'общеобразовательных школ'
						},
						cn: {
							margin: 'mb-20'
						}
					},
				},
				{
					data: {
						image: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about4.png'),
						imageXs: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about4xs.png'),
					},
					Title: {
						data: {
							text: 'здравоохранение'
						},
						cn: {
							style: 'cap',
							margin: 'mb-8'
						}
					},
					Text: {
						data: {
							text: 'Представления, спектакли, выездные мероприятиях, а также проведение конкурсов и выставок'
						}
					},
					ShortTextTitle: {
						data: {
							text: '2 500',
						},
						cn: {
							margin: 'mb-20'
						}
					},
					ShortTextSubtitle: {
						data: {
							text: 'врачей общей практики'
						},
						cn: {
							margin: 'mb-20'
						}
					},
				},
				{
					data: {
						image: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about5.png'),
						imageXs: require('IMAGES/sections/achievement-tsur-oon/achievement-slider-about5xs.png'),
					},
					Title: {
						data: {
							text: 'культура'
						},
						cn: {
							style: 'cap',
							margin: 'mb-8'
						}
					},
					Text: {
						data: {
							text: 'Эксклюзивные договоры компании с провайдерами сотовой связи'
						}
					},
					ShortTextTitle: {
						data: {
							text: '26',
						},
						cn: {
							margin: 'mb-20'
						}
					},
					ShortTextSubtitle: {
						data: {
							text: 'учреждений культуры'
						},
						cn: {
							margin: 'mb-20'
						}
					},
				},
			],
		}
	}
