-
	const ListInfoCard = {
		includeSection: 'ListInfoCard',
		cn: {
			margin: 'mt-200 mt-80@xs',
		},
		elem: {
			Col: {
				cn: {
					cols: 'col-9 col-4@xs',
				}
			},
			Heading: {
				data: {
					tag: "h3",
					text: "Поддержка от «Азот» на каждом шагу для успешного трудоустройства и комфортной интеграции в сферу труда",
					footnoteText: "наши программы"
				},
				cn: {
					size: "h3",
					margin: 'mb-40 mb-20@md',
					textIndent: true,
					cols: 'col-9 col-4@xs'
				},
			},
			ColList: {
				cn: {
					cols: 'col-12 col-4@xs',
				},
			},
			PageLink: {
				data: {
					href: '#!',
					text: 'Подробнее'
				},
				cn: {
					size: 'large',
				},
				opt: {
					icon: true
				}
			},
			ListInfoArr: [
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'стипендиальная программа «перспектива»'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: 'Получайте ежемесячную стипендии и гарантированное трудоустройство на предприятии «Азот»'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'программа поддержки «нет границ»'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: 'Частичная компенсация расходов на арендную плату жилья молодым специалистам и квалифицированным работникам КАО «Азот»'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'реферальная программа «знаю кандидата»'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: 'Рекомендуй знакомого на КАО «Азот» и заработай'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
				{
					elem: {
						CardInfo: {
							elem: {
								Button: {
									data: {
										text: 'подробнее',
										href: '#!',
									},
									opt: {
										icon: true
									},
									cn: {
										margin: 'd-block'
									}
								},
								Header: {
									data: {
										text: 'программа стажировок «поток»'
									},
									cn: {
										size: 'bigger'
									}
								},
								Text: {
									data: {
										text: 'Получайте опыт работы по специальности в КАО «Азот»'
									},
									cn: {
										margin: 'mb-24 mb-16@xs',
									},
								}
							},
							cn: {
								cols: 'col-4@xs',
								card: 'd-flex flex-direction-column justify-content-between h-auto',
								margin: 'mb-12 mb-10@xs'
							}
						}
					}
				},
			],
		}
	}
