-
	const VideoFacts = {
		includeSection: 'VideoFacts',
		cn: {
			margin: 'mt-40 mt-20@xs',
			isReverse: true,
		},
		elem: {
			Video: {
				data: {
					videoMp4: '/public/static-files/video/sample-30s.mp4'
				},
			},
			Facts: {
				elem: {
					Row: {
						cn: {
							gap: 'rg-24@xs',
							margin: 'mt-40 mt-20@xs',
						}
					},
					TitleTextArr: [
						{
							data: {
								title: '549,6',
								text: 'тыс. человек<br>населения',
							},
							elem: {
								Col: {
									cn: {
										gap: 'rg-16 rg-4@xs',
										cols: 'col-3 col-4@xs',
										offset: 'offset-2 offset-0@xs',
									}
								}
							}
						},
						{
							data: {
								title: '174',
								text: 'учреждений<br>здравоохранения',
							},
							elem: {
								Col: {
									cn: {
										gap: 'rg-16 rg-4@xs',
										cols: 'col-3 col-4@xs',
									}
								}
							}
						},
						{
							data: {
								title: '259',
								text: 'образовательных<br>учреждений',
							},
							elem: {
								Col: {
									cn: {
										gap: 'rg-16 rg-4@xs',
										cols: 'col-3 col-4@xs',
									}
								}
							}
						}
					],
				}
			},
		}
	}
