// # КЛАССЫ УТИЛИТ # //
@import "../../helpers/scss/swiss-knife-scss/layer-utilities/utilities";

// # КАСТОМНЫЕ КЛАССЫ # //
.w {
	&-fit {
		width: fit-content;
	}

	@include media(md) {
		&-fit\@md {
			width: fit-content;
		}
	}

	@include media(xs) {
		&-fit\@xs {
			width: fit-content;
		}

		&-auto\@xs {
			width: auto;
		}
	}
}

.h {
	&-100 {
		height: 100%;
	}

	&-auto {
		height: auto;
	}

	@include media(md) {
		&-auto\@md {
			height: auto;
		}

		&-100\@md {
			height: 100%;
		}
	}
}

.lh {
	&-01 {
		line-height: 1.1;
	}

	@include media(xs) {
		&-03\@xs {
			line-height: 1.3;
		}
	}
}

.no-scroll {
	overflow: hidden;
}

.overflow {
	&-auto {
		overflow: auto;

		@include media(md) {
			&\@md {
				overflow: auto;
			}
		}

		@include media(xs) {
			&\@xs {
				overflow: auto;
			}
		}
	}

	&-hidden {
		overflow: hidden;

		@include media(md) {
			&\@md {
				overflow: hidden;
			}
		}

		@include media(xs) {
			&\@xs {
				overflow: hidden;
			}
		}
	}

	&-visible {
		overflow: visible;

		@include media(md) {
			&\@md {
				overflow: visible;
			}
		}

		@include media(xs) {
			&\@xs {
				overflow: visible;
			}
		}
	}
}

.position {
	&-relative {
		position: relative;
	}

	&-absolute {
		position: absolute;

		@include media(xs) {
			&\@xs {
				position: absolute;
			}
		}
	}

	&-fixed {
		position: fixed;
	}

	&-sticky {
		position: sticky;
	}

	&-static {
		position: static;
	}

	@include media(xs) {
		&-relative\@xs {
			position: relative;
		}

		&-absolute\@xs {
			position: absolute;

			@include media(xs) {
				&\@xs {
					position: absolute;
				}
			}
		}

		&-fixed\@xs {
			position: fixed;
		}

		&-sticky\@xs {
			position: sticky;
		}

		&-static\@xs {
			position: static;
		}
	}
}

.text {
	&-transform {
		&-upper {
			text-transform: uppercase;
		}

		&-lower {
			text-transform: lowercase;
		}

		&-none {
			text-transform: none;
		}
	}

	&-overflow {
		display: block;
		overflow: hidden;

		max-width: 100%;

		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.flex-grow {
	&-1 {
		flex-grow: 1;
	}

	&-0 {
		flex-grow: 0;
	}
}

.vertical-align {
	&-middle {
		vertical-align: middle;
	}

	&-top {
		vertical-align: top;
	}
}

.light-grey {
	color: $light-gray;
}

.dark-green {
	color: $dark-green;
}

.selection-color{
	color: $selection-color;
}

.ws {
	&-pre-line {
		white-space: pre-line;
	}

	&-pre-line\@xs {
		@include media(xs) {
			white-space: pre-line;
		}
	}

	&-normal {
		white-space: normal;
	}

	&-normal\@xs {
		@include media(xs) {
			white-space: normal;
		}
	}
}

.font {
	&-size {
		&-40 {
			line-height: 1.1;

			@include font-size-responsive(2.2, 4);
		}
	}
}

.visually-hidden {
	position: absolute;

	overflow: hidden;
	clip: rect(0 0 0 0);

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	white-space: nowrap;

	border: 0;
	clip-path: inset(100%);
}
