-
	const TabsPageLinks = {
		includeSection: 'TabsPageLinks',
		elem: {
			Heading: {
				data: {
					tag: 'h3',
					text: '<span class="light-grey">Торговая политика.</span> Документы для осуществления торговой деятельности'
				},
				cn: {
					textIndent: true,
					size: 'h3'
				}
			},
			TabsButtons: {
				dataArr: {
					buttonArr: [
						{
							data: {
								dataTabsButton: 'current'
							},
							elem: {
								Button: {
									data: {
										text: 'текущие',
									}
								}
							}
						},
						{
							data: {
								dataTabsButton: 'archive'
							},
							elem: {
								Button: {
									data: {
										text: 'Архив',
									}
								}
							}
						},
					]
				},
			},
			TabsContentArr: [
				{
					data: {
						dataTabsContent: 'current',
					},
					elem: {
						PageLinksArr: [
							{
								data: {
									extension: 'PDF',
									href: '#!',
								},
								elem: {
									ColLink: {
										cn: {
											cols: 'col-9 col-4@xs',
											display: 'd-flex',
											direction: 'flex-direction-column@xs',
											alignItems: 'align-items-start'
										}
									},
									Text: {
										data: {
											text: 'реализация минеральных удобрений сельскохозяйственным товаропроизводителям'
										},
										cn: {
											size: 'bigger',
										},
									},
									TextDateRight: {
										data: {
											text: '01.06.2023-30.11.2023'
										},
										cn: {
											style: 'cap',
											order: 'order-3'
										}
									},
								},
								opt: {
									download: true
								},
							},
							{
								data: {
									extension: 'PDF',
									href: '#!',
								},
								elem: {
									ColLink: {
										cn: {
											cols: 'col-9 col-4@xs',
											display: 'd-flex',
											direction: 'flex-direction-column@xs',
											alignItems: 'align-items-start'
										}
									},
									Text: {
										data: {
											text: 'продажа удобрений сельскохозяйственным производителям'
										},
										cn: {
											size: 'bigger',
										},
									},
									TextDateRight: {
										data: {
											text: '01.06.2023-30.11.2023'
										},
										cn: {
											style: 'cap',
											order: 'order-3'
										}
									},
								},
								opt: {
									download: true
								},
							},
						]
					},
				},
				{
					data: {
						dataTabsContent: 'archive',
					},
					elem: {
						PageLinksArr: [
							{
								data: {
									extension: 'PDF',
									href: '#!',
								},
								elem: {
									ColLink: {
										cn: {
											cols: 'col-9 col-4@xs',
											display: 'd-flex',
											direction: 'flex-direction-column@xs',
											alignItems: 'align-items-start'
										}
									},
									Text: {
										data: {
											text: 'реализация минеральных удобрений сельскохозяйственным товаропроизводителям'
										},
										cn: {
											size: 'bigger',
										},
									},
									TextDateRight: {
										data: {
											text: '01.06.2023-30.11.2023'
										},
										cn: {
											style: 'cap',
											order: 'order-3'
										}
									},
								},
								opt: {
									download: true
								},
							},
							{
								data: {
									extension: 'PDF',
									href: '#!',
								},
								elem: {
									ColLink: {
										cn: {
											cols: 'col-9 col-4@xs',
											display: 'd-flex',
											direction: 'flex-direction-column@xs',
											alignItems: 'align-items-start'
										}
									},
									Text: {
										data: {
											text: 'продажа удобрений сельскохозяйственным производителям'
										},
										cn: {
											size: 'bigger',
										},
									},
									TextDateRight: {
										data: {
											text: '01.06.2023-30.11.2023'
										},
										cn: {
											style: 'cap',
											order: 'order-3'
										}
									},
								},
								opt: {
									download: true
								},
							},
						]
					},
				},
			]
		},
	}
