-
	function classes(cn) {
		const BLOCK = CN('filter-purchase');

		return {
			filterPurchase: BLOCK({}, [cn?.margin]),
			filterPurchaseContainer: BLOCK('container'),
			filterPurchaseTableHeading: BLOCK('table-heading'),
			filterPurchaseTabsButtons: BLOCK('tabs-buttons'),
			filterPurchaseTabsContent: BLOCK('tabs-content'),
			filterPurchaseItem: BLOCK('item'),
			filterPurchaseItemColName: BLOCK('item-col-name'),
			filterPurchaseItemPublication: BLOCK('item-publication'),
			filterPurchaseItemNumber: BLOCK('item-number'),
			filterPurchaseItemName: BLOCK('item-name'),
			filterPurchaseItemType: BLOCK('item-type'),
			filterPurchaseItemStatus: BLOCK('item-status'),
			filterPurchaseItemOpening: BLOCK('item-opening'),
			filterPurchaseItemButton: BLOCK('item-button'),
			filterPurchaseItemHidden: BLOCK('item-hidden'),
			filterPurchaseItemDelimiter: BLOCK('item-delimiter'),
			filterPurchaseItemText: BLOCK('item-text'),
			filterPurchaseBlockHidden: BLOCK('block-hidden')
		}
	}
