-
	function classes(cn) {
		const BLOCK = CN('tabs-images-heading')

		return {
			tabsImagesHeading: BLOCK({}, [cn?.margin]),
			tabsImagesHeadingTabsButtons: BLOCK('tabs-buttons'),
			tabsImagesHeadingRowTop: BLOCK('row-top'),
		}
	}
