-
	function classes(cn) {
		const BLOCK = CN('filter-news');

		return {
			filterNews: BLOCK({}, [cn?.margin]),
			filterNewsContainer: BLOCK('container'),
			filterNewsSubscriptionForm: BLOCK('subscription-form'),
		}
	}
